.module {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  max-width: 30%;
}

.home-menu{

}

.home-menu-item{
  text-align: center;
  padding: 5px;
  font-size: 13px;
  color: gray("700")
}