/*---Page Box---*/
/*--------------*/

.content-round {
  .overlay, img {
    overflow: hidden;
    border-radius: 15px;
  }
}

.page-box {
  z-index: 19;
  position: absolute;
  padding: 0px 20px;
  left: 0px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

/*---Page Countdown---*/
/*--------------------*/

.countdown {
  .countdown-hours, .countdown-minutes, .countdown-years, .countdown-seconds, .countdown-days {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
  }
  em {
    font-size: 12px;
    font-style: normal;
    display: block;
    font-weight: 300;
    color: #9d9d9d;
    margin-top: -5px;
  }
}

/*---Page Login---*/
/*----------------*/

.page-content-full .page-login .login-bg {
  width: 130%;
  margin-left: -15%;
}

.page-login {
  min-width: 270px;
  max-width: 300px;
  margin: 0px auto 30px auto;
}

.page-login-full {
  max-width: 100% !important;
  margin-left: 20px;
  margin-right: 20px;
}

.cover-item .login-bg {
  margin-top: -17px;
}

.page-login {
  .login-bg {
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 12px !important;
  }
  .login-image {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    position: absolute;
    margin-top: -60px;
    right: 10px;
    border-radius: 20px;
  }
  .page-login-field {
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    i {
      position: absolute;
      z-index: 2;
      height: 45px;
      line-height: 45px;
      width: 20px;
      text-align: center;
    }
    img {
      position: absolute;
      z-index: 2;
      height: 22px;
      width: 30px;
      line-height: 45px;
      margin-top: 10px;
      text-align: center;
    }
    em, a {
      position: absolute;
      right: 0px;
      z-index: 2;
      top: 0px;
      font-size: 10px;
      color: #cacaca;
      transition: all 250ms ease;
    }
    input {
      &:focus ~ em {
        color: #000000;
        opacity: 0;
      }
      font-size: 12px;
      height: 45px;
      line-height: 45px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.05);
      background-color: transparent;
      display: block;
      width: 100%;
      padding-left: 30px;
      &::placeholder {
        color: #aaaaaa;
      }
    }
  }
  .page-login-links a {
    font-size: 10px;
    color: #aaaaaa;
  }
  .forgot i {
    padding-left: 5px;
    display: none;
  }
  .create i {
    padding-right: 10px;
    display: none;
  }
}

/*---Page VCard---*/
/*----------------*/

#page-vcard {
  padding-top: 20px;
}

.vcard-header {
  img {
    width: 103px;
    margin: 0px auto 30px auto;
    background-color: #FFFFFF;
    position: absolute;
    left: 0px;
    border-radius: 20px;
  }
  padding-left: 130px;
}

.vcard-title {
  font-weight: 800;
  font-size: 18px;
  margin-top: 30px;
}

.vcard-field {
  padding-top: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  strong {
    color: #ababab;
    font-weight: 400;
    font-size: 10px;
  }
  i {
    position: absolute;
    top: 35px;
    width: 15px;
    text-align: center;
    right: 0px;
    opacity: 0.3;
  }
  a {
    color: #1f1f1f;
    font-weight: 400;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

/*---Page Timeline---*/
/*-------------------*/

.timeline-cover {
  height: 300px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 30px;
  background-position: center center;
  background-size: cover;
  .overlay {
    opacity: 0.8;
  }
  .content {
    z-index: 10;
  }
}

.timeline-body {
  margin-top: 210px;
  padding-top: 15px;
  z-index: 2;
  background-color: #F2F1F6;
  padding-bottom: 10px;
}

.timeline-header {
  height: 55px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  .back-button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    z-index: 11;
  }
  .menu-icon {
    position: absolute;
    top: 2px;
    right: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #FFFFFF;
    z-index: 11;
    em {
      background-color: #FFFFFF;
    }
  }
}

.timeline-logo {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.timeline-cover {
  .timeline-heading {
    margin-top: 220px;
    padding-left: 65px;
  }
  .timeline-sub-heading {
    padding-left: 65px;
  }
  .timeline-image {
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    border-radius: 50px;
    position: absolute;
    bottom: -1px;
  }
}

.timeline-deco {
  background-color: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: -5px;
  bottom: 0px;
  left: 43px;
  width: 1px;
}

.timeline-item-content {
  box-shadow: 0 10px 47px 0 rgba(0, 0, 0, 0.05), 0 5px 14px 0 rgba(0, 0, 0, 0.03);
  background-color: #FFFFFF;
  margin: 0px 15px 30px 90px;
  padding: 20px 15px;
  border-radius: 15px;
  overflow: hidden;
}

.timeline-item-content-full {
  box-shadow: 0 10px 47px 0 rgba(0, 0, 0, 0.05), 0 5px 14px 0 rgba(0, 0, 0, 0.03);
  background-color: #FFFFFF;
  margin: 0px 15px 30px 90px;
  padding: 20px 15px;
  border-radius: 15px;
  overflow: hidden;
  padding: 0px;
  h5 {
    padding: 5px 15px 15px 15px;
  }
}

.timeline-item {
  i {
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    left: 21px;
    top: 25px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 10px 47px 0 rgba(0, 0, 0, 0.05), 0 5px 14px 0 rgba(0, 0, 0, 0.2);
    transition: all 250ms ease;
  }
  img {
    position: absolute;
    width: 45px;
    height: 34px;
    line-height: 45px;
    left: 21px;
    top: 25px;
    font-size: 18px;
    text-align: center;
    transition: all 250ms ease;
  }
}

/*Timeline Center*/

.timeline-cover-center {
  .timeline-sub-heading, .timeline-heading {
    padding-left: 0px;
    text-align: center;
  }
  .timeline-image {
    top: 50%;
    bottom: auto;
    margin-top: -150px;
    left: 50%;
    margin-left: -60px;
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
  }
}

.timeline-body-center {
  padding-bottom: 40px;
  i {
    width: 60px;
    height: 60px;
    left: 50%;
    line-height: 60px;
    margin-left: -31px;
    margin-top: -115px;
  }
  .timeline-deco {
    left: 50%;
    margin-left: -1px;
  }
  .timeline-item-content, .timeline-item-content-full {
    margin: 120px 20px 20px 20px !important;
    padding: 20px;
  }
}

/*---Page Profile---*/
/*------------------*/

.profile-1 .profile-header {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.profile-1-back {
  position: absolute;
  top: 0px;
  left: 5px;
  z-index: 2;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #1f1f1f;
  z-index: 2;
}

.profile-1-menu {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 2;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #1f1f1f;
  z-index: 2;
}

.profile-logo {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

.profile-header-clear {
  height: 350px;
  pointer-events: none;
}

.profile-1 {
  .profile-body {
    position: relative;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border: solid 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0px 20px;
    padding: 0px 20px;
    z-index: 10;
  }
  .profile-button {
    margin-top: -22px;
    letter-spacing: 1.1px;
  }
  .profile-heading {
    font-size: 28px;
    text-align: center;
    margin-top: 25px;
  }
  .profile-sub-heading {
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
    color: #9d9d9d;
  }
  .profile-stats {
    margin: 20px 30px 30px 20px;
  }
  .profile-content {
    margin: 0px 20px 30px 10px;
  }
  .profile-stats a {
    width: 33.3%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #1f1f1f;
    i {
      font-size: 24px;
      text-align: center;
      display: block;
    }
  }
}

.profile-gallery a {
  width: 29%;
  margin: 0px 2% 0px 2%;
  float: left;
}

/*---Page System---*/
/*-----------------*/

.system-box-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.system-box {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: none;
  padding: 10px 15px;
  strong {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  em {
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0px;
    font-style: normal;
    padding-right: 35px;
    font-size: 12px;
  }
  i {
    position: absolute;
    font-size: 8px;
    height: 40px;
    width: 10px;
    top: 0px;
    line-height: 40px;
    right: 15px;
  }
}

.system-box-wrapper .system-box {
  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  }
}

/*---Page Team---*/
/*---------------*/

.team-member img {
  width: 180px;
  margin: 0 auto 20px auto;
  border-radius: 15px;
}

.team-gallery a {
  width: 29%;
  margin: 0px 2% 0px 2%;
  float: left;
}

/*---PageApp Calendar---*/
/*----------------------*/

.calendar {
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  max-width: 90%;
  margin: 0px auto 30px auto;
}

.cal-header {
  border-bottom: solid 1px rgba(255, 255, 255, 0.01);
}

.cal-title, .cal-sub-title {
  height: 60px;
  line-height: 60px;
  margin-bottom: 0px;
  padding: 0px 15px;
}

.cal-title-right {
  float: right;
  margin-top: -60px;
  line-height: 60px;
  height: 60px;
  padding-right: 20px;
}

.cal-title-left {
  float: left;
  margin-top: -60px;
  line-height: 60px;
  height: 60px;
  padding-left: 20px;
}

.cal-days {
  margin-bottom: 10px;
  a {
    width: 14.2857142857%;
    float: left;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 12px;
  }
}

.cal-disabled {
  color: #cacaca !important;
}

.cal-selected {
  span {
    z-index: 2;
    position: relative;
    color: #FFFFFF;
  }
  i {
    color: #000000;
    z-index: 0;
    opacity: 1;
    font-size: 25px;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin: -16px 0px 0px -16px;
    text-align: center;
    line-height: 32px;
  }
}

.cal-dates a {
  width: 14.2857142857%;
  float: left;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #666666;
  font-weight: 500;
  font-size: 11px;
}

.cal-dates-border a {
  overflow: hidden;
  border-right: solid 1px rgba(0, 0, 0, 0.05);
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.cal-schedule {
  min-height: 80px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.055);
  em {
    line-height: 20px;
    padding: 20px 0px 0px 20px;
    position: absolute;
    font-size: 11px;
    opacity: 0.4;
    font-style: normal;
  }
  strong {
    display: block;
    padding: 15px 0px 0px 100px;
    font-size: 14px;
  }
  span {
    display: block;
    font-size: 10px;
    color: #a2a2a2;
    margin-top: -10px;
    i {
      width: 50px;
      display: inline-block;
      text-align: center;
      padding: 0px 20px 0px 102px;
    }
  }
}

.cal-message {
  i {
    position: absolute;
    height: 40px;
    line-height: 43px;
    font-size: 27px;
    right: 20px;
  }
  display: block;
  strong {
    display: block;
    line-height: 20px;
    font-weight: 400;
    font-size: 11px;
    padding-left: 20px;
  }
}

/*---Chat---*/
/*----------*/

.speech-left {
  max-width: 240px;
  float: right;
}

.speech-right {
  max-width: 240px;
  float: left;
}

.speach-image {
  padding: 0px !important;
  img {
    margin: 0px;
  }
}

.speech-last {
  margin-bottom: 0px !important;
}

.speech-bubble {
  position: relative;
  border-radius: 17px;
  padding: 10px 15px;
  margin-bottom: 15px;
  line-height: 22px;
  font-size: 13px;
  background-color: #E5E5EA;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.speech-read {
  font-size: 10px;
  font-style: normal;
  display: block;
  text-align: right;
  font-weight: 500;
  color: #9d9d9d;
}

/*---Homepage Slider---*/
/*---------------------*/

.caption-style-1 {
  position: absolute;
  z-index: 20;
  bottom: 0px;
  left: 20px;
  right: 20px;
}

.caption-style-2 {
  background-color: #FFFFFF;
  position: absolute;
  z-index: 20;
  bottom: 15px;
  left: 15px;
  right: 15px;
  padding: 15px 15px 15px 15px;
  border-radius: 15px;
  strong {
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: -0.8px;
    margin-bottom: -5px;
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
  }
  span {
    display: block;
    font-size: 12px;
    color: #666666;
  }
  .image-details {
    margin-top: 10px;
    border-top: solid 1px rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
  }
}

.caption-style-3 {
  position: absolute;
  z-index: 20;
  bottom: 30px;
  left: 20px;
  right: 20px;
  h1 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  p {
    border-radius: 10px;
    padding: 15px;
    bottom: 0px;
    margin-bottom: -10px;
  }
  .button {
    position: absolute;
    right: 0px;
    margin-top: -55px;
    z-index: 10;
  }
}

@media (max-width: 330px) {
  .caption-style-3 h1 {
    font-size: 24px;
    line-height: 30px;
  }
}

.caption-style-4 {
  position: absolute;
  z-index: 20;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 15px 20px 15px 20px;
  strong {
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    color: #acacac;
  }
  h1 {
    font-weight: 700;
    color: #FFFFFF;
  }
  p {
    position: absolute;
    padding-right: 20px;
    margin-bottom: 20px;
    bottom: 0px;
    color: #efefef;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 330px) {
  .caption-style-4 {
    padding-top: 5px !important;
  }
}

.caption-style-5 {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 20;
  left: 20px;
  right: 20px;
  h1 {
    font-size: 28px;
    line-height: 32px;
    top: 50%;
    left: 0px;
    right: 0px;
    font-weight: 700;
    color: #FFFFFF;
  }
  .button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}




.slider-margins *, .slider-no-margins *, .simple-slider {
  overflow-x: hidden !important;
  overflow: visible !important;
}

.slider-no-margins {
  .single-slider .item {
    margin: 0px 10px 0px 10px;
  }

}



.slider-margins {
  margin: 0px;
  padding: 0 5px 0px 5px;
  .item {
    margin: 0px 5px 0px 5px;
  }
  .double-slider .item {
    margin: 0px;
  }
}

.single-slider .item, .double-slider .item, .single-slider .overlay, .double-slider .overlay {
  border-radius: 5px !important;
  overflow: hidden !important;
}

.single-slider .item img, .double-slider .item img {
  border-radius: 5px;
}




.image-details {
  height: 30px !important;
  z-index: 99;
  img {
    width: 20px !important;
    position: absolute;
    left: 0px;
    top: 12px;
    margin-top: 4px;
  }
  a {
    &:nth-child(1) {
      padding: 10px 0px 0px 30px;
      color: #a3a3a3;
    }
    &:nth-child(2) {
      color: #a3a3a3;
      position: absolute;
      right: 0px;
      top: 0px;
      line-height: 55px;
    }
    &:nth-child(3) {
      color: #a3a3a3;
      position: absolute;
      right: 60px;
      top: 0px;
      line-height: 55px;
    }
    &:nth-child(4) {
      color: #a3a3a3;
      position: absolute;
      right: 120px;
      top: 0px;
      line-height: 55px;
    }
  }
  i {
    padding-right: 5px;
  }
  a {
    font-size: 12px;
  }
}

.call-to-action-1, .call-to-action-2, .call-to-action-3 {
  margin-bottom: 20px !important;
}

.call-to-action-1 h1, .call-to-action-2 h1, .call-to-action-3 h1 {
  margin-bottom: 10px;
  font-weight: 700;
}

.call-to-action-socials {
  width: 180px;
  margin: 0 auto 25px auto;
  a {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border-radius: 10px;
    margin: 0px 10px;
  }
}

/*---Coverpage---*/
/*---------------*/

.cover-back-buton {
  left: 0px;
}

.cover-home-button {
  right: 0px;
}

.cover-back-button, .cover-home-button {
  position: absolute;
  top: 0px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 12 !important;
}

.cover-tag {
  font-size: 11px;
  padding: 3px 12px;
  font-weight: 700;
  line-height: 15px;
}

.cover-small-text {
  font-size: 11px;
  color: #FFFFFF;
  display: block;
}

.cover-item {
  background-size: cover;
  background-position: center center;
}

.cover-content {
  z-index: 5 !important;
  position: absolute;
}

.cover-overlay {
  z-index: 3 !important;
  position: absolute;
}

.content-boxed .cover-content-center {
  padding: 0px 15px 0px 15px;
}

.cover-content-center {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.cover-infinite-background {
  position: fixed;
  top: 0px;
  left: -30px;
  bottom: 0px;
  right: -20px;
  z-index: 2 !important;
  height: 100%;
  background-size: 90%;
  background-image: url(../images/infinite_bg.png);
  animation: 90s scroll infinite linear;
}

@keyframes scroll {
  100% {
    background-position: 2000px 2000px;
  }
}


@media (max-width: 350px) {
  .cover-content-center {
    width: 300px;
  }
}

@media (min-width: 350px) and (max-width: 500px) {
  .cover-content-center {
    width: 320px;
  }
}

.cover-content-center-full {
  top: 50%;
  left: 0px !important;
  margin-left: 0px !important;
  padding: 0px 20px;
}

.cover-content-bottom {
  top: auto !important;
  margin-bottom: 0px;
}

.cover-content-max-bottom {
  padding-bottom: 0px !important;
}

.cover-content .content-round {
  margin: 0px !important;
}

.cover-content-bottom, .above-overlay-bottom {
  position: absolute;
  padding: 0px 15px 0px 15px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.cover-content-bottom, .above-overlay-top {
  position: absolute;
  padding: 0px 20px 30px 20px;
  top: 0px;
  left: 0px;
  right: 0px;
}

.cover-item .cover-icon {
  width: 158px !important;
  border-radius: 100%;
  margin: 0 auto 30px auto;
}

.cover-slider .overlay-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 1) 100%);
}

.walkthrough-buttons {
  .owl-dot.active {
    background-color: #5D9CEC;
  }
  .owl-dots {
    top: -40px;
  }
  .next-slide-custom, .prev-slide-custom, .skip-slide-custom {
    position: absolute;
    bottom: 10px;
    width: 60px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    z-index: 9;
    color: #888888;
    font-size: 12px;
  }
  .next-slide-custom {
    right: 0px !important;
  }
  .skip-slide-custom, .prev-slide-custom {
    left: 0px !important;
  }
}

.walkthrough-has-button {
  .owl-dot, .next-slide-custom, .prev-slide-custom, .skip-slide-custom {
    bottom: 60px;
  }
}

.get-started-custom {
  position: absolute;
  top: 100%;
  margin-top: -60px;
  z-index: 99999;
  left: 20px;
  right: 10px;
  width: auto !important;
}

.walkthrough-slider .owl-dots {
  position: absolute;
  width: 100%;
  top: auto;
  bottom: 20px;
}

/*---Map FullScreen---*/
/*--------------------*/

.map-full {
  .cover-content, .cover-overlay {
    transition: all 350ms ease;
  }
}

.hide-map {
  position: absolute;
  margin-top: -60px;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
}

.activate-map {
  opacity: 1;
  transition: all 250ms ease;
  transition: all 350ms ease;
}

.deactivate-map {
  opacity: 0;
  pointer-events: none;
  transition: all 350ms ease;
}

/*---Added to Home---*/

.add-to-home-ios {
  bottom: 20px;
  i {
    width: 40px;
    text-align: center;
    position: fixed;
    font-size: 30px;
    left: 50%;
    margin-left: -20px;
    transform: rotate(180deg);
    color: #0f1215;
  }
}

.add-to-home-android {
  top: 20px;
  i {
    width: 40px;
    text-align: center;
    position: fixed;
    top: 3px;
    right: 15px;
    font-size: 30px;
    margin-left: -20px;
    color: #0f1215;
  }
}

.add-to-home {
  position: fixed;
  background-color: #0f1215;
  z-index: 999;
  left: 15px;
  right: 15px;
  border-radius: 20px;
  height: 80px;
  h1 {
    position: absolute;
    padding-left: 80px;
    padding-top: 8px;
    color: #FFFFFF;
    font-size: 14px;
  }
  p {
    position: absolute;
    font-size: 11px;
    padding-right: 20px;
    padding-left: 80px;
    padding-top: 35px;
    line-height: 14px;
  }
  img {
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

/*Targeting iPhone X Style*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3), only screen and (min-width: 414px) and (max-width: 767px) {
  .added-to-home {
    .header-clear-small {
      padding-top: 120px !important;
    }
    .header-clear-medium {
      padding-top: 140px !important;
    }
    .header-clear-large {
      padding-top: 155px !important;
    }
    .header-clear-tabs {
      padding-top: 190px !important;
    }
    .menu-sidebar-left-push, .menu-sidebar-right-push, .menu-sidebar-left-over, .menu-sidebar-right-over, .menu-sidebar-left-full, .menu-sidebar-right-full, .menu-sidebar-left-parallax, .menu-sidebar-right-parallax {
      padding-top: 30px;
    }
    .header {
      margin-top: 30px;
    }
    .ioshome {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 32px;
      z-index: 100;
      background-color: #FFFFFF;
    }
    .page-content-full {
      /*
          margin-top:25px!important;
          padding-top:25px!important;
  */
      .cover-item {
        height: 101vh !important;
      }
    }
  }
}


/* @url https://github.com/feimosi/baguetteBox.js*/

#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 1);
  -webkit-transition: opacity .35s ease;
  transition: opacity .35s ease;
  &.visible {
    opacity: 1;
  }
  .full-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    figure {
      display: inline;
      margin: 0;
      height: 100%;
    }
    img {
      display: inline-block;
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    }
    figcaption {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      line-height: 1.8;
      white-space: normal;
      color: #FFFFFF;
      background-color: #000;
      background-color: rgba(0, 0, 0, 1) !important;
      font-family: sans-serif;
      height: 50px;
      margin-top: 20px;
      font-size: 12px;
    }
    &:before {
      content: "";
      display: inline-block;
      height: 50%;
      width: 1px;
      margin-right: -1px;
    }
  }
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  -webkit-transition: left .4s ease, -webkit-transform .4s ease;
  transition: left .4s ease, -webkit-transform .4s ease;
  transition: left .4s ease, transform .4s ease;
  transition: left .4s ease, transform .4s ease, -webkit-transform .4s ease, -moz-transform .4s ease;
  &.bounce-from-right {
    -webkit-animation: bounceFromRight .4s ease-out;
    animation: bounceFromRight .4s ease-out;
  }
  &.bounce-from-left {
    -webkit-animation: bounceFromLeft .4s ease-out;
    animation: bounceFromLeft .4s ease-out;
  }
}

@keyframes bounceFromRight {
  0%,100% {
    margin-left: 0;
  }

  50% {
    margin-left: -30px;
  }
}


@keyframes bounceFromLeft {
  0%,100% {
    margin-left: 0;
  }

  50% {
    margin-left: 30px;
  }
}


.baguetteBox-button {
  &#next-button, &#previous-button {
    width: 50px;
    height: 60px;
    bottom: 0px;
    background-color: transparent;
  }
  position: absolute;
  cursor: pointer;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  -moz-border-radius: 15%;
  border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  &:focus, &:hover {
    background-color: rgba(50, 50, 50, 0.9);
  }
  &#next-button {
    right: 0px;
    width: 33.3%;
    font-size: 16px;
    text-align: right;
    padding-right: 20px;
  }
  &#previous-button {
    width: 33.3%;
    left: 0px;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
  }
  &#close-button {
    font-size: 14px;
    bottom: 0px;
    width: 50px;
    left: 50%;
    margin-left: -16.7%;
    height: 60px;
    background-color: transparent;
    width: 33.3%;
  }
  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1 {
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@keyframes bounce {
  0%,100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}


.baguetteBox-button {
  display: block !important;
}

/*----Preloader----*/
/*-----------------*/

.preloader-dark {
  background-color: #1b1d26 !important;
  .cp1, .cp2 {
    opacity: 0.05;
    background-color: #FFFFFF !important;
  }
  em {
    color: rgba(255, 255, 255, 0.3);
  }
}

.preloader-light {
  background-color: #FFFFFF !important;
  .cp1 {
    opacity: 0.05;
    background-color: #000000 !important;
  }
}

.preloader-dark .cp2 {
  opacity: 0.05;
  background-color: #000000 !important;
}

.preloader-light em {
  color: rgba(0, 0, 0, 0.8);
}

.spinner-yellow:after {
  box-shadow: inset #F6BB42 0 0 0 1px !important;
}

.spinner-green:after {
  box-shadow: inset #27ae60 0 0 0 1px !important;
}

.spinner-red:after {
  box-shadow: inset #D8334A 0 0 0 1px !important;
}

.spinner-pink:after {
  box-shadow: inset #EC87C0 0 0 0 1px !important;
}

.spinner-blue:after {
  box-shadow: inset #5D9CEC 0 0 0 1px !important;
}

.spinner-teal:after {
  box-shadow: inset #A0CECB 0 0 0 1px !important;
}

.spinner-magenta:after {
  box-shadow: inset #8067B7 0 0 0 1px !important;
}

.spinner-black:after {
  box-shadow: inset #000000 0 0 0 1px !important;
}

.spinner-brown:after {
  box-shadow: inset #8E8271 0 0 0 1px !important;
}

.spinner-red:after {
  box-shadow: inset #BF263C 0 0 0 1px !important;
}

.hide-preloader {
  pointer-events: none;
  opacity: 0 !important;
  transition: all 500ms ease;
}

.page-change-preloader {
  opacity: 0;
  pointer-events: none;
  background-color: #1b1d26;
  position: fixed;
  background-size: 100px 60px;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999999;
  pointer-events: none;
  transition: all 250ms ease !important;
}

.show-change-preloader {
  opacity: 1;
  transition: all 250ms ease !important;
}

#preload-spinner, .preload-spinner {
  animation: preload-spin1 1.2s ease infinite;
  clip: rect(0, 40px, 40px, 20px);
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}

#preload-spinner:after, .preload-spinner:after {
  animation: preload-spin2 1.2s ease-in-out infinite;
  clip: rect(0, 40px, 40px, 20px);
  content: '';
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  box-shadow: inset #5D9CEC 0 0 0 2px;
}

@keyframes preload-spin1 {
  25% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(185deg);
  }
}


@keyframes preload-spin2 {
  0% {
    transform: rotate(-175deg);
  }

  100% {
    transform: rotate(175deg);
  }
}


#preloader {
  h1 {
    width: 100%;
    margin-top: 150px;
  }
  em {
    position: fixed;
    width: 100%;
    bottom: 20px;
    font-style: normal;
    text-align: center;
    font-size: 10px;
    line-height: 22px;
  }
  p {
    text-align: center;
    font-size: 12px;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  z-index: 999999999 !important;
  pointer-events: none;
  opacity: 1;
  transition: all 500ms ease;
}

/*---Menu---*/
/*----------*/

.menu-box {
  position: fixed;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #FFFFFF;
  z-index: 9999;
  display: none;
  border-radius: 15px;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  outline: none;
  border: none;
  text-decoration: none;
  .menu-wrapper {
    background-color: #FFFFFF;
    border-radius: 15px;
    overflow: auto;
  }
  &.bg-transparent {
    border-radius: 0px;
  }
}

.menu-bottom {
  position: fixed;
  left: 7px;
  right: 7px;
  bottom: 0px;
  border-radius: 15px;
  transform: translateY(110%);
}

.menu-modal {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  background-color: #FFFFFF;
  z-index: 999;
  transform: scale(0.8, 0.8);
  opacity: 0;
  border-radius: 15px;
  pointer-events: none;
  &.menu-box-active {
    opacity: 1 !important;
    pointer-events: all !important;
    transform: scale(1, 1) !important;
  }
}

.hide-menu {
  transform: translateY(100%) !important;
  transition: all 350ms ease;
}



.menu-sidebar-left-push, .menu-sidebar-left-over, .menu-sidebar-left-parallax, .menu-sidebar-left-full {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 310px;
  border-radius: 0px !important;
  transform: translateX(-310px);
}

.menu-sidebar-right-push, .menu-sidebar-right-over, .menu-sidebar-right-parallax, .menu-sidebar-right-full {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 310px;
  border-radius: 0px !important;
  transform: translateX(310px);
}

.menu-sidebar-left-full {
  width: 100% !important;
  transform: translateX(-100%);
  border-radius: 0px !important;
}

.menu-sidebar-right-full {
  width: 100% !important;
  transform: translateX(100%);
  border-radius: 0px !important;
}

.menu-overlay-instant {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all 200ms ease !important;
}

.move-contents-left {
  transform: translateX(310px) !important;
}

.move-contents-right {
  transform: translateX(-310px) !important;
}

.parallax-contents-left {
  transform: translateX(calc(100% - 80%)) !important;
}

.parallax-contents-right {
  transform: translateX(calc(-100% + 80%)) !important;
}

.menu-sidebar-left-push.menu-box-active, .menu-sidebar-right-push.menu-box-active, .menu-sidebar-left-over.menu-box-active, .menu-sidebar-right-over.menu-box-active, .menu-sidebar-left-parallax.menu-box-active, .menu-sidebar-right-parallax.menu-box-active {
  transform: translateX(0px) !important;
}

.menu-bottom.menu-box-active {
  transform: translateY(-20px);
}

.menu-sidebar-left-full.menu-box-active, .menu-sidebar-right-full.menu-box-active {
  transform: translateX(0%) !important;
}

.menu-overlay-instant.menu-box-active {
  opacity: 1;
  pointer-events: all;
  transition: all 200ms ease !important;
}

#menu-hider {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
}

/*Search Bar*/

#menu-search-list {
  padding: 0px 20px;
}

.search-header {
  background-color: #ebebec;
  border-radius: 10px;
  height: 45px;
  line-height: 45px;
  display: block;
  margin-top: 20px;
  .fa-search {
    color: #8e8e93;
    position: absolute;
    height: 45px;
    left: 15px;
    line-height: 45px;
  }
  input {
    color: #8e8e93;
    font-size: 14px;
    padding-left: 40px;
    background-color: transparent;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
  }
  a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;
    color: #ebebec;
    transition: all 350ms ease;
  }
}

.search-close-active {
  color: red !important;
}

.menu-search-trending {
  ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    li {
      a {
        line-height: 40px;
        font-size: 14px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.05);
      }
      &:last-child a {
        border-bottom: none;
      }
    }
  }
  h1 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.move-search-list-up {
  margin-top: -85px;
  transition: all 250ms ease !important;
}

/*Search Result*/

.search-result-list {
  margin: 10px 0px 0px 0px;
  min-height: 68px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  padding-bottom: 15px;
  img {
    width: 65px;
    position: absolute;
    border-radius: 12px;
    margin-top: 7px;
    box-shadow: 0 15px 47px 0 rgba(0, 0, 0, 0.12), 0 5px 14px 0 rgba(0, 0, 0, 0.03);
  }
  a {
    width: 65px;
    height: 28px;
    line-height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 9px;
    font-weight: 400;
    border-radius: 30px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-style: normal;
    font-weight: 600;
    box-shadow: 0 15px 47px 0 rgba(0, 0, 0, 0.12), 0 5px 14px 0 rgba(0, 0, 0, 0.03);
  }
  h1 {
    padding-left: 80px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding-top: 5px;
  }
  p {
    max-width: 300px;
    font-size: 11px;
    padding-left: 80px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: -9px;
    padding-right: 70px;
  }
}

/*Action Sheets*/
/*-------------*/

.sheet-share-horizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 20px 10px 10px 10px;
  a {
    flex: 0 0 auto;
    flex-direction: column;
    width: 70px;
    float: left;
  }
}

.sheet-share-thumbnails a {
  width: 70px;
  float: left;
}

.sheet-share-horizontal a span, .sheet-share-thumbnails a span {
  font-size: 11px;
  text-align: center;
  display: block;
  color: #808080;
}

.sheet-share-horizontal a i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 22px;
  border-radius: 10px;
}

.sheet-share-thumbnails {
  a {
    i {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-size: 22px;
      border-radius: 10px;
      width: 55px;
      height: 55px;
      line-height: 55px;
      border-radius: 15px;
    }
    width: 100px;
    margin: 25px 0px 0px 0px;
  }
  width: 300px;
  margin: 0px auto 20px auto;
}

.sheet-share-list {
  a {
    display: block;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    height: 47px;
    line-height: 46px;
  }
  span {
    font-size: 14px;
  }
  a i:first-child {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    border-radius: 5px;
    text-align: center;
    margin-right: 17px;
    font-size: 12px;
  }
  .fa-angle-right {
    font-size: 10px;
    position: absolute;
    right: 0px;
    height: 50px;
    line-height: 50px;
    width: 70px;
    text-align: center;
    color: #b1b1b1;
  }
  a span {
    color: #808080;
  }
}

/*Menu Styles*/

.menu-hider-active {
  opacity: 1 !important;
  pointer-events: all !important;
}

.menu-bottom, .menu-bottom-active, #menu-hider, .menu-hider-active {
  transition: all 280ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu-page {
  padding-top: 5px;
}

.menu-title {
  padding: 13px 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -1.5px;
  }
  span {
    color: #c3c3c3;
    font-size: 10px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -7px;
    display: block;
    padding-left: 2px;
  }
}

.menu-list {
  list-style: none;
  padding-left: 20px;
  li {
    line-height: 55px;
  }
  .menu-active {
    i:last-child {
      display: none;
    }
    &::after {
      font-family: "Font Awesome 5 Free";
      content: "\f111";
      font-weight: 800;
      font-size: 8px;
      position: absolute;
      height: 70px;
      line-height: 75px;
      margin-top: -58px;
      right: 33px;
      color: #8CC152;
    }
  }
  li {
    a {
      color: #1f1f1f;
    }
    span {
      font-size: 15px;
      padding-left: 40px;
      font-weight: 600;
    }
    em {
      position: absolute;
      left: 0px;
      margin-top: 18px;
      padding-left: 40px;
      font-style: normal;
      font-size: 11px;
      color: #8c8c8c;
    }
    i:first-child {
      position: absolute;
      height: 70px;
      line-height: 73px;
      font-size: 18px;
    }
    img {
      position: absolute;
      height: 24px;
      width: 35px;
      font-size: 18px;
      text-align: center;
      margin-top: 17px;
      margin-left: 10px;
    }
    i:last-child {
      position: absolute;
      right: 9px;
      height: 55px;
      line-height: 55px;
      width: 55px;
      text-align: center;
      font-size: 10px;
      color: #777777;
      margin-top: 10px;
    }
  }
}

.menu-hide {
  position: absolute;
  right: -5px;
  top: 0px;
  height: 90px;
  line-height: 90px;
  width: 80px;
  text-align: center;
  font-size: 20px;
  color: #BF263C;
}

.menu-list-boxed {
  li {
    margin-right: 20px;
    padding-bottom: 18px;
    margin-bottom: 12px;
    border-radius: 10px;
    line-height: 40px;
    border: solid 1px rgba(0, 0, 0, 0.07);
    i {
      &:last-child {
        right: -10px !important;
        top: -8px;
      }
      &:first-child {
        width: 20px;
        text-align: center;
        margin-left: 15px;
        font-size: 18px;
        margin-top: -6px;
      }
    }
  }
  span {
    padding-left: 57px !important;
  }
  em {
    padding-left: 57px !important;
    opacity: 0.76;
  }
  p {
    padding-left: 57px !important;
    padding-top: 15px !important;
    font-size: 18px;
    font-weight: bold;
    color: #222222;
  }
}

/*---Footer---*/
/*------------*/

.footer {
  padding: 40px 30px 1px 30px;
  overflow: hidden;
  z-index: 11;
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  strong i {
    padding: 0px 5px;
  }
  .footer-text {
    text-align: center;
    padding: 10px 10px 0px 10px;
    font-size: 11px;
  }
  strong {
    font-size: 10px;
    display: block;
    text-align: center;
    color: #acacac;
    font-weight: 700;
    margin-top: 0px;
    text-transform: uppercase;
  }
}

@media (min-width: 330px) {
  .footer .footer-text {
    font-size: 13px !important;
  }
}

.footer-socials {
  max-width: 247px;
  margin: 0 auto;
  a {
    float: left;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 1px;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  a i {
    width: 35px;
    height: 35px;
    line-height: 34px;
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
  }
}

.footer-copyright {
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  font-size: 11px;
  line-height: 24px;
}

.footer .footer-logo {
  background-repeat: no-repeat;
  background-size: 155px 22px;
  background-position: center center;
  position: relative;
  width: 100%;
  min-height: 25px;
  left: auto;
  margin: 0 auto;
}

/*---Skin Settings---*/
/*-------------------*/

.dark-skin {
  h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
  }
  .menu-title {
    h1, span {
      color: #FFFFFF;
    }
  }
  .menu-page li span, .header-title, .header-line-1 a {
    color: #FFFFFF;
  }
  .header-line-2 a {
    color: #FFFFFF;
    i {
      color: #FFFFFF;
    }
  }
  .accordion a, .link-list a, .fac, .range-slider i, .pagination a, .blockquote-wrapper p {
    color: #FFFFFF;
  }
  .scroll-ad {
    strong, em {
      color: #FFFFFF;
    }
  }
  .tab-titles a, .tab-pill-titles a, .formFieldWrap label, .formTextareaWrap label, .menu-list a span {
    color: #FFFFFF;
  }
  .decoration, .pricing-table {
    background-color: rgba(255, 255, 255, 0.04) !important;
  }
  .contact-form {
    input[type="text"], textarea {
      background-color: rgba(255, 255, 255, 0.04) !important;
    }
  }
  .sortable-list li, .calendar {
    background-color: rgba(255, 255, 255, 0.04) !important;
  }
  background-color: rgba(255, 255, 255, 0.04) !important;
}

.timeline-deco {
  background-color: rgba(255, 255, 255, 0.04) !important;
}

.dark-skin {
  .classic-slider {
    background-color: rgba(255, 255, 255, 0.04) !important;
  }
  .contact-form input, .profile-1 .profile-stats a, .system-box strong, .vcard-field a {
    color: #FFFFFF !important;
  }
  .calendar {
    a, strong, em {
      color: #FFFFFF !important;
    }
  }
  .vcard-field i, .contact-form textarea {
    color: #FFFFFF !important;
  }
  .menu-title, .link-list a, .input-simple-1, .input-simple-2 {
    border-bottom: solid 1px rgba(255, 255, 255, 0.04) !important;
  }
  .menu-list-boxed li, .header-tabs a, .tab-content, .tab-pill-titles a, .tab-titles a {
    border: solid 1px rgba(255, 255, 255, 0.05) !important;
  }
}

.faq {
  border: solid 1px rgba(255, 255, 255, 0.05) !important;
}

.dark-skin {
  .accordion-style-0 .accordion-border {
    border: solid 1px rgba(255, 255, 255, 0.05) !important;
  }
  background-color: #15181b;
  .page-content, .fac-radio-round, .bg-transparent .menu-wrapper, .menu-box, .calendar, .timeline-item-content, .timeline-item-content-full {
    background-color: #15181b;
  }
  #menu-hider {
    background-color: rgba(0, 0, 0, 0.85);
  }
  .header-line-1, .header-line-2, .footer, .scroll-ad, .search-header, .header-tabs {
    background-color: #0f1215 !important;
  }
}

.profile-1 .profile-body {
  background-color: #0f1215 !important;
}

.dark-skin {
  .header-search, .timeline-body, .ioshome {
    background-color: #0f1215 !important;
  }
}

/*---Demo Content - Can Be Deleted---*/
/*-----------------------------------*/

.demo-buttons {
  a {
    width: 30.6%;
    margin-right: 1% !important;
    margin-left: 1% !important;
    box-sizing: border-box;
  }
  .button-full {
    margin-left: 1% !important;
    width: 97.6% !important;
    margin-bottom: 00px;
  }
}

.demo-line {
  display: block;
  padding: 6px 16px;
  font-size: 12px;
}

.demo-icon-font {
  width: 120%;
  article {
    color: #7e7e7e;
    width: 50px;
    height: 50px;
    display: inline-block;
    transform: scale(1.41, 1.41);
  }
}

.demo-settings {
  position: absolute;
  right: 25px;
  top: 0px;
  height: 25px;
  width: 90px;
  line-height: 25px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

.demo-settings-fixed {
  position: absolute;
  z-index: 999;
  top: 70px;
  right: 15px;
}

.demo-header {
  box-shadow: none;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  z-index: 1;
  position: relative;
  transform: translateX(0px) !important;
}

.demo-back-to-top1 {
  width: 34px;
  margin: 0 auto;
  position: relative;
  transform: translateX(15px) !important;
  opacity: 1 !important;
}

.demo-back-to-top2 {
  position: relative;
  transform: translate(0) !important;
  opacity: 1 !important;
}

.center-demo-text {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Demo Menu*/

.toggle-options {
  padding: 8px 0px 0px 0px;
  margin: 0px 20px -5px 20px;
  .toggle-2 {
    transform: scale(0.75, 0.75);
  }
}

.demo-colors {
  padding: 7px 0px 10px 0px;
  .color-highlight {
    position: absolute;
    right: 26px;
    margin-top: -27px;
  }
}

.demo-colors-select {
  width: 50%;
  float: right;
  margin-top: -35px;
  margin-right: 15px;
  a {
    width: 16.6667%;
    float: left;
    text-align: center;
    font-size: 15px;
  }
}

.active-demo-color {
  &:after {
    font-family: "Font Awesome 5 Free";
    content: '\f058';
    font-weight: 900;
    margin-left: -15px;
    margin-top: 1px;
    z-index: 10;
    position: absolute;
  }
  .fa-circle {
    opacity: 0;
  }
}