/*---Header---*/
/*-------------*/

.header-clear-small {
  padding-top: 60px;
}


.header {
  position: fixed;
  height: 50px;
  overflow: hidden;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.1);
}



.header-fixed {
  position: fixed !important;
  z-index: 99;
  box-shadow: 0 10px 47px 0 rgba(0, 0, 0, 0.05), 0 5px 14px 0 rgba(0, 0, 0, 0.1);
}

.header-effect {

}



//
//@media (max-width: 330px) {
//  .header-icon-3 {
//    display: none;
//  }
//}


.header-hidden {
  opacity: 1 !important;
}





.header-line-1 {
  //background-color: #FFFFFF;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 98;
  height: 50px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);


  background: linear-gradient(89deg,$momo 3%, lighten($momo, 5%) 98%);


  .header-icon {
    position: absolute;
    top: 0px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
  }
  a {
    //color: #000000;
    line-height: 50px;
    font-weight: 600;

    color: rgba(255,255,255,0.8);
  }
}



.header-logo-left {
  .header-logo-image {
    //color: rgba(255, 255, 255, 0);
    margin-left: 10px;
    margin-top: 6px;
  }
  .header-logo-title {
    margin-left: 20px;
  }
  .header-icon-1 {
    right: 140px;
    width: 45px;
  }
  .header-icon-2 {
    right: 95px;
  }
  .header-icon-3 {
    right: 50px;
  }
  .header-icon-4 {
    right: 5px;
  }
}



.header-logo-center .header-logo-image {
  left: 50%;
  text-align: center;
  padding: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
  /* transform: translate3d(-50%, 0, 0); */
  position: absolute;
  top: 9px;
}

.header-logo-center .header-logo-title {
  text-align: center;
}

.header-logo-center .header-icon-1 {
  left: 0px;
  width: 45px;
}

.header-logo-center .header-icon-2 {
  left: 45px;
}

.header-logo-center .header-icon-3 {
  right: 50px;
}

.header-logo-center .header-icon-4 {
  right: 5px;
}
