{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}


<div class="page-content header-clear-medium">
    <div class="content">
        <ul class="link-list bottom-0">
            <li><a href="component-ad-boxes.html"><i class="fa fa-angle-right"></i><i
                    class="font-16 fa fa-money-bill-alt color-green-dark"></i><span>Ad Boxes</span></a></li>
            <li><a href="component-add-to-home.html"><i class="fa fa-angle-right"></i><i
                    class="font-16 fa fa-mobile color-gray-dark"></i><span>Add to Home</span></a></li>
            <li><a href="component-accordions.html"><i class="fa fa-angle-right"></i><i
                    class="font-16 fa fa-server color-blue-dark"></i><span>Accordions</span></a></li>
            <li><a href="component-action-sheets.html"><i class="fa fa-angle-right"></i><i
                    class="font-18 far fa-bookmark color-red-dark"></i><span>Action Sheets</span></a></li>
            <li><a href="component-buttons.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-hand-pointer color-green2-dark"></i><span>Buttons</span></a></li>
            <li><a href="component-backtotop.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-chevron-up color-red-dark"></i><span>Back To Top</span></a></li>
            <li><a href="component-charts.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-chart-pie color-gray-dark"></i><span>Charts</span></a></li>
            <li><a href="component-chips.html"><i class="fa fa-angle-right"></i><i
                    class="font-16 fa fa-sun color-yellow-dark"></i><span>Chips</span></a></li>
            <li><a href="component-cookie-box.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-check color-green-dark"></i><span>Cookie Box</span></a></li>
            <li><a href="component-caption-boxes.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-star color-red-dark"></i><span>Caption Boxes</span></a></li>
            <li><a href="component-content-boxes.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-square color-blue-dark"></i><span>Content Boxes</span></a></li>
            <li><a href="component-color-cards.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 far fa-square color-pink-dark"></i><span>Gradient Color Boxes</span></a></li>
            <li><a href="component-columns.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-th-large color-magenta-light"></i><span>Columns</span></a></li>
            <li><a href="component-colors.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-heart color-red-light"></i><span>Color Packs</span></a></li>
            <li><a href="component-dropdowns.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-chevron-down color-yellow-dark"></i><span>Dropdowns</span></a></li>
            <li><a href="component-decorations.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-minus color-gray-dark"></i><span>Divders</span></a></li>
            <li><a href="component-graphs.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-chart-line color-blue-dark"></i><span>Graphs</span></a></li>
            <li><a href="component-google-fonts.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fab fa-google color-google"></i><span>Google Fonts</span></a></li>
            <li><a href="component-header.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-minus color-green-dark"></i><span>Headers</span></a></li>
            <li><a href="component-inputs.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-code color-brown-dark"></i><span>Input</span></a></li>
            <li><a href="component-icons.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-bullseye color-pink-dark"></i><span>Icons</span></a></li>
            <li><a href="component-icons-font.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fab fa-font-awesome-flag color-green-dark"></i><span>Icon Fonts</span></a></li>
            <li><a href="component-images.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-image color-blue-dark"></i><span>Images</span></a></li>
            <li><a href="component-background-infinite.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-image color-teal-dark"></i><span>Infinite Background</span></a></li>
            <li><a href="component-notifications.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-exclamation-triangle color-orange-dark"></i><span>Notifications</span></a></li>
            <li><a href="component-os-detection.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-tablet"></i><span>OS Detection</span></a></li>
            <li><a href="component-quotes.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-quote-right color-gray-light"></i><span>Quotes</span></a></li>
            <li><a href="component-pagination.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fas fa-ellipsis-h color-red-dark"></i><span>Pagination</span></a></li>
            <li><a href="component-pricing-table.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-dollar-sign color-green-dark"></i><span>Pricing Table</span></a></li>
            <li><a href="component-reviews.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-star color-yellow-light"></i><span>Reviews</span></a></li>
            <li><a href="component-reading-progress.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-minus color-red-light"></i><span>Reading Progress</span></a></li>
            <li><a href="component-sliders.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-image color-magenta-dark"></i><span>Sliders</span></a></li>
            <li><a href="component-snackbars.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-gem color-blue-light"></i><span>Snackbars</span></a></li>
            <li><a href="component-socials.html"><i class="fa fa-angle-right"></i><i
                    class="font-16 fab fa-facebook-square color-facebook"></i><span>Socials</span></a></li>
            <li><a href="component-share-links.html"><i class="fa fa-angle-right"></i><i
                    class="font-16 fab fa-twitter-square color-twitter"></i><span>Social Sharing</span></a></li>
            <li><a href="component-sortable.html"><i class="fa fa-angle-right"></i><i
                    class="font-16 fa fa-bars color-orange-light"></i><span>Sortable</span></a></li>
            <li><a href="component-search.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-search color-blue-light"></i><span>Search</span></a></li>
            <li><a href="component-search-header.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-search color-magenta-light"></i><span>Search Header</span></a></li>
            <li><a href="component-scroll-box.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-dollar-sign color-green-dark"></i><span>Scroll Fixed Ads</span></a></li>
            <li><a href="component-tabs.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-tasks color-night-light"></i><span>Tabs</span></a></li>
            <li><a href="component-tabs-header.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-tasks color-teal-dark"></i><span>Tabs Header</span></a></li>
            <li><a href="component-tables.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-table color-yellow-dark"></i><span>Tables</span></a></li>
            <li><a href="component-toasts.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-exclamation-triangle color-red-dark"></i><span>Toasts</span></a></li>
            <li><a href="component-toggles.html"><i class="fa fa-angle-right"></i><i
                    class="font-15 fa fa-toggle-on color-green-dark"></i><span>Toggles</span></a></li>
            <li><a href="component-typography.html"><i class="fa fa-angle-right"></i><i
                    class="font-14 fa fa-bold color-blue-dark"></i><span>Typography</span></a></li>
        </ul>
    </div>

    <div class="footer">
        <a href="#" class="footer-logo"></a>
        <p class="footer-text">There's nothing that comes close to Apptastic<br> It's the best Mobile Template on Envato
        </p>
        <div class="footer-socials">
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-facebook border-teal-3d"><i
                    class="fab fa-facebook-f"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-google"><i
                    class="fab fa-google-plus-g"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-phone"><i class="fa fa-phone"></i></a>
            <a href="#" data-menu="menu-share" class="scale-hover icon icon-round no-border icon-xs bg-teal-dark"><i
                    class="fa fa-retweet font-15"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs back-to-top bg-blue-dark"><i
                    class="fa fa-angle-up font-16"></i></a>
        </div>
        <p class="footer-copyright">Copyright &copy; Enabled <span id="copyright-year">2017</span>. All Rights Reserved.
        </p>
    </div>
</div>


{% endblock %}