{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="page-content page-content-full">
    <a href="#" class="cover-back-button back-button"><i class="fa fa-chevron-left font-12 color-white"></i></a>
    <a href="index-2.html" class="cover-home-button"><i class="fa fa-home font-14 color-white"></i></a>
    <div class="cover-item cover-item-full">
        <div class="cover-content cover-content-center">
            <div class="page-login content-boxed content-boxed-padding top-0 bottom-0 bg-white">
                <img class="preload-image login-bg responsive-image bottom-0 shadow-small" src="images/pictures/8w.jpg"
                     data-src="images/pictures/9w.jpg" alt="img">
                <img class="preload-image login-image shadow-small" data-src="images/pictures/0t.jpg" alt="img">
                <h1 class="ultrabold color-black top-20 bottom-5 font-30">Login</h1>
                <p class="smaller-text bottom-15">Hello, stranger! Please enter your credentials below.</p>
                <div class="page-login-field top-15">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Username">
                    <em>(required)</em>
                </div>
                <div class="page-login-field bottom-15">
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Password">
                    <em>(required)</em>
                </div>
                <div class="page-login-links bottom-20">
                    <a class="forgot float-right" href="page-signup.html"><i class="fa fa-user float-right"></i>Create
                        Account</a>
                    <a class="create float-left" href="page-forgot.html"><i class="fa fa-eye"></i>Forgot
                        Password</a>
                    <div class="clear"></div>
                </div>
                <a href="#" class="button back-button bg-highlight button-full button-rounded button-s uppercase ultrabold shadow-medium">LOGIN</a>
            </div>
        </div>
        <div class="cover-infinite-background"></div>
        <div class="cover-overlay overlay bg-black opacity-80"></div>
    </div>
</div>


{% endblock %}