{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="page-content header-clear-medium ">
    <div class="single-slider owl-carousel owl-no-dots bottom-30">
        <a href="#" class="news-slide-1 content-round shadow-small">
            <img src="images/pictures/8lq.jpg" data-src-retina="images/pictures/8.jpg" class="rounded-image"
                 alt="">
            <strong class="font-16">Macbooks now renamed to DongleBook and you can only get them one dongle at
                a time.</strong>
            <em class="bg-red-dark">Technology</em>
            <i class="fa fa-angle-right"></i>
            <span class="overlay overlay-gradient"></span>
        </a>
        <a href="#" class="news-slide-1 content-round shadow-small">
            <img src="images/pictures/5lq.jpg" data-src-retina="images/pictures/5.jpg" class="rounded-image"
                 alt="">
            <strong class="thin center-text">Strawberries used as fuel for Mars Mission by Elon Musk!</strong>
            <em class="bg-blue-dark">BREAKING NEWS</em>
            <span class="overlay overlay-gradient"></span>
        </a>
        <a href="#" class="news-slide-1 content-round shadow-small">
            <img src="images/pictures/7lq.jpg" data-src-retina="images/pictures/7.jpg" class="rounded-image"
                 alt="">
            <strong class="font-16">A coffee a day, keeps the doctor at bay! Or was it an Apple? We're not
                sure, but coffee rocks!</strong>
            <em class="bg-yellow-dark">Nutrition</em>
            <i class="fa fa-angle-right"></i>
            <span class="overlay overlay-gradient"></span>
        </a>
    </div>
    <div class="content">
        <div class="news-list-item">
            <a href="#">
                <img class="preload-image rounded-image shadow-medium" src="images/empty.png" data-src="images/pictures/8s.jpg"
                     alt="img">
                <strong>Macbooks now have no keyboards. Get a donggle!</strong>
            </a>
            <span><i class="fas fa-clock"></i>30 Dec 2019 <a href="#" class="color-blue-dark">Gadgets</a></span>
        </div>
        <div class="news-list-item">
            <a href="#">
                <img class="preload-image rounded-image shadow-medium" src="images/empty.png" data-src="images/pictures/5s.jpg"
                     alt="img">
                <strong>Bane's favorte fruit are market fresh strawberries</strong>
            </a>
            <span><i class="fas fa-clock"></i>30 Dec 2019 <a href="#" class="color-blue-dark">Nutrition</a></span>
        </div>
        <div class="news-list-item">
            <a href="#">
                <img class="preload-image rounded-image shadow-medium" src="images/empty.png" data-src="images/pictures/7s.jpg"
                     alt="img">
                <strong>Coffee now being used to power cars. Wait, what?!</strong>
            </a>
            <span><i class="fas fa-clock"></i>30 Dec 2019 <a href="#" class="color-blue-dark">Technology</a></span>
        </div>
        <div class="news-list-item no-border bottom-15">
            <a href="#">
                <img class="preload-image rounded-image shadow-medium" src="images/empty.png" data-src="images/pictures/5s.jpg"
                     alt="img">
                <strong>Coffee now being used to power cars. Wait, what?!</strong>
            </a>
            <span><i class="fas fa-clock"></i>30 Dec 2019 <a href="#" class="color-blue-dark">Technology</a></span>
        </div>
        <div class="decoration"></div>
        <div class="one-half">
            <div class="news-col-item">
                <a href="#">
                    <img class="preload-image rounded-image shadow-medium bottom-15" src="images/empty.png"
                         data-src="images/pictures/8s.jpg" alt="img">
                    <em class="bg-blue-dark">Technology</em>
                    <strong>Macbooks are selling better with the release of MacOS High Sierra</strong>
                </a>
                <span><i class="fas fa-clock"></i>30 Dec 2019</span>
            </div>
            <div class="news-col-item bottom-0">
                <a href="#">
                    <img class="preload-image rounded-image shadow-medium bottom-15" src="images/empty.png"
                         data-src="images/pictures/5s.jpg" alt="img">
                    <em class="bg-red-dark">Nutrition</em>
                    <strong>Strawberries are an incredibly tasty source of fibers.</strong>
                </a>
                <span><i class="fas fa-clock"></i>30 Dec 2019</span>
            </div>
        </div>
        <div class="one-half last-column">
            <div class="news-col-item">
                <a href="#">
                    <img class="preload-image rounded-image shadow-medium bottom-15" src="images/empty.png"
                         data-src="images/pictures/7s.jpg" alt="img">
                    <em class="bg-green-dark">Technology</em>
                    <strong>Drinking 50 cups of coffee will not make you stop sleeping!</strong>
                </a>
                <span><i class="fas fa-clock"></i>30 Dec 2019</span>
            </div>
            <div class="news-col-item bottom-0">
                <a href="#">
                    <img class="preload-image rounded-image shadow-medium bottom-15" src="images/empty.png"
                         data-src="images/pictures/6s.jpg" alt="img">
                    <em class="bg-yellow-dark">Photography</em>
                    <strong>A camera that looks stunning after all these years!</strong>
                </a>
                <span><i class="fas fa-clock"></i>30 Dec 2019</span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="footer">
        <a href="#" class="footer-logo"></a>
        <p class="footer-text">There's nothing that comes close to Apptastic<br> It's the best Mobile Template
            on Envato</p>
        <div class="footer-socials">
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-facebook border-teal-3d"><i
                    class="fab fa-facebook-f"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-google"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-phone"><i class="fa fa-phone"></i></a>
            <a href="#" data-menu="menu-share" class="scale-hover icon icon-round no-border icon-xs bg-teal-dark"><i
                    class="fa fa-retweet font-15"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs back-to-top bg-blue-dark"><i class="fa fa-angle-up font-16"></i></a>
        </div>
        <p class="footer-copyright">Copyright &copy; Enabled <span id="copyright-year">2017</span>. All Rights
            Reserved.</p>
    </div>
</div>


{% endblock %}