{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<div class="page-content header-clear-medium">
    <div class="blog-post-home">
        <a href="#" class="content-round shadow-small"><img src="images/empty.png" data-src="images/pictures/8.jpg"
                                                            class="preload-image responsive-image bottom-0 shadow"></a>
        <strong class="font-17">Macbooks are Really Popular</strong>
        <span>In:<a href="#" class="color-hightlight">Tech, Gadgets, Laptops</a></span>
        <div class="blog-post-stats">
            <a href="#"><i class="fa fa-heart color-red-light"></i>503</a>
            <a href="#"><i class="fa fa-eye color-blue-light"></i>623</a>
            <a href="#"><i class="fa fa-comments color-brown-light"></i>135</a>
            <div class="clear"></div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipi scing elit. Duis quis tempor augue.
            Phasellus faucibus urna eu tristique feugiat.
        </p>
        <a href="#" class="blog-post-home-author">
            <img src="images/empty.png" data-src="images/pictures/isolated/1.jpg"
                 class="preload-image responsive-image shadow-small">
            <span>By:<u class="color-blue-dark">Enabled</u></span>
            <em>July 15th 2020</em>
        </a>
        <a href="#" class="blog-post-more bg-green-dark shadow-small"><i class="fa fa-angle-right"></i></a>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="blog-post-home">
        <a href="#" class="content-round shadow-small"><img src="images/empty.png" data-src="images/pictures/3.jpg"
                                                            class="preload-image responsive-image bottom-0"></a>
        <strong class="font-17">Cookies are Delicious</strong>
        <span>In:<a href="#" class="color-hightlight">Food, Nutrition, Diet</a></span>
        <div class="blog-post-stats">
            <a href="#"><i class="fa fa-heart color-red-light"></i>503</a>
            <a href="#"><i class="fa fa-eye color-blue-light"></i>623</a>
            <a href="#"><i class="fa fa-comments color-brown-light"></i>135</a>
            <div class="clear"></div>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipi scing elit. Duis quis tempor augue.
            Phasellus faucibus urna eu tristique feugiat.
        </p>
        <a href="#" class="blog-post-home-author">
            <img src="images/empty.png" data-src="images/pictures/isolated/2.jpg"
                 class="preload-image responsive-image shadow-medium">
            <span>By:<u class="color-blue-dark">Enabled</u></span>
            <em>July 15th 2020</em>
        </a>
        <a href="#" class="blog-post-more bg-green-dark shadow-small"><i class="fa fa-angle-right"></i></a>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="content">
        <div class="blog-categories blog-categories-3 bottom-20">
            <a href="#"><strong></strong><em>Tech</em><span class="bg-red-dark opacity-50"></span><img
                    src="images/empty.png"
                    data-src="images/pictures/1s.jpg" class="preload-image responsive-image" alt="img"></a>
            <a href="#"><strong></strong><em>Nutrition</em><span class="bg-green2-dark opacity-50"></span><img
                    src="images/empty.png" data-src="images/pictures/2s.jpg" class="preload-image responsive-image"
                    alt="img"></a>
            <a href="#"><strong></strong><em>Web</em><span class="bg-teal-dark opacity-50"></span><img
                    src="images/empty.png"
                    data-src="images/pictures/3s.jpg" class="preload-image responsive-image" alt="img"></a>
            <a href="#"><strong></strong><em>Design</em><span class="bg-blue2-dark opacity-50"></span><img
                    src="images/empty.png"
                    data-src="images/pictures/4s.jpg" class="preload-image responsive-image" alt="img"></a>
            <a href="#"><strong></strong><em>Colors</em><span class="bg-gray-dark opacity-50"></span><img
                    src="images/empty.png"
                    data-src="images/pictures/5s.jpg" class="preload-image responsive-image" alt="img"></a>
            <a href="#"><strong></strong><em>HTML</em><span class="bg-blue-dark opacity-50"></span><img
                    src="images/empty.png"
                    data-src="images/pictures/6s.jpg" class="preload-image responsive-image" alt="img"></a>
            <a href="#"><strong></strong><em>Mobile</em><span class="bg-pink-dark opacity-50"></span><img
                    src="images/empty.png"
                    data-src="images/pictures/7s.jpg" class="preload-image responsive-image" alt="img"></a>
            <a href="#"><strong></strong><em>CSS</em><span class="bg-magenta-dark opacity-50"></span><img
                    src="images/empty.png"
                    data-src="images/pictures/8s.jpg" class="preload-image responsive-image" alt="img"></a>
            <a href="#"><strong></strong><em>Gadgets</em><span class="bg-brown-dark opacity-50"></span><img
                    src="images/empty.png"
                    data-src="images/pictures/9s.jpg" class="preload-image responsive-image" alt="img"></a>
            <div class="clear"></div>
        </div>
    </div>
</div>


{% endblock %}