{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}


<div class="page-content header-clear-medium">
    <div class="content">
        <p>
            If you're a fan of having a great homepage to land your users on or just want to start things off
            with a Splash Screen or a Wakthrough, we've prepared everything for you! It's just copy and paste.
            It's that easy!
        </p>
    </div>
    <div class="decoration"></div>
    <ul class="menu-list menu-list-boxed">
        <li>
            <a href="index-2.html">
                <i class="fa fa-home color-highlight"></i>
                <span>Classic</span>
                <em>The Default Homepage</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="home-1.html">
                <i class="fa fa-image color-green-dark"></i>
                <span>Coverpage</span>
                <em>A Gorgeous Full Screen Slider</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="home-login-1.html">
                <i class="fa fa-lock color-brown-dark"></i>
                <span>Login 1</span>
                <em>Login with Top Image & Avatar</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="home-login-2.html">
                <i class="fa fa-lock color-teal-dark"></i>
                <span>Login 2</span>
                <em>Simple Login Window with No Image</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="home-store.html">
                <i class="fa fa-shopping-bag color-gray-dark"></i>
                <span>Store</span>
                <em>A beautiful Store Homepage</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="home-news.html">
                <i class="fa fa-newspaper color-night-dark"></i>
                <span>News</span>
                <em>A beautiful News Homepage</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="home-blog.html">
                <i class="fa fa-pencil-alt color-brown-dark"></i>
                <span>Blog</span>
                <em>A beautiful Blog Homepage</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <div class="content-title bottom-50 top-50">
        <span class="color-highlight">Starters</span>
        <h1 class="font-24">Splash & Walkthroughs</h1>
        <p>
            A splash screen is great for the users landing area. They can get a general idea or have a great
            offer shown before they see your main page.
        </p>
    </div>
    <ul class="menu-list menu-list-boxed">
        <li>
            <a href="splash-1.html">
                <i class="font-16 fa fa-heart color-yellow-dark"></i>
                <span>Splash Screen 1</span>
                <em>Center Icon, Text and Buttons</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="splash-2.html">
                <i class="font-16 fa fa-heart color-green-dark"></i>
                <span>Splash Screen 2</span>
                <em>Center Icon & Text with Lower Button</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="splash-3.html">
                <i class="font-16 fa fa-heart color-teal-dark"></i>
                <span>Splash Screen 3</span>
                <em>Color Icons with Center Text and Button</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="splash-4.html">
                <i class="font-16 fa fa-heart color-blue-dark"></i>
                <span>Splash Screen 4</span>
                <em>Large Image Top with Center Text and Button</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="splash-5.html">
                <i class="font-16 fa fa-heart color-orange-dark"></i>
                <span>Splash Screen 5</span>
                <em>Top Image and Text with Bottom Button</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="splash-6.html">
                <i class="font-16 fa fa-heart color-pink-dark"></i>
                <span>Splash Screen 6</span>
                <em>Colorful Slides with Bordered Buttons</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <div class="decoration top-30"></div>
        <li>
            <a href="walkthrough-1.html">
                <i class="font-16 fa fa-star color-red-dark"></i>
                <span>Walkthrough 1</span>
                <em>Center Icon, Text and Buttons</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="walkthrough-2.html">
                <i class="font-16 fa fa-star color-green-dark"></i>
                <span>Walkthrough 2</span>
                <em>Center Icon & Text with Lower Button</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="walkthrough-3.html">
                <i class="font-16 fa fa-star color-teal-dark"></i>
                <span>Walkthrough 3</span>
                <em>Color Icons with Center Text and Button</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="walkthrough-4.html">
                <i class="font-16 fa fa-star color-blue-dark"></i>
                <span>Walkthrough 4</span>
                <em>Large Image Top with Center Text and Button</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="walkthrough-5.html">
                <i class="font-16 fa fa-star color-magenta-dark"></i>
                <span>Walkthrough 5</span>
                <em>Dark Centered Cards with Dark Backgrounds</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="walkthrough-6.html">
                <i class="font-16 fa fa-star color-orange-dark"></i>
                <span>Walkthrough 6</span>
                <em>Top Image and Text with Bottom Button</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="walkthrough-7.html">
                <i class="font-16 fa fa-star color-pink-dark"></i>
                <span>Walkthrough 7</span>
                <em>Colorful Slides with Bordered Buttons</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="walkthrough-8.html">
                <i class="font-16 fa fa-star color-gray-dark"></i>
                <span>Walkthrough 8</span>
                <em>Half Image with Top Text and Button</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <div class="footer">
        <a href="#" class="footer-logo"></a>
        <p class="footer-text">There's nothing that comes close to Apptastic<br> It's the best Mobile Template
            on Envato</p>
        <div class="footer-socials">
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-facebook border-teal-3d"><i
                    class="fab fa-facebook-f"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-google"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-phone"><i class="fa fa-phone"></i></a>
            <a href="#" data-menu="menu-share" class="scale-hover icon icon-round no-border icon-xs bg-teal-dark"><i
                    class="fa fa-retweet font-15"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs back-to-top bg-blue-dark"><i class="fa fa-angle-up font-16"></i></a>
        </div>
        <p class="footer-copyright">Copyright &copy; Enabled <span id="copyright-year">2017</span>. All Rights
            Reserved.</p>
    </div>
</div>

{% endblock %}