{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}


<div class="page-content header-clear-small">
    <div class="single-slider owl-carousel owl-no-dots">
        <div class="store-slide-1">
            <a href="#" class="store-slide-image"><img src="images/placeholders/1.png" alt=""></a>
            <div class="store-slide-title bottom-15">
                <h4 class="bottom-0 center-text">Black Smart Watch</h4>
                <em class="color-gray-dark small-text center-text">Sport Band, Water Proof, 132 GB, Black</em>
            </div>
            <div class="store-slide-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="store-slide-price">
                <strong>$299.99<br>
                    <del>$ 399.99</del>
                </strong>
                <a href="#"><i class="fa fa-heart color-orange-dark"></i>Add to Wishlist<em class="color-green-dark">In
                    Stock - Ships Immediately</em></a>
                <div class="clear"></div>
            </div>
            <div class="store-slide-button">
                <a href="#"
                   class="button button-blue button-center button-rounded button-full button-sm shadow-small uppercase ultrabold">Add
                    to Cart</a>
            </div>
        </div>
        <div class="store-slide-1">
            <a href="#" class="store-slide-image"><img src="images/placeholders/2.png" alt=""></a>
            <div class="store-slide-title bottom-15">
                <h4 class="bottom-0 center-text">White Smart Watch</h4>
                <em class="color-gray-dark small-text center-text">Sport Band, Water Proof, 132 GB, Black</em>
            </div>
            <div class="store-slide-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="store-slide-price">
                <strong>$299.99<br>
                    <del>$ 399.99</del>
                </strong>
                <a href="#"><i class="fa fa-heart color-orange-dark"></i>Add to Wishlist<em class="color-red-dark">We're
                    currently out of Stock</em></a>
                <div class="clear"></div>
            </div>
            <div class="store-slide-button">
                <a href="#"
                   class="button button-blue button-center button-rounded button-full button-sm shadow-small uppercase ultrabold">Add
                    to Cart</a>
            </div>
        </div>
        <div class="store-slide-1">
            <a href="#" class="store-slide-image"><img src="images/placeholders/3.png" alt=""></a>
            <div class="store-slide-title bottom-15">
                <h4 class="bottom-0 center-text">Green Smart Watch</h4>
                <em class="color-gray-dark small-text center-text">Sport Band, Water Proof, 132 GB, Black</em>
            </div>
            <div class="store-slide-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="store-slide-price">
                <strong>$299.99<br>
                    <del>$ 399.99</del>
                </strong>
                <a href="#"><i class="fa fa-heart color-orange-dark"></i>Add to Wishlist<em class="color-yellow-dark">15
                    Items Remaining in Stock</em></a>
                <div class="clear"></div>
            </div>
            <div class="store-slide-button">
                <a href="#"
                   class="button button-blue button-center button-rounded button-full button-sm shadow-small uppercase ultrabold">Add
                    to Cart</a>
            </div>
        </div>
    </div>
    <div class="decoration decoration-margins top-30 bottom-10"></div>
    <div class="content bottom-0">
        <div class="single-slider owl-carousel owl-no-dots">
            <div class="store-slide-2">
                <a href="#" class="store-slide-image">
                    <img src="images/placeholders/3a.png">
                </a>
                <div class="store-slide-title">
                    <strong>Green Smart Watch</strong>
                    <em class="color-gray-dark">Sport Band, Water and Dust Resistant, Large Storage Capacity</em>
                </div>
                <div class="store-slide-button">
                    <strong>$359.99</strong>
                    <a href="#"><i class="fa fa-shopping-cart color-blue-dark"></i>Add to Cart</a>
                </div>
            </div>
            <div class="store-slide-2">
                <a href="#" class="store-slide-image">
                    <img src="images/placeholders/2a.png">
                </a>
                <div class="store-slide-title">
                    <strong>White Smart Watch</strong>
                    <em class="color-gray-dark">Sport Band, Water and Dust Resistant, Large Storage Capacity</em>
                </div>
                <div class="store-slide-button">
                    <strong>$359.99</strong>
                    <a href="#"><i class="fa fa-shopping-cart color-blue-dark"></i>Add to Cart</a>
                </div>
            </div>
            <div class="store-slide-2">
                <a href="#" class="store-slide-image">
                    <img src="images/placeholders/1a.png">
                </a>
                <div class="store-slide-title">
                    <strong>Black Smart Watch</strong>
                    <em class="color-gray-dark">Sport Band, Water and Dust Resistant, Large Storage Capacity</em>
                </div>
                <div class="store-slide-button">
                    <strong>$359.99</strong>
                    <a href="#"><i class="fa fa-shopping-cart color-blue-dark"></i>Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="content-strip content-round">
        <div class="container">
            <h1 class="ultrabold color-white center-text fa-2x top-40">Flash Sales</h1>
            <p class="small-text color-gray-light center-text bottom-15">Buy One Get One Free Only Today</p>
            <div class="decoration bg-blue-dark deco-thick deco-0 top-15 bottom-30"></div>
            <p class="boxed-text-large bottom-30 color-white font-13 ">
                We just started a flash sale! Hurry! It doesn't last forever! Get awesome discounts now!
            </p>
            <div class="countdown color-white boxed-text-large bottom-30">
                <div class="countdown-years">
                    <div id="years"></div>
                    <em>years</em>
                </div>
                <div class="countdown-days">
                    <div id="days"></div>
                    <em>days</em>
                </div>
                <div class="countdown-hours">
                    <div id="hours"></div>
                    <em>hours</em>
                </div>
                <div class="countdown-minutes">
                    <div id="minutes"></div>
                    <em>minutes</em>
                </div>
                <div class="countdown-seconds disabled">
                    <div id="seconds"></div>
                    <em>seconds</em>
                </div>
                <div class="clear"></div>
            </div>
            <a href="#"
               class="button button-rounded bg-blue-dark button-center-large button-s uppercase ultrabold bottom-40">Purchase
                Now</a>
        </div>
        <div class="overlay bg-black opacity-80"></div>
        <div class="content-strip-bg preload-image" data-src="images/pictures/14.jpg"></div>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="content-title bottom-0 top-30">
        <span class="color-highlight">Some of the best</span>
        <h1>Featured Products</h1>
        <p>The most popular products in our store.</p>
    </div>
    <div class="content">
        <div class="double-slider owl-carousel owl-has-dots bottom-15">
            <div class="store-featured-1">
                <a href="#"><img src="images/placeholders/4a.png" alt="img"></a>
                <u>$ 999.99</u>
                <span class="color-green-dark">In Stock</span>
                <strong>Night Black SmartPhone</strong>
                <em>34GB Capacity, 6GB RAM, IP68 WaterProof, 50MP Camera</em>
                <div class="store-featured-1-buttons">
                    <a href="#" class="store-featured-1-cart"><i
                            class="fa fa-shopping-cart color-highlight font-12"></i></a>
                    <a href="#" class="store-featured-1-favorite"><i class="fa fa-heart color-red-dark font-12"></i></a>
                </div>
            </div>
            <div class="store-featured-1">
                <a href="#"><img src="images/placeholders/4b.png" alt="img"></a>
                <u>$ 599.99</u>
                <span class="color-green-dark">In Stock</span>
                <strong>Pinkish Gold SmartPhone</strong>
                <em>34GB Capacity, 6GB RAM, IP68 WaterProof, 50MP Camera</em>
                <div class="store-featured-1-buttons">
                    <a href="#" class="store-featured-1-cart"><i
                            class="fa fa-shopping-cart color-highlight font-12"></i></a>
                    <a href="#" class="store-featured-1-favorite"><i class="fa fa-heart color-red-dark font-12"></i></a>
                </div>
            </div>
            <div class="store-featured-1">
                <a href="#"><img src="images/placeholders/4c.png" alt="img"></a>
                <u>$ 399.99</u>
                <span class="color-red-dark">Out of Stock</span>
                <strong>Champagne SmartPhone</strong>
                <em>34GB Capacity, 6GB RAM, IP68 WaterProof, 50MP Camera</em>
                <div class="store-featured-1-buttons">
                    <a href="#" class="store-featured-1-cart"><i
                            class="fa fa-shopping-cart color-highlight font-12"></i></a>
                    <a href="#" class="store-featured-1-favorite"><i class="fa fa-heart color-red-dark font-12"></i></a>
                </div>
            </div>
            <div class="store-featured-1">
                <a href="#"><img src="images/placeholders/4d.png" alt="img"></a>
                <u>$ 299.99</u>
                <span class="color-blue-dark">Preorder Available</span>
                <strong>Charcoal Gray SmartPhone</strong>
                <em>34GB Capacity, 6GB RAM, IP68 WaterProof, 50MP Camera</em>
                <div class="store-featured-1-buttons">
                    <a href="#" class="store-featured-1-cart"><i
                            class="fa fa-shopping-cart color-highlight font-12"></i></a>
                    <a href="#" class="store-featured-1-favorite"><i class="fa fa-heart color-red-dark font-12"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="content-title bottom-0 top-30">
        <span class="color-highlight">Control</span>
        <h1>Useful Links</h1>
        <p>Get around our store much faster and easier.</p>
    </div>
    <div class="content">
        <div class="store-links bottom-15">
            <a href="#"><i class="fa fa-user"></i>Your Account</a>
            <a href="#"><i class="fa fa-credit-card"></i>Payment Methods</a>
            <a href="#"><i class="fa fa-pencil-alt"></i>Terms of Service</a>
            <a href="#"><i class="fa fa-code"></i>Create Account</a>
            <a href="#"><i class="fa fa-lock"></i>Logout Account</a>
            <a href="#"><i class="fa fa-shopping-cart"></i>Shopping Cart</a>
            <a href="#"><i class="fa fa-truck"></i>Delivery Times</a>
            <a href="#"><i class="fa fa-sync"></i>Refund Policy</a>
            <a href="#"><i class="fa fa-question"></i>Help Center</a>
            <a href="#"><i class="fa fa-exclamation"></i>Report Issue</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer">
        <a href="#" class="footer-logo"></a>
        <p class="footer-text">There's nothing that comes close to Apptastic<br> It's the best Mobile Template
            on Envato</p>
        <div class="footer-socials">
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-facebook border-teal-3d"><i
                    class="fab fa-facebook-f"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-google"><i
                    class="fab fa-google-plus-g"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs bg-phone"><i class="fa fa-phone"></i></a>
            <a href="#" data-menu="menu-share" class="scale-hover icon icon-round no-border icon-xs bg-teal-dark"><i
                    class="fa fa-retweet font-15"></i></a>
            <a href="#" class="scale-hover icon icon-round no-border icon-xs back-to-top bg-blue-dark"><i
                    class="fa fa-angle-up font-16"></i></a>
        </div>
        <p class="footer-copyright">Copyright &copy; Enabled <span id="copyright-year">2017</span>. All Rights
            Reserved.</p>
    </div>
</div>

{% endblock %}