{% extends 'layouts/layout.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<div class="page-content header-clear-small">


    <div class="slider-margins bottom-15 ">

        <div class="single-slider  swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">

                    <div class="item shadow-small">

                        <img src="https://static.mservice.io/banner/s780x297/momo-upload-api-lette-cine-181228175001.jpg"
                             alt="img" class="responsive-image"/>
                    </div>

                </div>

                <div class="swiper-slide">
                    <div class="item shadow-small">

                        <img src="https://static.mservice.io/banner/s780x297/momo-upload-api-viber%20image%202019-03-01%20,%2016.55.36-190304094541.jpg"
                             alt="img" class="responsive-image"/>
                    </div>


                </div>

                <div class="swiper-slide">

                    <div class="item shadow-small">

                        <img src="https://static.mservice.io/banner/s780x297/momo-upload-api-le-trao-giai-homebanner-190304093004.jpg"
                             alt="img" class="responsive-image"/>
                    </div>

                </div>


            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>

        </div>
    </div>

    <div class="home-menu">
        <div class="container">
            <div class="row no-gutters">
             

                <div class="col-4">
                    <div class="home-menu-item">
                        <div class="home-menu-icon">
                            <img src="images/home/gioithieu.svg" width="40" class=" center-block" alt="">
                        </div>

                        <div>
                            Giới thiệu
                        </div>

                    </div>
                </div>

                <div class="col-4">
                    <div class="home-menu-item">
                        <div class="home-menu-icon">
                            <img src="images/home/tintuc.svg" width="40" class=" center-block" alt="">
                        </div>

                        <div>
                            Tin tức
                        </div>

                    </div>
                </div>

                <div class="col-4">
                    <div class="home-menu-item">
                        <div class="home-menu-icon">
                            <img src="images/home/hoidap.svg" width="40" class=" center-block" alt="">
                        </div>

                        <div>
                           Hỏi đáp
                        </div>

                    </div>
                </div>

                <div class="col-4">
                    <div class="home-menu-item">
                        <div class="home-menu-icon">
                            <img src="images/home/huongdan.svg" width="40" class=" center-block" alt="">
                        </div>

                        <div>
                            Hướng dẫn
                        </div>

                    </div>
                </div>

                <div class="col-4">
                    <div class="home-menu-item">
                        <div class="home-menu-icon">
                            <img src="images/home/tuyendung.svg" width="40" class=" center-block" alt="">
                        </div>

                        <div>
                            Tuyển dụng
                        </div>

                    </div>
                </div>

                <div class="col-4">
                    <div class="home-menu-item">
                        <div class="home-menu-icon">
                            <img src="images/home/lienhe.svg" width="40" class=" center-block" alt="">
                        </div>

                        <div>
                            Liên hệ
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>



    <div class="container">
        <div class="decoration"></div>
        <div class="icon-column">
            <i class="fa fa-power-off font-26 gradient-sky-dark color-white shadow-large"></i>
            <h1>Quality Obsessed</h1>
            <p>
                When we build a product, we code and test every feature, so you
                get the best.
            </p>
        </div>
        <div class="icon-column">
            <i class="fa fa-star font-24 gradient-red-dark color-white shadow-large"></i>
            <h1>Focused on You</h1>
            <p>
                We develop all the code so you just have to edit, we do the heavy
                lifting for you.
            </p>
        </div>
        <div class="icon-column">
            <i class="fa fa-life-ring font-28 gradient-green-dark color-white shadow-large"></i>
            <h1>Top Notch Support</h1>
            <p>
                Our customers praise our support and help files, built with no
                detail left behind.
            </p>
        </div>
        <div class="decoration"></div>
    </div>
    <div class="content-title bottom-30">
        <span class="color-highlight">Our customers come first</span>
        <h1>Undisputed Care</h1>
        <a href="#" class="color-highlight">See All</a>
    </div>
    <div class="slider-margins bottom-30">
        <div class="double-slider owl-carousel owl-no-dots">
            <div class="item bottom-10 shadow-small">
                <div class="above-overlay above-overlay-top">
                    <strong class="color-white uppercase ultrabold font-11 right-text">Quality</strong>
                </div>
                <div class="above-overlay above-overlay-bottom bottom-10">
                    <h5 class="color-white">All Features Tested and Checked.</h5>
                </div>
                <div class="overlay overlay-gradient"></div>
                <a href="#"><img src="images/pictures/29t.jpg" alt="img" class="responsive-image"/></a>
            </div>
            <div class="item bottom-10 shadow-small">
                <div class="above-overlay above-overlay-top">
                    <strong class="color-white uppercase ultrabold font-11 right-text">Speed</strong>
                </div>
                <div class="above-overlay above-overlay-bottom bottom-10">
                    <h5 class="color-white">
                        Our Products are fast! Blazing Fast.
                    </h5>
                </div>
                <div class="overlay overlay-gradient"></div>
                <a href="#"><img src="images/pictures/13t.jpg" alt="img" class="responsive-image"/></a>
            </div>
            <div class="item bottom-10 shadow-small">
                <div class="above-overlay above-overlay-top">
                    <strong class="color-white uppercase ultrabold font-11 right-text">Eye Candy</strong>
                </div>
                <div class="above-overlay above-overlay-bottom bottom-10">
                    <h5 class="color-white">Made to Look and Feel Stunning.</h5>
                </div>
                <div class="overlay overlay-gradient"></div>
                <a href="#"><img src="images/pictures/29t.jpg" alt="img" class="responsive-image"/></a>
            </div>
            <div class="item bottom-10 shadow-small">
                <div class="above-overlay above-overlay-top">
                    <strong class="color-white uppercase ultrabold font-11 right-text">Support</strong>
                </div>
                <div class="above-overlay above-overlay-bottom bottom-10">
                    <h5 class="color-white">
                        We're Always Here for our Customers.
                    </h5>
                </div>
                <div class="overlay overlay-gradient"></div>
                <a href="#"><img src="images/pictures/8t.jpg" alt="img" class="responsive-image"/></a>
            </div>
            <div class="item bottom-10 shadow-small">
                <div class="above-overlay above-overlay-top">
                    <strong class="color-white uppercase ultrabold font-11 right-text">Clean Code</strong>
                </div>
                <div class="above-overlay above-overlay-bottom bottom-10">
                    <h5 class="color-white">Oraganized for very easy use.</h5>
                </div>
                <div class="overlay overlay-gradient"></div>
                <a href="#"><img src="images/pictures/4t.jpg" alt="img" class="responsive-image"/></a>
            </div>
        </div>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="content-title bottom-20">
        <span class="color-highlight">Loved by Thousands</span>
        <h1>Top Products</h1>
        <a href="#" class="color-highlight">See All</a>
    </div>
    <div class="content">
        <ul class="link-list">
            <li>
                <a href="#"><i class="fa fa-star color-yellow-dark"></i><span>Ultra Mobile</span><i
                        class="fa fa-angle-right"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-heart color-red-dark"></i><span>Kolor Mobile</span><i
                        class="fa fa-angle-right"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cog color-blue-dark"></i><span>Vinga Mobile</span><i
                        class="fa fa-angle-right"></i></a>
            </li>
            <li>
                <a href="#" class="no-border"><i
                        class="fas fa-wine-glass color-pink-dark"></i><span>Appeca Mobile</span><i
                        class="fa fa-angle-right"></i></a>
            </li>
        </ul>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="content-title bottom-20">
        <span class="color-highlight">Only the Best</span>
        <h1>Featured Products</h1>
        <a href="#" class="color-highlight">See All</a>
    </div>
    <div class="slider-margins">
        <div class="double-slider owl-carousel bottom-10 owl-no-dots">
            <div class="item">
                <div>
                    <div class="above-overlay above-overlay-bottom">
                        <div class="image-details bottom-20">
                            <a href="#"><img src="images/preload-logo-small.png" alt="img"/></a>
                            <a href="#"><i class="fa fa-heart color-red-dark"></i>15k</a>
                        </div>
                    </div>
                    <div class="overlay overlay-gradient"></div>
                    <a href="#"><img src="images/pictures/10l.jpg" alt="img" class="responsive-image"/></a>
                </div>
                <h4 class="bolder">UltraMobile</h4>
                <p>
                    Our best products ever built. It's a monster.
                </p>
            </div>
            <div class="item">
                <div>
                    <div class="above-overlay above-overlay-bottom">
                        <div class="image-details bottom-20">
                            <a href="#"><img src="images/preload-logo-small.png" alt="img"/></a>
                            <a href="#"><i class="fa fa-star color-yellow-dark"></i>15k</a>
                        </div>
                    </div>
                    <div class="overlay overlay-gradient"></div>
                    <a href="#"><img src="images/pictures/9l.jpg" alt="img" class="responsive-image"/></a>
                </div>
                <h4 class="bolder">KolorMobile</h4>
                <p>
                    A gorgeous interface with powerful features.
                </p>
            </div>
            <div class="item">
                <div>
                    <div class="above-overlay above-overlay-bottom">
                        <div class="image-details bottom-20">
                            <a href="#"><img src="images/preload-logo-small.png" alt="img"/></a>
                            <a href="#"><i class="fa fa-star color-yellow-dark"></i>15k</a>
                        </div>
                    </div>
                    <div class="overlay overlay-gradient"></div>
                    <a href="#"><img src="images/pictures/18l.jpg" alt="img" class="responsive-image"/></a>
                </div>
                <h4 class="bolder">Appeca</h4>
                <p>
                    Flexible with light and dark gorgeous skins.
                </p>
            </div>
            <div class="item">
                <div>
                    <div class="above-overlay above-overlay-bottom">
                        <div class="image-details bottom-20">
                            <a href="#"><img src="images/preload-logo-small.png" alt="img"/></a>
                            <a href="#"><i class="fa fa-star color-yellow-dark"></i>15k</a>
                        </div>
                    </div>
                    <div class="overlay overlay-gradient"></div>
                    <a href="#"><img src="images/pictures/14l.jpg" alt="img" class="responsive-image"/></a>
                </div>
                <h4 class="bolder">AMP Pro</h4>
                <p>
                    Powerful with the latest tech of speed.
                </p>
            </div>
        </div>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="content-title bottom-20">
        <span class="color-highlight">Only The Best</span>
        <h1 class="font-22">Apptastic is The Best</h1>
        <a href="#" class="color-highlight">See All</a>
    </div>
    <div class="slider-margins bottom-30">
        <div class="double-slider owl-carousel owl-no-dots">
            <div class="item bottom-10 shadow-small">
                <div class="above-overlay above-overlay-top">
                    <strong class="color-white uppercase ultrabold"><i
                            class="fa fa-heartbeat top-20 fa-3x"></i></strong>
                </div>
                <div class="above-overlay above-overlay-bottom bottom-10">
                    <h1 class="color-white bolder">Quality</h1>
                    <h5 class="color-white font-11">
                        All Features Tested and Checked.
                    </h5>
                </div>
                <div class="overlay bg-red-light"></div>
                <a href="#"><img src="images/pictures/0t.jpg" alt="img" class="responsive-image"/></a>
            </div>
            <div class="item bottom-10 shadow-small">
                <div class="above-overlay above-overlay-top">
                    <strong class="color-white uppercase ultrabold"><i
                            class="fa fa-user-friends top-20 fa-3x"></i></strong>
                </div>
                <div class="above-overlay above-overlay-bottom bottom-10">
                    <h1 class="color-white bolder">Friendly</h1>
                    <h5 class="color-white font-11">
                        Easy to use and edit by Everyone.
                    </h5>
                </div>
                <div class="overlay bg-green-dark"></div>
                <a href="#"><img src="images/pictures/0t.jpg" alt="img" class="responsive-image"/></a>
            </div>
            <div class="item bottom-10 shadow-small">
                <div class="above-overlay above-overlay-top">
                    <strong class="color-white uppercase ultrabold"><i
                            class="fa fa-certificate top-20 fa-3x"></i></strong>
                </div>
                <div class="above-overlay above-overlay-bottom bottom-10">
                    <h1 class="color-white bolder">Certified</h1>
                    <h5 class="color-white font-11">
                        Built by the Best Mobile Authors on Envato.
                    </h5>
                </div>
                <div class="overlay bg-blue-dark"></div>
                <a href="#"><img src="images/pictures/0t.jpg" alt="img" class="responsive-image"/></a>
            </div>
            <div class="item bottom-10 shadow-small">
                <div class="above-overlay above-overlay-top">
                    <strong class="color-white uppercase ultrabold"><i class="fa fa-rocket top-20 fa-3x"></i></strong>
                </div>
                <div class="above-overlay above-overlay-bottom bottom-10">
                    <h1 class="color-white bolder">Fast</h1>
                    <h5 class="color-white font-11">
                        Checked and Optimized for Best Performance.
                    </h5>
                </div>
                <div class="overlay bg-teal-dark"></div>
                <a href="#"><img src="images/pictures/0t.jpg" alt="img" class="responsive-image"/></a>
            </div>
        </div>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="content-title bottom-20">
        <span class="color-highlight">25k Customers</span>
        <h1>Testimonials</h1>
        <a href="#" class="color-highlight">See All</a>
    </div>
    <div class="quote-slider owl-carousel owl-no-dots">
        <div class="blockquote-2">
            <img class="shadow-large" src="images/pictures/faces/1small.png"/>
            <p class="color-night-light">
                The code is always great with any Enabled template, but its the
                customer support that wins me over all the time.
            </p>
        </div>
        <div class="blockquote-2">
            <img class="shadow-large" src="images/pictures/faces/2small.png"/>
            <p class="color-night-light">
                The code is always great with any Enabled template, but its the
                customer support that wins me over all the time.
            </p>
        </div>
    </div>
    <div class="decoration decoration-margins"></div>
    <div class="content content-round shadow-medium">
        <a href="#"
           class="vertical-center-button button-right bg-highlight uppercase button-xxs ultrabold button-round">GET
            IT</a>
        <div class="caption-style-4">
            <strong>It's time to upgrade</strong>
            <h1>
                Get Apptastic <br/>
                From Envato Today
            </h1>
        </div>
        <div class="overlay bg-black opacity-70"></div>
        <img src="images/pictures/29w.jpg" class="responsive-image bottom-0" alt="img"/>
    </div>

</div>
{% endblock %}