
<div class="menu-title">
    <span class="color-highlight">Check out our pages</span>
    <h1>Navigation</h1>
    <a href="#" class="menu-hide"><i class="fa fa-times"></i></a>
</div>
<div class="menu-page">
    <ul class="menu-list bottom-20">
        <li id="menu-index">
            <a href="index.html">
                <i class='fa fa-home color-green-dark'></i>
                <span>Homepages</span>
                <em>This is where it all Begins</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li id="menu-components">
            <a href="components.html">
                <i class='fa fa-cog color-yellow-dark'></i>
                <span>Components</span>
                <em>Just a Copy and Paste Away</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li id="menu-pages">
            <a href="pages-list.html">
                <i class='fa fa-heart color-red-dark'></i>
                <span>Site Pages</span>
                <em>Easy to Customize and Use</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li id="menu-media">
            <a href="media.html">
                <i class='fa fa-camera color-brown-light'></i>
                <span>Media</span>
                <em>Showcase your Projects with Style</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li id="menu-contact">
            <a href="page-contact.html">
                <i class='fa fa-envelope color-blue-dark'></i>
                <span>Get in Touch</span>
                <em>Let's get in Touch or Just Say Hello</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>

    <div class="decoration top-20 bottom-20"></div>

    <ul class="menu-list">
        <li>
            <a href="#">
                <i class='fab fa-facebook color-facebook'></i>
                <span>Facebook</span>
                <em>This is where it all Begins</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='fab fa-twitter color-twitter'></i>
                <span>Twitter</span>
                <em>Just a Copy and Paste Away</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="3">
                <i class='fab fa-google-plus-g color-google'></i>
                <span>Google +</span>
                <em>Just a Copy and Paste Away</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='fa fa-phone color-phone'></i>
                <span>Call Us</span>
                <em>Just a Copy and Paste Away</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='fa fa-envelope color-mail'></i>
                <span>Mail Us</span>
                <em>Just a Copy and Paste Away</em>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>

    </ul>
</div>

<script type="text/javascript">
    $('#menu-hider, .close-menu, .menu-hide').on('click',function(){
        $('.menu-box').removeClass('menu-box-active');
        $('#menu-hider').removeClass('menu-hider-active');
        return false;
    });
</script>