{% extends 'layouts/layout.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}
<div class="page-content header-clear-large">

<div class="slider-margins">
    <div class="single-slider owl-carousel owl-no-dots">
        <div class="item shadow-small">
            <div class="caption-style-4">
                <strong>ENABLED - ELITE AUTHOR</strong>
                <h1>Created by The Leading Mobile Author on Envato</h1>
                <p>
                    Made to look beautiful, be highlighy flexible and friedly for
                    all users to edit.
                </p>
            </div>
            <div class="overlay bg-black opacity-50"></div>
            <img src="images/pictures/14t.jpg" alt="img" />
        </div>
        <div class="item shadow-small">
            <div class="above-overlay above-overlay-bottom">
                <div class="caption-style-1 above-overlay">
                    <h1 class="bold color-white">
                        The Best Mobile Templates on the Marketplaces
                    </h1>
                    <div class="image-details bottom-30">
                        <a href="#"><img src="images/empty.png" class="preload-image" data-src="images/preload-logo-small.png"
                                alt="img" />Enabled</a>
                        <a href="#"><i class="fa fa-heart"></i>15k</a>
                        <a href="#"><i class="fa fa-comment"></i>536</a>
                    </div>
                </div>
            </div>
            <div class="overlay overlay-gradient-large"></div>
            <img src="images/pictures/22t.jpg" alt="img" />
        </div>
        <div class="item shadow-small">
            <div class="caption-style-3">
                <h1>SIMPLE<br />AND<br />FLEXIBLE</h1>
                <a href="#" class="button button-round button-xs bg-highlight uppercase ultrabold">MORE</a>
                <p class="bg-white">
                    Apptastic is made to be highlighy flexible and edit friedly
                    for all users.
                </p>
            </div>
            <div class="overlay bg-black opacity-50"></div>
            <img src="images/pictures/20t.jpg" alt="img" />
        </div>
        <div class="item shadow-small">
            <div class="caption-style-2">
                <strong>Multiple Styles</strong>
                <span>Choose your Style. We have plenty!</span>
                <div class="image-details">
                    <a href="#"><img src="images/empty.png" class="preload-image" data-src="images/preload-logo-small.png"
                            alt="img" />Enabled</a>
                    <a href="#"><i class="color-red-light fa fa-heart"></i>15k</a>
                    <a href="#"><i class="fa fa-comment"></i>536</a>
                </div>
            </div>
            <div class="overlay overlay-gradient-large"></div>
            <img src="images/pictures/3t.jpg" alt="img" />
        </div>
    </div>
</div>
<div class="simple-slider owl-carousel owl-no-dots top-30">
    <div class="content call-to-action-1">
        <h1 class="center-text font-30">Apptastic</h1>
        <p class="center-text">
            Certainly the most powerful, simple to use, and absolutely
            gorgeous mobile template on the Market.
        </p>
        <a href="homepages.html" class="shadow-small button button-s button-center-large button-rounded bg-highlight uppercase ultrabold">VIEW
            MORE HOMEPAGE STYLES</a>
    </div>
    <div class="content call-to-action-2">
        <h1 class="center-text font-24">It's Nice to Meet You!</h1>
        <p class="center-text">
            Certainly the most powerful, simple to use, and absolutely
            gorgeous mobile template on the Market.
        </p>
        <div class="one-half">
            <a href="#" class="shadow-small button button-s button-full button-rounded bg-highlight uppercase ultrabold">Call
                Now</a>
        </div>
        <div class="one-half last-column">
            <a href="#" class="shadow-small button button-s button-full button-rounded button-green uppercase ultrabold">Take
                a TOUR</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content call-to-action-3">
        <h1 class="center-text font-24">Sharing is Caring</h1>
        <p class="center-text bottom-30">
            Certainly the most powerful, simple to use, and absolutely
            gorgeous mobile template on the Market.
        </p>
        <div class="call-to-action-socials">
            <a href="#" class="shadow-small bg-facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="shadow-small bg-google"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="shadow-small bg-twitter"><i class="fab fa-twitter"></i></a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<span class="center-text font-10 bottom-20 color-night-light">Swipe me to the left. Multiple Call To Actions are
    Available</span>
<div class="decoration decoration-margins"></div>
<div class="content content-round shadow-medium">
    <div class="caption-style-4">
        <strong>Only the Best</strong>
        <h1>
            Packed with <br />
            First Class Features
        </h1>
    </div>
    <div class="overlay bg-black opacity-70"></div>
    <img src="images/pictures/8w.jpg" class="responsive-image bottom-0" alt="img" />
</div>
<div class="content">
    <div class="decoration"></div>
    <div class="icon-column">
        <i class="fa fa-power-off font-26 gradient-sky-dark color-white shadow-large"></i>
        <h1>Quality Obsessed</h1>
        <p>
            When we build a product, we code and test every feature, so you
            get the best.
        </p>
    </div>
    <div class="icon-column">
        <i class="fa fa-star font-24 gradient-red-dark color-white shadow-large"></i>
        <h1>Focused on You</h1>
        <p>
            We develop all the code so you just have to edit, we do the heavy
            lifting for you.
        </p>
    </div>
    <div class="icon-column">
        <i class="fa fa-life-ring font-28 gradient-green-dark color-white shadow-large"></i>
        <h1>Top Notch Support</h1>
        <p>
            Our customers praise our support and help files, built with no
            detail left behind.
        </p>
    </div>
    <div class="decoration"></div>
</div>
<div class="content-title bottom-30">
    <span class="color-highlight">Our customers come first</span>
    <h1>Undisputed Care</h1>
    <a href="#" class="color-highlight">See All</a>
</div>
<div class="slider-margins bottom-30">
    <div class="double-slider owl-carousel owl-no-dots">
        <div class="item bottom-10 shadow-small">
            <div class="above-overlay above-overlay-top">
                <strong class="color-white uppercase ultrabold font-11 right-text">Quality</strong>
            </div>
            <div class="above-overlay above-overlay-bottom bottom-10">
                <h5 class="color-white">All Features Tested and Checked.</h5>
            </div>
            <div class="overlay overlay-gradient"></div>
            <a href="#"><img src="images/pictures/29t.jpg" alt="img" class="responsive-image" /></a>
        </div>
        <div class="item bottom-10 shadow-small">
            <div class="above-overlay above-overlay-top">
                <strong class="color-white uppercase ultrabold font-11 right-text">Speed</strong>
            </div>
            <div class="above-overlay above-overlay-bottom bottom-10">
                <h5 class="color-white">
                    Our Products are fast! Blazing Fast.
                </h5>
            </div>
            <div class="overlay overlay-gradient"></div>
            <a href="#"><img src="images/pictures/13t.jpg" alt="img" class="responsive-image" /></a>
        </div>
        <div class="item bottom-10 shadow-small">
            <div class="above-overlay above-overlay-top">
                <strong class="color-white uppercase ultrabold font-11 right-text">Eye Candy</strong>
            </div>
            <div class="above-overlay above-overlay-bottom bottom-10">
                <h5 class="color-white">Made to Look and Feel Stunning.</h5>
            </div>
            <div class="overlay overlay-gradient"></div>
            <a href="#"><img src="images/pictures/29t.jpg" alt="img" class="responsive-image" /></a>
        </div>
        <div class="item bottom-10 shadow-small">
            <div class="above-overlay above-overlay-top">
                <strong class="color-white uppercase ultrabold font-11 right-text">Support</strong>
            </div>
            <div class="above-overlay above-overlay-bottom bottom-10">
                <h5 class="color-white">
                    We're Always Here for our Customers.
                </h5>
            </div>
            <div class="overlay overlay-gradient"></div>
            <a href="#"><img src="images/pictures/8t.jpg" alt="img" class="responsive-image" /></a>
        </div>
        <div class="item bottom-10 shadow-small">
            <div class="above-overlay above-overlay-top">
                <strong class="color-white uppercase ultrabold font-11 right-text">Clean Code</strong>
            </div>
            <div class="above-overlay above-overlay-bottom bottom-10">
                <h5 class="color-white">Oraganized for very easy use.</h5>
            </div>
            <div class="overlay overlay-gradient"></div>
            <a href="#"><img src="images/pictures/4t.jpg" alt="img" class="responsive-image" /></a>
        </div>
    </div>
</div>
<div class="decoration decoration-margins"></div>
<div class="content-title bottom-20">
    <span class="color-highlight">Loved by Thousands</span>
    <h1>Top Products</h1>
    <a href="#" class="color-highlight">See All</a>
</div>
<div class="content">
    <ul class="link-list">
        <li>
            <a href="#"><i class="fa fa-star color-yellow-dark"></i><span>Ultra Mobile</span><i class="fa fa-angle-right"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-heart color-red-dark"></i><span>Kolor Mobile</span><i class="fa fa-angle-right"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cog color-blue-dark"></i><span>Vinga Mobile</span><i class="fa fa-angle-right"></i></a>
        </li>
        <li>
            <a href="#" class="no-border"><i class="fas fa-wine-glass color-pink-dark"></i><span>Appeca Mobile</span><i
                    class="fa fa-angle-right"></i></a>
        </li>
    </ul>
</div>
<div class="decoration decoration-margins"></div>
<div class="content-title bottom-20">
    <span class="color-highlight">Only the Best</span>
    <h1>Featured Products</h1>
    <a href="#" class="color-highlight">See All</a>
</div>
<div class="slider-margins">
    <div class="double-slider owl-carousel bottom-10 owl-no-dots">
        <div class="item">
            <div>
                <div class="above-overlay above-overlay-bottom">
                    <div class="image-details bottom-20">
                        <a href="#"><img src="images/preload-logo-small.png" alt="img" /></a>
                        <a href="#"><i class="fa fa-heart color-red-dark"></i>15k</a>
                    </div>
                </div>
                <div class="overlay overlay-gradient"></div>
                <a href="#"><img src="images/pictures/10l.jpg" alt="img" class="responsive-image" /></a>
            </div>
            <h4 class="bolder">UltraMobile</h4>
            <p>
                Our best products ever built. It's a monster.
            </p>
        </div>
        <div class="item">
            <div>
                <div class="above-overlay above-overlay-bottom">
                    <div class="image-details bottom-20">
                        <a href="#"><img src="images/preload-logo-small.png" alt="img" /></a>
                        <a href="#"><i class="fa fa-star color-yellow-dark"></i>15k</a>
                    </div>
                </div>
                <div class="overlay overlay-gradient"></div>
                <a href="#"><img src="images/pictures/9l.jpg" alt="img" class="responsive-image" /></a>
            </div>
            <h4 class="bolder">KolorMobile</h4>
            <p>
                A gorgeous interface with powerful features.
            </p>
        </div>
        <div class="item">
            <div>
                <div class="above-overlay above-overlay-bottom">
                    <div class="image-details bottom-20">
                        <a href="#"><img src="images/preload-logo-small.png" alt="img" /></a>
                        <a href="#"><i class="fa fa-star color-yellow-dark"></i>15k</a>
                    </div>
                </div>
                <div class="overlay overlay-gradient"></div>
                <a href="#"><img src="images/pictures/18l.jpg" alt="img" class="responsive-image" /></a>
            </div>
            <h4 class="bolder">Appeca</h4>
            <p>
                Flexible with light and dark gorgeous skins.
            </p>
        </div>
        <div class="item">
            <div>
                <div class="above-overlay above-overlay-bottom">
                    <div class="image-details bottom-20">
                        <a href="#"><img src="images/preload-logo-small.png" alt="img" /></a>
                        <a href="#"><i class="fa fa-star color-yellow-dark"></i>15k</a>
                    </div>
                </div>
                <div class="overlay overlay-gradient"></div>
                <a href="#"><img src="images/pictures/14l.jpg" alt="img" class="responsive-image" /></a>
            </div>
            <h4 class="bolder">AMP Pro</h4>
            <p>
                Powerful with the latest tech of speed.
            </p>
        </div>
    </div>
</div>
<div class="decoration decoration-margins"></div>
<div class="content-title bottom-20">
    <span class="color-highlight">Only The Best</span>
    <h1 class="font-22">Apptastic is The Best</h1>
    <a href="#" class="color-highlight">See All</a>
</div>
<div class="slider-margins bottom-30">
    <div class="double-slider owl-carousel owl-no-dots">
        <div class="item bottom-10 shadow-small">
            <div class="above-overlay above-overlay-top">
                <strong class="color-white uppercase ultrabold"><i class="fa fa-heartbeat top-20 fa-3x"></i></strong>
            </div>
            <div class="above-overlay above-overlay-bottom bottom-10">
                <h1 class="color-white bolder">Quality</h1>
                <h5 class="color-white font-11">
                    All Features Tested and Checked.
                </h5>
            </div>
            <div class="overlay bg-red-light"></div>
            <a href="#"><img src="images/pictures/0t.jpg" alt="img" class="responsive-image" /></a>
        </div>
        <div class="item bottom-10 shadow-small">
            <div class="above-overlay above-overlay-top">
                <strong class="color-white uppercase ultrabold"><i class="fa fa-user-friends top-20 fa-3x"></i></strong>
            </div>
            <div class="above-overlay above-overlay-bottom bottom-10">
                <h1 class="color-white bolder">Friendly</h1>
                <h5 class="color-white font-11">
                    Easy to use and edit by Everyone.
                </h5>
            </div>
            <div class="overlay bg-green-dark"></div>
            <a href="#"><img src="images/pictures/0t.jpg" alt="img" class="responsive-image" /></a>
        </div>
        <div class="item bottom-10 shadow-small">
            <div class="above-overlay above-overlay-top">
                <strong class="color-white uppercase ultrabold"><i class="fa fa-certificate top-20 fa-3x"></i></strong>
            </div>
            <div class="above-overlay above-overlay-bottom bottom-10">
                <h1 class="color-white bolder">Certified</h1>
                <h5 class="color-white font-11">
                    Built by the Best Mobile Authors on Envato.
                </h5>
            </div>
            <div class="overlay bg-blue-dark"></div>
            <a href="#"><img src="images/pictures/0t.jpg" alt="img" class="responsive-image" /></a>
        </div>
        <div class="item bottom-10 shadow-small">
            <div class="above-overlay above-overlay-top">
                <strong class="color-white uppercase ultrabold"><i class="fa fa-rocket top-20 fa-3x"></i></strong>
            </div>
            <div class="above-overlay above-overlay-bottom bottom-10">
                <h1 class="color-white bolder">Fast</h1>
                <h5 class="color-white font-11">
                    Checked and Optimized for Best Performance.
                </h5>
            </div>
            <div class="overlay bg-teal-dark"></div>
            <a href="#"><img src="images/pictures/0t.jpg" alt="img" class="responsive-image" /></a>
        </div>
    </div>
</div>
<div class="decoration decoration-margins"></div>
<div class="content-title bottom-20">
    <span class="color-highlight">25k Customers</span>
    <h1>Testimonials</h1>
    <a href="#" class="color-highlight">See All</a>
</div>
<div class="quote-slider owl-carousel owl-no-dots">
    <div class="blockquote-2">
        <img class="shadow-large" src="images/pictures/faces/1small.png" />
        <p class="color-night-light">
            The code is always great with any Enabled template, but its the
            customer support that wins me over all the time.
        </p>
    </div>
    <div class="blockquote-2">
        <img class="shadow-large" src="images/pictures/faces/2small.png" />
        <p class="color-night-light">
            The code is always great with any Enabled template, but its the
            customer support that wins me over all the time.
        </p>
    </div>
</div>
<div class="decoration decoration-margins"></div>
<div class="content content-round shadow-medium">
    <a href="#" class="vertical-center-button button-right bg-highlight uppercase button-xxs ultrabold button-round">GET
        IT</a>
    <div class="caption-style-4">
        <strong>It's time to upgrade</strong>
        <h1>
            Get Apptastic <br />
            From Envato Today
        </h1>
    </div>
    <div class="overlay bg-black opacity-70"></div>
    <img src="images/pictures/29w.jpg" class="responsive-image bottom-0" alt="img" />
</div>

</div>
{% endblock %}