/* Framework.CSS

    Template Name:      Enabled Mobile Templates
    Template URL:       http://enableds.com
    Author:             Enabled
    Author URI:         http://themeforest.net/user/Enabled?ref=Enabled
    Version:            10.0
    License:            Regular or Extended via ThemeForest
    Structure:          Each chapter from the structure can be located using
                        CTRL + F ( Windows ) or CMD + F ( Mac ) The titles are
                        copy pasted as they are in the code.
	Table Of Contents:

	1. Reset
	2. Page Content Settings
	3. Typography Reset
	4. Backgrounds & Colors
	5. Image Effects
	6. Typography Custom
	7. Lists
	8. Responsive Classes
	9. Decorations
	10. Hover + Rotate Effects
	11. Input Styles
	12. Switches
	13. Range sliders
	14. Checkbox and Radios
	15. Dropcaps
	16. Chips
	17. Link Lists
	18. Sortable List
	19. Search
	20. Buttons
	21. Back to Top Badge
	22. Mobile Ads & Cookie Policy
	23. Content Strip & Gardient Cards
	24. Icon Column
	25. Home Call To Action
	26. Pricing Table
	27. Block Quotes
	28. Reviews
	29. Article Cards




	30. Contact Page


	31. Header & Menu icons
	32. Footer
	33. Custom Menu Canvas Elements
	34. Menu Wrappers





	35. Accordion
	36. Tabs
	37. Toggles
	38. FAQ


	39. Snackbar
	40. Toast Box

	41. Notification Boxes

	42. Reading Box


	43. Pagination


	44. Progress Bar

	45. Media Pages


	46. Full Page


	47. Page 404



	48. Page Countdown
	49. Page Login
	50. Page VCard
	51. Page Timeline
	52. Page Profile
	53. Page System
	54. Page TEam
	55. Calendar
	56. Chat
	57. Coverpage
	58. Map FullScreen
	59. Page Plugins
	60. Demo Elements -  Delete these

	Deleting the mentioned items above can be done by going to the CSS chapter below
	and deleting all the lines in the content. This will help increase loading speed!
*/

@import "abstracts/variables";


@import "base/reset";
@import "base/bootstrap-grid";
@import "base/page";
@import "base/typography";
@import "base/colors";
@import "base/images";
@import "base/heading";
@import "base/lists";
@import "base/responsive";
@import "base/decoration";
@import "base/hover";
@import "base/input";
@import "base/switches";
@import "base/ranges-slider";
@import "base/checkboxes";
@import "base/dropcaps";
@import "base/chips";
@import "base/links";
@import "base/sortable";
@import "base/search";
@import "base/buttons";
@import "base/backtotop";
@import "base/ads";
@import "base/cards";
@import "base/icon-column";
@import "base/pricing-table";
@import "base/block-quotes";
@import "base/review";
@import "base/article-cards";
@import "base/contact";


@import "base/accordions";
@import "base/tabs";
@import "base/toggles";
@import "base/faq";
@import "base/snackbar";
@import "base/toast";
@import "base/notification-box";
@import "base/reading-bar";
@import "base/pagination";
@import "base/progess-bar";
@import "base/media-pages";
@import "base/full-pages";



@import "layout/header";


@import "components/svg";



@import "pages/pages";

@import "pages/home";


@import "vendor/swiper.min";


/*Style.CSS*/
/* All logos and logo sizes are edited in this CSS*/
/*
.header-logo-image, .footer-logo{
  background-size:85px 12px;
  background-repeat: no-repeat;
  background-position:left center;
  height:100%;
  width:147px;
}

#preloader h1{
  background-size:160px 23px;
  background-repeat: no-repeat;
  background-position:center bottom;
  height:100px;
}

.preloader-light h1{background-image:url(../images/logo-dark.png)!important;}
.preloader-dark h1{background-image:url(../images/logo-light.png)!important;}

.dark-skin .header-logo-image,
.dark-skin .footer-logo{background-image:url(../images/logo-light.png)!important;}

.light-skin .header-logo-image,
.light-skin .footer-logo{background-image:url(../images/logo-dark.png)!important;}*/
