
/*---Accordions---*/
/*----------------*/
.accordion a {
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  color: #000000;
}

.accordion a i:last-child {
  position: absolute;
  right: -15px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  transition: all 350ms ease;
}

.accordion a i:first-child {
  height: 100%;
  width: 40px;
  text-align: center;
  margin-left: -10px;
}

.accordion-content {
  display: none;
  overflow: hidden;
}

.accordion-style-2 a {
  padding: 0px 15px 0px 15px;
  height: 50px;
  line-height: 50px;
}

.accordion-style-2 a i:last-child {
  right: 0px;
  height: 50px;
  line-height: 50px;
}

.accordion-style-2 .accordion-content {
  margin-top: 10px;
}

.accordion-style-3 a {
  height: 80px;
  overflow: hidden;
  margin-bottom: 1px;
}

.accordion-style-1 [data-accordion] i {
  font-size: 10px;
  transition: all 250ms ease;
}

.accordion-style-1 [data-accordion] .fa-circle {
  font-size: 8px;
}

.accordion-style-1 [data-accordion] .rotate-180 {
  color: red !important;
}

.accordion-style-0 [data-accordion] {
  font-size: 13px !important;
}

.accordion-style-0 [data-accordion] i {
  font-size: 8px;
  transition: all 250ms ease;
}

.accordion-style-0 [data-accordion] .fa-circle {
  font-size: 5px;
}

.accordion-style-0 [data-accordion] .rotate-180 {
  color: red !important;
}

.accordion-style-0 .accordion-border {
  border: solid 1px rgba(0, 0, 0, 0.07);
  padding: 3px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.rounded-top-accordion {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.rounded-bottom-accordion {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}