
/*---Mobile Ads---*/
/*----------------*/
.ad-box {
  border-radius: 10px;
}

.ad-300x250 {
  width: 300px;
  height: 250px;
  margin: 0px auto 30px auto;
}

.ad-300x50-static {
  width: 300px;
  height: 50px;
  margin: 0px auto 30px auto;
}

.ad-300x50-fixed {
  display: none;
  position: fixed;
  bottom: 0px;
  width: 300px;
  height: 50px;
  left: 50%;
  margin-left: -150px;
  z-index: 99;
  background-color: #000000;
}

.close-ad-button {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  line-height: 20px;
}

.scroll-ad-visible {
  transform: translateY(0px) !important;
}

.scroll-ad {
  position: fixed;
  bottom: 15px;
  left: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.99);
  z-index: 99;
  height: 80px;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, .3);
  border-radius: 15px;
  transform: translateY(150px);
  transition: all 250ms ease;
}

.scroll-ad img {
  width: 60px;
  position: absolute;
  margin: 10px;
  border-radius: 10px;
}

.scroll-ad strong {
  display: block;
  font-size: 18px;
  padding: 13px 0px 0px 80px;
  margin-bottom: -10px;
}

.scroll-ad em {
  padding: 0px 60px 0px 80px;
  font-style: normal;
  font-size: 11px;
  opacity: 0.7;
}

.scroll-ad a {
  width: 60px;
  font-size: 8px;
  right: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: absolute;
  top: 50%;
  border-radius: 12px;
  transform: translateY(-50%);
}

/*---Menu Cookie---*/
/*-----------------*/
.cookie-policy {
  position: fixed;
  display: none;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background-color: #FFFFFF;
  box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.1);
}
