
/*---Article Cards---*/
/*-------------------*/
.article-card.article-full, .article-card.article-full .article-header {
  margin: 0px;
  border: none;
  height: 200px;
}

.article-card.article-full .article-image, .article-card.article-full .article-overlay {
  height: 200px !important;
}

.article-card.article-card-round .article-category {
  border-radius: 30px;
}

.article-card.article-card-round {
  border-radius: 15px !important;
  overflow: hidden;
}

.article-card .article-header {
  position: relative;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
}

.article-category {
  z-index: 2;
  font-size: 11px;
  left: 20px;
  top: 20px;
  line-height: 25px;
  padding: 0px 15px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.8);
}

.article-card {
  height: 100%;
  margin: 0px 20px 20px 20px;
}

.article-card .article-image, .article-card .article-overlay,
.article-card .article-category, .article-card .article-close {
  position: absolute;
}

.article-card .article-content {
  padding: 10px 15px 0px 15px;
}

.article-content-clear {
  height: 40px;
  margin: 0px 0px 20px 0px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.article-card.article-clone .article-header {
  border-radius: 0px;
}

.article-card .article-title {
  font-size: 16px;
  line-height: 20px;
  z-index: 5;
  bottom: 10px;
  left: 20px;
}

.article-card .article-close, .article-instant .article-close {
  display: none;
  z-index: 3;
  right: 0px;
}

.article-card .article-image {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
  z-index: 1;
  transition: all 500ms ease;
}

.article-card .article-overlay {
  width: 100%;
  height: 150px;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%,
          rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 1) 100%);
}

.article-author i {
  padding-right: 10px;
}

.article-author {
  position: absolute;
  font-size: 11px;
  padding: 5px 20px;
  bottom: 0px;
  z-index: 2;
}

.article-time i {
  padding-left: 10px;
}

.article-time {
  position: absolute;
  font-size: 11px;
  padding: 5px 20px;
  bottom: 0px;
  z-index: 2;
  right: 0px;
}

/*Article Clone*/
.article-clone {
  position: fixed;
  top: 0px;
  z-index: 999;
  margin-left: 0px;
  margin-right: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: scroll;
  transform: translateX(105%);
  transition: all 300ms cubic-bezier(0.1, 0.2, 0.1, 1);
  -webkit-overflow-scrolling: touch;
}

.article-clone .article-overlay {
  display: none;
}

.article-clone {
  border: none !important;
}

.article-clone.article-card {
  background-color: #FFFFFF;
}

.article-card .article-content-hidden {
  display: none;
  padding: 0px 15px 0px 15px;
}

.article-clone .article-content-hidden {
  display: block !important;
}

.active-card {
  transform: translateX(0px) !important;
  transition: all 300ms cubic-bezier(0.1, 0.2, 0.1, 1);
}

.article-clone .article-header, .article-clone .article-image {
  height: 300px;
}

.article-clone .article-time, .article-clone .article-author {
  bottom: -40px;
  color: #666666 !important;
}

.article-clone .article-content {
  margin-top: 40px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.article-clone .article-category {
  right: 20px;
  left: auto;
}

.article-clone .article-back i {
  padding-right: 10px;
}

.article-clone .article-back {
  z-index: 15;
  font-size: 11px;
  left: 20px;
  top: 20px;
  line-height: 25px;
  border-radius: 30px;
  padding: 0px 15px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  color: #FFFFFF;
  text-transform: uppercase;
}
