
/*---Back To Top Badge---*/
/*-----------------------*/
.back-to-top-badge {
  width: 34px;
  height: 34px;
  border-radius: 44px;
  font-size: 12px;
  position: fixed;
  z-index: 19;
  right: 15px;
  bottom: 5px;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  color: #FFFFFF;
  text-align: center;
  line-height: 32px;
  background: #499bea;
  /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea',
          endColorstr='#207ce5', GradientType=0);
  /* IE6-9 */
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.back-to-top-badge:hover {
  color: #FFFFFF;
}

.back-to-top-badge i {
  height: 34px;
  line-height: 35px;
  text-align: center;
  width: 34px;
  font-size: 18px;
}

.back-to-top-badge-visible {
  pointer-events: all;
  -webkit-transform: translateY(-25px);
  transform: translateY(-25px);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.back-to-top-small {
  overflow: hidden;
  bottom: -3px;
}

.back-to-top-small i {
  font-size: 13px;
}

.back-to-top-large {
  width: 130px;
  height: 32px;
  border-radius: 18px;
  font-size: 12px;
  position: fixed;
  left: 50%;
  margin-left: -65px;
  bottom: -5px;
  color: #FFFFFF;
  text-align: center;
  line-height: 28px;
  background: #499bea;
  /* Old browsers */
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.back-to-top-header {
  top: -50px;
}

.back-to-top-header.back-to-top-badge-visible {
  transform: translateY(120px) !important;
}

.back-to-top-large i {
  height: 32px;
  line-height: 32px !important;
  padding-right: 17px;
  text-align: center;
  width: 23px;
  font-size: 13px;
}