
/*---Block Quotes---*/
/*------------------*/
.quote-slider * {
  overflow: visible !important;
}

.quote-slider {
  padding: 0px 20px;
}

.blockquote-1 p {
  font-size: 15px;
  line-height: 32px;
  font-weight: 300;
  color: #535353;
}

.blockquote-1 a {
  font-size: 12px;
}

.blockquote-border-left {
  border-right: none !important;
  border-bottom: none !important;
  border-top: none !important;
  padding: 5px 10px 5px 20px;
  border-left-width: 4px !important;
}

.blockquote-border-right {
  border-left: none !important;
  border-bottom: none !important;
  border-top: none !important;
  padding: 5px 20px 5px 10px;
  border-right-width: 4px !important;
}

.blockquote-2 p {
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  padding-left: 90px;
  color: #000000;
}

.blockquote-2 i, .blockquote-2 img {
  position: absolute;
  margin-top: 4px;
  height: 70px !important;
  width: 70px !important;
  line-height: 70px;
  text-align: center;
  font-size: 32px;
  border-radius: 50px;
}

.blockquote-2 a {
  font-size: 11px;
}

.blockquote-3 i {
  display: block;
  font-size: 40px;
  line-height: 102px;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin: 0px auto 20px auto;
  text-align: center;
}

.blockquote-3 p {
  text-align: center;
  max-width: 300px;
  margin: 20px auto 20px auto;
  font-size: 18px;
  font-weight: 300;
  line-height: 34px;
  color: #000000;
}

.blockquote-4 p {
  font-size: 16px;
  font-weight: 300;
  line-height: 34px;
  font-style: italic;
  color: #1f1f1f;
}

.blockquote-4 .fa-quote-left {
  position: absolute;
  top: 0px;
  height: 100px;
  line-height: 100px;
  font-size: 95px;
  margin-top: 5px;
  opacity: 0.08;
}

.blockquote-4 .fa-quote-right {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;
  line-height: 100px;
  font-size: 95px;
  margin-top: 5px;
  opacity: 0.08;
}

.blockquote-rating i {
  line-height: 40px !important;
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;

  float: left;
  margin-right: 10px !important;
  margin-left: 10px !important;
  font-size: 24px !important;
}

.blockquote-rating {
  width: 200px !important;
  margin: 0px auto 0px auto !important;
}
