
/*---Buttons---*/
/*-------------*/
.button {
  transition: all 250ms ease;
}

.button:hover, .button-round:hover {
  text-decoration: none !important;
}

@media ( max-width :560px) {
  .demo-socials a {
    width: 100%;
  }
}

@media ( min-width :560px) and (max-width:760px) {
  .demo-socials a {
    width: 45%;
  }
}

@media ( min-width :760px) and (max-width:1280px) {
  .demo-socials a {
    width: 31%;
  }
}

@media ( min-width :1280px) {
  .demo-socials a {
    width: 18%;
  }
}

.icon {
  display: inline-block;
  margin: 0px 5px 5px 5px;
  border: none !important;
}

.button, .button-round {
  color: #FFFFFF;
  height: 45px;
  line-height: 42px;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  margin: 0px 10px 10px 0px;
  padding: 0px 20px 0px 20px;
}

.button-ghost {
  text-align: center;
  font-size: 13px;
  display: inline-block;
  margin: 0px 5px 10px 5px;
  padding: 0px 20px 0px 20px;
  background-color: transparent;
  color: #ffffff;
  padding-top: 1px;
}

.button-ghost:hover {
  background-color: #FFFFFF !important;
  color: #1f1f1f !important;
}

.icon i {
  display: block;
  text-align: center;
}

.button-bold {
  font-weight: 700 !important;
}

.button-xl {
  font-size: 18px;
  height: 70px !important;
  line-height: 68px !important;
}

.button-xl.button-icon i {
  font-size: 12px;
  height: 70px !important;
  width: 68px !important;
  border-radius: 70px !important;
  line-height: 70px !important;
}

.button-l {
  font-size: 16px;
  height: 60px !important;
  line-height: 60px !important;
}

.button-l.button-icon i {
  font-size: 20px;
  height: 60px !important;
  width: 55px !important;
  line-height: 60px !important;
}

.button-l.button-icon {
  line-height: 60px !important;
}

.button-m {
  font-size: 15px;
  height: 55px !important;
  line-height: 55px !important;
}

.button-m.button-icon i {
  font-size: 16px;
  height: 55px !important;
  width: 55px !important;
  line-height: 55px !important;
}

.button-m.button-icon {
  line-height: 55px !important;
}

.button-sm {
  font-size: 12px;
  height: 45px !important;
  line-height: 41px !important;
}

.button-sm.button-icon i {
  font-size: 14px;
  height: 45px !important;
  width: 45px !important;
  line-height: 45px !important;
}

.button-sm.button-icon {
  line-height: 45px !important;
}

.button-s {
  font-size: 12px;
  height: 40px !important;
  line-height: 36px !important;
}

.button-s.button-icon i {
  font-size: 14px;
  height: 40px !important;
  width: 40px !important;
  line-height: 40px !important;
}

.button-s.button-icon {
  line-height: 40px !important;
}

.button-xs {
  font-size: 11px;
  height: 35px !important;
  line-height: 32px !important;
}

.button-xs.button-icon i {
  font-size: 12px;
  height: 35px !important;
  width: 45px !important;
  line-height: 35px !important;
}

.button-xs.button-icon {
  line-height: 35px !important;
}

.button-xxs {
  font-size: 10px;
  height: 30px !important;
  line-height: 28px !important;
}

.button-xxs.button-icon i {
  font-size: 14px;
  height: 30px !important;
  width: 30px !important;
  line-height: 30px !important;
}

.button-xxs.button-icon {
  line-height: 26px !important;
}

.button-icon.button-center-large {
  padding-left: 40px;
}

.icon-xxl {
  width: 100px !important;
  height: 100px !important;
  line-height: 100px !important;
  font-size: 40px !important;
}

.icon-xxl i {
  width: 100px !important;
  height: 100px !important;
  line-height: 100px !important;
  font-size: 40px;
}

.icon-xl {
  width: 70px !important;
  height: 70px !important;
  line-height: 70px !important;
  font-size: 32px !important;
}

.icon-xl i {
  width: 70px !important;
  height: 70px !important;
  line-height: 70px !important;
  font-size: 32px;
}

.icon-l {
  width: 60px !important;
  height: 60px !important;
  line-height: 60px !important;
  font-size: 24px !important;
}

.icon-l i {
  width: 60px !important;
  height: 60px !important;
  line-height: 60px !important;
  font-size: 24px;
}

.icon-m {
  width: 55px !important;
  height: 55px !important;
  line-height: 55px !important;
  font-size: 20px !important;
}

.icon-m i {
  width: 55px !important;
  height: 55px !important;
  line-height: 55px !important;
  font-size: 20px;
}

.icon-s {
  width: 40px !important;
  height: 40px !important;
  line-height: 38px !important;
  font-size: 16px !important;
}

.icon-s i {
  width: 40px !important;
  height: 40px !important;
  line-height: 39px !important;
  font-size: 16px;
}

.icon-xs i {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
  font-size: 14px;
}

.icon-xs {
  width: 35px !important;
  height: 35px !important;
  line-height: 35px !important;
  font-size: 14px !important;
}

.icon-round {
  border-radius: 7px;
  overflow: hidden;
}

.icon-circle {
  border-radius: 100%;
}

.icon-center {
  margin: 0 auto;
  display: block;
}

.shadow-large {
  box-shadow: 0 20px 67px 0 rgba(0, 0, 0, .12), 0 5px 14px 0
  rgba(0, 0, 0, .2) !important;
}

.shadow-medium {
  box-shadow: 0 15px 47px 0 rgba(0, 0, 0, .12), 0 5px 14px 0
  rgba(0, 0, 0, .2) !important;
}

.shadow-small {
  box-shadow: 0 10px 47px 0 rgba(0, 0, 0, .05), 0 5px 14px 0
  rgba(0, 0, 0, .1) !important;
}

.center-icons {
  margin: 20px auto 30px auto;
}

.center-3-icons {
  width: 150px;
}

.center-2-icons {
  width: 94px;
}

.button-teal {
  background-color: #A0CECB;
  border: solid 2px #A0CECB;
}

.button-teal-3d {
  border: none !important;
  border-bottom: solid 5px #7DB1B1 !important;
  padding: 0px 22px;
}

.button-teal:hover {
  background-color: #7DB1B1;
  border: solid 2px #7DB1B1;
}

.button-teal:active {
  background-color: #628d8d;
  border-bottom: solid 2px #628d8d !important;
}

.button-mint {
  background-color: #48CFAD;
  border: solid 2px #48CFAD;
}

.button-mint-3d {
  border: none !important;
  border-bottom: solid 5px #37BC9B !important;
  padding: 0px 22px;
}

.button-mint:hover {
  background-color: #37BC9B;
  border: solid 2px #37BC9B;
}

.button-mint:active {
  background-color: #2fa285;
  border-bottom: solid 2px #2fa285 !important;
}

.button-white {
  background-color: #FFFFFF;
  border: solid 2px #FFFFFF;
  color: #1f1f1f;
}

.button-white-3d {
  border: none !important;
  border-bottom: solid 5px #FFFFFF !important;
  padding: 0px 22px;
  color: #1f1f1f;
}

.button-white:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 2px #FFFFFF;
}

.button-white:active {
  background-color: #FFFFFF;
  border-bottom: solid 2px #FFFFFF !important;
}

.button-green {
  background-color: #8CC152;
  border: solid 2px #8CC152;
}

.button-green-3d {
  border: none !important;
  border-bottom: solid 5px #77a346 !important;
  padding: 0px 22px;
}

.button-green:hover {
  background-color: #A0D468;
  border: solid 2px #A0D468;
}

.button-green:active {
  background-color: #77a346;
  border: solid 2px #77a346;
}

.button-blue {
  background-color: #4A89DC;
  border: solid 2px #4A89DC;
}

.button-blue-3d {
  border: none !important;
  border-bottom: solid 5px #3a71b9 !important;
  padding: 0px 22px;
}

.button-blue:hover {
  background-color: #5D9CEC;
  border: solid 2px #5D9CEC;
}

.button-blue:active {
  background-color: #3a71b9;
  border: solid 2px #3a71b9;
}

.button-blue2 {
  background-color: #4FC1E9;
  border: solid 2px #4FC1E9;
}

.button-blue2-3d {
  border: none !important;
  border-bottom: solid 5px #3ba3c9 !important;
  padding: 0px 22px;
}

.button-blue2:hover {
  background-color: #3BAFDA;
  border: solid 2px #3BAFDA;
}

.button-blue2:active {
  background-color: #3ba3c9;
  border: solid 2px #3ba3c9;
}

.button-magenta {
  background-color: #AC92EC;
  border: solid 2px #AC92EC;
}

.button-magenta-3d {
  border: none !important;
  border-bottom: solid 5px #8a70cc !important;
  padding: 0px 22px;
}

.button-magenta:hover {
  background-color: #967ADC;
  border: solid 2px #967ADC;
}

.button-magenta:active {
  background-color: #8a70cc;
  border: solid 2px #8a70cc;
}

.button-magenta2 {
  background-color: #8067B7;
  border: solid 2px #8067B7;
}

.button-magenta2-3d {
  border: none !important;
  border-bottom: solid 5px #503a84 !important;
  padding: 0px 22px;
}

.button-magenta2:hover {
  background-color: #6A50A7;
  border: solid 2px #6A50A7;
}

.button-magenta2:active {
  background-color: #503a84;
  border: solid 2px #503a84;
}

.button-dark {
  background-color: #3C3B3D;
  border: solid 2px #3C3B3D;
}

.button-dark-3d {
  border: none !important;
  border-bottom: solid 5px #000000 !important;
  padding: 0px 22px;
}

.button-dark:hover {
  background-color: #323133;
  border: solid 2px #323133;
}

.button-dark:active {
  background-color: #000000;
  border: solid 2px #000000;
}

.button-dark2 {
  background-color: #656D78;
  border: solid 2px #656D78;
}

.button-dark2-3d {
  border: none !important;
  border-bottom: solid 5px #434A54 !important;
  padding: 0px 22px;
}

.button-dark2:hover {
  background-color: #656D78;
  border: solid 2px #656D78;
}

.button-dark2:active {
  background-color: #3a404a;
  border: solid 2px #434A54;
}

.button-yellow {
  background-color: #F6BB42;
  border: solid 2px #F6BB42;
}

.button-yellow-3d {
  border: none !important;
  border-bottom: solid 5px #cb9527 !important;
  padding: 0px 22px;
}

.button-yellow:hover {
  background-color: #d8a02e;
  border: solid 2px #d8a02e;
}

.button-yellow:active {
  background-color: #cb9527;
  border: solid 2px #cb9527;
}

.button-orange {
  background-color: #FC6E51;
  border: solid 2px #FC6E51;
}

.button-orange-3d {
  border: none !important;
  border-bottom: solid 5px #c6442f !important;
  padding: 0px 22px;
}

.button-orange:hover {
  background-color: #E9573F;
  border: solid 2px #E9573F;
}

.button-orange:active {
  background-color: #c6442f;
  border: solid 2px #c6442f;
}

.button-red {
  background-color: #ED5565;
  border: solid 2px #ED5565;
}

.button-red-3d {
  border: none !important;
  border-bottom: solid 5px #BF263C !important;
  padding: 0px 22px;
}

.button-red:hover {
  background-color: #DA4453;
  border: solid 2px #DA4453;
}

.button-red:active {
  background-color: #BF263C;
  border: solid 2px #BF263C;
}

.button-pink {
  background-color: #FB3365;
  border: solid 2px #FB3365;
}

.button-pink-3d {
  border: none !important;
  border-bottom: solid 5px #d9315b !important;
  padding: 0px 22px;
}

.button-pink:hover {
  background-color: #ff4876;
  border: solid 2px #e22c59;
}

.button-pink:active {
  background-color: #e22c59;
  border: solid 2px #e22c59;
}

.button-pink2 {
  background-color: #EC87C0;
  border: solid 2px #EC87C0;
}

.button-pink2-3d {
  border: none !important;
  border-bottom: solid 5px #ba5992 !important;
  padding: 0px 22px;
}

.button-pink2:hover {
  background-color: #D770AD;
  border: solid 2px #D770AD;
}

.button-pink2:active {
  background-color: #ba5992;
  border: solid 2px #ba5992;
}

.button-icon {
  padding-left: 40px;
  height: 50px;
  line-height: 50px;
  border: none !important;
}

.button-full {
  display: block;
  width: 100% !important;
}

.button-round {
  border-radius: 40px !important;
}

.button-social {
  text-align: left !important;
  width: 100%;
  padding-left: 50px !important;
}

.button-social i {
  text-align: center !important;
}

.button-social-center {
  text-align: center !important;
  padding-left: 40px !important;
}

.button-center-large {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.button-center-medium {
  width: 190px;
  margin: 0 auto;
  display: block;
}

.button-center-small {
  width: 129px;
  margin: 0 auto;
  display: block;
}

.button-center {
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button-center-large.button-icon {
  padding-left: 20px !important;
}

.button-rounded {
  border-radius: 10px !important;
}

.button-round.button-icon i {
  border-radius: 50px;
}

.button-icon i {
  width: 50px;
  line-height: 50px !important;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  font-size: 14px;
}

.button-icon.button-full {
  padding-left: 20px;
}

.vertical-center-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  z-index: 30;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, 0);
;
}