
/*---Content Strips---*/
/*-------------------*/
.content-strip {
  margin-bottom: 30px;
}

.content-strip .container, .content-strip .owl-carousel {
  padding: 0px 20px;
  z-index: 90;
  margin-bottom: 0px;
}

.content-strip {
  padding: 40px 0px 40px 0px;
}

.content-strip-round {
  width: 310px;
  height: 310px;
  border-radius: 310px;
  overflow: hidden;
  margin: 0px auto 30px auto;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  border: solid 8px #FFFFFF;
}

.content-strip-bg {
  position: absolute;
  background-size: cover;
  background-position: center center;
  z-index: 8;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.content-strip-arrow {
  z-index: 15;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: 25px;
}

.content-strip-arrow i {
  color: rgba(255, 255, 255, 0.2);
  height: 5px;
  line-height: 5px;
  display: block;
  font-size: 12px;
}

.content-strip-arrow i:nth-child(1) {
  animation: bounce1 2s infinite;
}

.content-strip-arrow i:nth-child(2) {
  animation: bounce2 2s infinite;
  animation-delay: 0.1s;
}

.content-strip-arrow i:nth-child(3) {
  animation: bounce3 2s infinite;
  animation-delay: 0.2s;
}

@keyframes bounce1 {
  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce2 {
  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce3 {
  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*--Cards--*/
/*---------*/
.card {
  padding: 30px 20px;
  margin: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1) !important;
}

.card-full {
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
}

.card-blue {
  background-image: linear-gradient(to bottom, #4FC1E9 0%, #339dc4 100%);
}

.card-green {
  background-image: linear-gradient(to bottom, #98cc60 0%, #7daf47 100%);
}

.card-green2 {
  background-image: linear-gradient(to bottom, #2ECC71 0%, #1f9851 100%);
}

.card-brown {
  background-image: linear-gradient(to bottom, #BAA286 0%, #836c4e 100%);
}

.card-red {
  background-image: linear-gradient(to bottom, #ED5565 0%, #cc3241 100%);
}

.card-orange {
  background-image: linear-gradient(to bottom, #FC6E51 0%, #d14933 100%);
}

.card-black {
  background-image: linear-gradient(to bottom, #575757 0%, #212121 100%);
}

.card-violet {
  background-image: linear-gradient(to bottom, #6666ff 0%, #3c3cd0 100%);
}

.card-magenta {
  background-image: linear-gradient(to bottom, #6600cc 0%, #5807a8 100%);
}

.card-mint {
  background-image: linear-gradient(to bottom, #48CFAD 0%, #27a082 100%);
}
