
/*---Checkboxes & Radios---*/
/*-------------------------*/
.fac {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.fac label {
  margin: 0em 1em 0em 0em;
  padding-left: 1.5em;
  cursor: pointer;
  font-weight: inherit;
}

.fac>input+label:before, .fac>span::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 0;
  margin-top: 0.5px;
}

.fac>input+label:before {
  transition: opacity 150ms ease-in-out;
}

.fac input {
  display: none;
}

.checkboxes-demo .fac {
  display: block;
}

.fac-checkbox>input+label:before, .fac-checkbox-round>input+label:before {
  opacity: 1;
}

.fac-checkbox>input:checked+label:before, .fac>input:checked+label:before {
  opacity: 0;
}

.fac-radio>input+label:before, .fac-checkbox-o>input+label:before,
.fac-checkbox-round-o>input+label:before {
  opacity: 0;
}

.fac-radio>input:checked+label:before, .fac-checkbox-o>input:checked+label:before,
.fac-checkbox-round-o>input:checked+label:before {
  opacity: 1;
}

.fac-default>input+label:before, .fac-default>span::after {
  color: #9d9d9d;
}

.fac-blue>input+label:before, .fac-blue>span::after {
  color: #428bca;
}

.fac-green>input+label:before, .fac-green>span::after {
  color: #5cb85c;
}

.fac-orange>input+label:before, .fac-orange>span::after {
  color: #f0ad4e;
}

.fac-red>input+label:before, .fac-red>span::after {
  color: #d9534f;
}

.fac-checkbox>span::after {
  content: "\f0c8";
  opacity: 1;
  font-weight: 400;
}

.fac-checkbox>input[type=checkbox]+label:before {
  content: "\f00c";
  font-size: 10px !important;
  padding-left: 1px;
}

.fac-checkbox-round>span::after {
  content: "\f111";
  font-weight: 400;
}

.fac-checkbox-round>input[type=checkbox]+label:before {
  content: "\f00c";
  font-size: 8px !important;
  padding-left: 3px;
}

.fac-radio>span::after {
  content: "\f45c";
  font-weight: 400;
  font-size: 17px;
  margin-top: -1px;
}

.fac-radio>input[type=radio]+label:before {
  content: "\f14a";
  padding-left: 0px;
}

.fac-radio-round>span::after {
  content: "\f058";
  font-size: 14px !important;
  margin-left: -1px;
}

.fac-radio-round>input[type=radio]+label:before {
  content: "\f111";
  font-weight: 400;
  background-color: #FFFFFF;
  margin-left: -1px;
}

.dark-skin .fac-radio-round>input[type=radio]+label:before {
  background-color: #15181b;
}