
/*---Chips---*/
/*-----------*/
.chips-dark {
  background-color: #242631 !important;
  color: #FFFFFF !important;
}

.chips a {
  background-color: #fefefe;
  border: solid 1px rgba(0, 0, 0, 0.05);
  display: inline-block;
}

.chips .chips-icon, .chips img {
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  margin-right: 10px;
  position: absolute;
  left: -2px;
  top: -1px;
}

.chips-large a {
  font-size: 13px;
  padding: 0px 20px 0px 45px;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.chips-large .chips-icon, .chips-large img {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.chips-small a {
  padding: 1px 10px 1px 35px;
  border-radius: 24px;
  margin: 0px 5px 5px 0px;
  font-size: 12px;
  line-height: 24px;
}

.chips-small .chips-icon, .chips-small img {
  width: 28px;
  height: 28px;
  line-height: 29px;
}

.chips-hide {
  margin-left: 10px;
  font-size: 12px !important;
  opacity: 0.5;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block;
}