/*---Background & Colors---*/
/*-------------------------*/

.bg-full {
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  overflow: hidden;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.bg-transparent {
  background: rgba(0, 0, 0, 0) !important;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.bg-1 {
  background-image: url(../images/pictures/1.jpg);
}

.bg-2 {
  background-image: url(../images/pictures/2.jpg);
}

.bg-3 {
  background-image: url(../images/pictures/3.jpg);
}

.bg-4 {
  background-image: url(../images/pictures/4.jpg);
}

.bg-5 {
  background-image: url(../images/pictures/5.jpg);
}

.bg-6 {
  background-image: url(../images/pictures/6.jpg);
}

.bg-7 {
  background-image: url(../images/pictures/7.jpg);
}

.bg-8 {
  background-image: url(../images/pictures/8.jpg);
}

.bg-9 {
  background-image: url(../images/pictures/9.jpg);
}

.vertical-bg-0 {
  background-image: url(../images/pictures_vertical/bg0.jpg);
}

.vertical-bg-1 {
  background-image: url(../images/pictures_vertical/bg1.jpg);
}

.vertical-bg-2 {
  background-image: url(../images/pictures_vertical/bg2.jpg);
}

.vertical-bg-3 {
  background-image: url(../images/pictures_vertical/bg3.jpg);
}

.vertical-bg-4 {
  background-image: url(../images/pictures_vertical/bg4.jpg);
}

.vertical-bg-5 {
  background-image: url(../images/pictures_vertical/bg5.jpg);
}

.vertical-bg-6 {
  background-image: url(../images/pictures_vertical/bg6.jpg);
}

.vertical-bg-7 {
  background-image: url(../images/pictures_vertical/bg7.jpg);
}

.vertical-bg-8 {
  background-image: url(../images/pictures_vertical/bg8.jpg);
}

.vertical-bg-9 {
  background-image: url(../images/pictures_vertical/bg9.jpg);
}

.vertical-bg-10 {
  background-image: url(../images/pictures_vertical/bg10.jpg);
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  background-size: cover;
  pointer-events: none;
}

.overlay-image {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  background-size: cover;
  pointer-events: none;
  z-index: 8;
}

.above-overlay {
  position: relative;
  z-index: 10 !important;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

.medium-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.light-overlay {
  background-color: rgba(255, 255, 255, 0.85);
}

.overlay-dark {
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay-medium {
  background-color: rgba(0, 0, 0, 0.65);
}

.overlay-light {
  background-color: rgba(255, 255, 255, 0.75);
}

.overlay-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 1) 100%);
}

.overlay-gradient-large {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 1) 100%);
}

.overlay-gradient-small {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.8) 100%);
}

/*Page Highlights*/

.highlight-red {
  .color-highlight, .active-menu {
    color: #d8334a !important;
  }
  .bg-highlight {
    background-color: #d8334a !important;
    color: #FFFFFF;
    &.button {
      border: solid 2px #d8334a;
    }
  }
}

.highlight-green {
  .color-highlight, .active-menu {
    color: #8CC152 !important;
  }
  .bg-highlight {
    background-color: #8CC152 !important;
    color: #FFFFFF;
    &.button {
      border: solid 2px #8CC152;
    }
  }
}

.highlight-blue {
  .color-highlight, .active-menu {
    color: #4A89DC !important;
  }
  .bg-highlight {
    background-color: #4A89DC !important;
    color: #FFFFFF;
    &.button {
      border: solid 2px #4A89DC;
    }
  }
}

.highlight-pink {
  .color-highlight, .active-menu {
    color: #fa6a8e !important;
  }
  .bg-highlight {
    background-color: #fa6a8e !important;
    color: #FFFFFF;
    &.button {
      border: solid 2px #fa6a8e;
    }
  }
}

.highlight-orange {
  .color-highlight, .active-menu {
    color: #fc6e51 !important;
  }
  .bg-highlight {
    background-color: #fc6e51 !important;
    color: #FFFFFF;
    &.button {
      border: solid 2px #fc6e51;
    }
  }
}

.highlight-magenta {
  .color-highlight, .active-menu {
    color: #8067B7 !important;
  }
  .bg-highlight {
    background-color: #8067B7 !important;
    color: #FFFFFF;
    &.button {
      border: solid 2px #8067B7;
    }
  }
}

.highlight-simple {
  .color-highlight, .active-menu {
    color: #383838 !important;
  }
  .bg-highlight {
    background-color: #383838 !important;
    color: #FFFFFF;
    &.button {
      border: solid 2px #383838;
    }
  }
}

.bg-teal-light {
  background-color: #A0CECB !important;
  color: #FFFFFF;
}

.bg-teal-dark {
  background-color: #7DB1B1 !important;
  color: #FFFFFF;
}

.border-teal-light {
  border: solid 1px #A0CECB !important;
}

.border-teal-dark {
  border: solid 1px #7DB1B1 !important;
}

.bg-hover-teal-light:hover {
  background-color: #A0CECB !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-teal-dark:hover {
  background-color: #7DB1B1 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-teal-light {
  color: #A0CECB !important;
}

.color-teal-dark {
  color: #7DB1B1 !important;
}

.bg-green-light {
  background-color: #A0D468 !important;
  color: #FFFFFF;
}

.bg-green-dark {
  background-color: #8CC152 !important;
  color: #FFFFFF;
}

.border-green-light {
  border: solid 1px #A0D468 !important;
}

.border-green-dark {
  border: solid 1px #8CC152 !important;
}

.bg-hover-green-light:hover {
  background-color: #A0D468 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-green-dark:hover {
  background-color: #8CC152 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-green-light {
  color: #A0D468 !important;
}

.color-green-dark {
  color: #8CC152 !important;
}

.bg-green2-light {
  background-color: #2ECC71 !important;
  color: #FFFFFF;
}

.bg-green2-dark {
  background-color: #2ABA66 !important;
  color: #FFFFFF;
}

.border-green2-light {
  border: solid 1px #2ECC71 !important;
}

.border-green2-dark {
  border: solid 1px #2ABA66 !important;
}

.bg-hover-green2-light:hover {
  background-color: #2ECC71 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-green2-dark:hover {
  background-color: #2ABA66 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-green2-light {
  color: #2ECC71 !important;
}

.color-green2-dark {
  color: #2ABA66 !important;
}

.bg-blue-light {
  background-color: #5D9CEC !important;
  color: #FFFFFF;
}

.bg-blue-dark {
  background-color: #4A89DC !important;
  color: #FFFFFF;
}

.border-blue-light {
  border: solid 1px #5D9CEC !important;
}

.border-blue-dark {
  border: solid 1px #4A89DC !important;
}

.bg-hover-blue-light:hover {
  background-color: #5D9CEC !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-blue-dark:hover {
  background-color: #4A89DC !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-blue-light {
  color: #5D9CEC !important;
}

.color-blue-dark {
  color: #4A89DC !important;
}

.bg-blue2-light {
  background-color: #4FC1E9 !important;
  color: #FFFFFF;
}

.bg-blue2-dark {
  background-color: #3BAFDA !important;
  color: #FFFFFF !important;
}

.border-blue2-light {
  border: solid 1px #4FC1E9 !important;
}

.border-blue2-dark {
  border: solid 1px #3BAFDA !important;
}

.bg-hover-blue2-light:hover {
  background-color: #4FC1E9 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-blue2-dark:hover {
  background-color: #3BAFDA !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-blue2-light {
  color: #4FC1E9 !important;
}

.color-blue2-dark {
  color: #3BAFDA !important;
}

.bg-magenta-light {
  background-color: #8067B7 !important;
  color: #FFFFFF;
}

.bg-magenta-dark {
  background-color: #6A50A7 !important;
  color: #FFFFFF;
}

.border-magenta-light {
  border: solid 1px #8067B7 !important;
}

.border-magenta-dark {
  border: solid 1px #6A50A7 !important;
}

.bg-hover-magenta-light:hover {
  background-color: #8067B7 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-magenta-dark:hover {
  background-color: #6A50A7 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-magenta-light {
  color: #8067B7 !important;
}

.color-magenta-dark {
  color: #6A50A7 !important;
}

.bg-night-light {
  background-color: #656D78 !important;
  color: #FFFFFF;
}

.bg-night-dark {
  background-color: #434A54 !important;
  color: #FFFFFF;
}

.border-night-light {
  border: solid 1px #656D78 !important;
}

.border-night-dark {
  border: solid 1px #434A54 !important;
}

.bg-hover-night-light:hover {
  background-color: #656D78 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-night-dark:hover {
  background-color: #434A54 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-night-light {
  color: #656D78 !important;
}

.color-night-dark {
  color: #434A54 !important;
}

.bg-yellow-light {
  background-color: #FFCE54 !important;
  color: #FFFFFF;
}

.bg-yellow-dark {
  background-color: #F6BB42 !important;
  color: #FFFFFF;
}

.border-yellow-light {
  border: solid 1px #FFCE54 !important;
}

.border-yellow-dark {
  border: solid 1px #F6BB42 !important;
}

.bg-hover-yellow-light:hover {
  background-color: #FFCE5
}


.bg-hover-yellow-dark:hover {
  background-color: #F6BB42 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-yellow-light {
  color: #FFCE54 !important;
}

.color-yellow-dark {
  color: #F6BB42 !important;
}

.bg-yellow2-light {
  background-color: #E8CE4D !important;
  color: #FFFFFF;
}

.bg-yellow2-dark {
  background-color: #E0C341 !important;
  color: #FFFFFF;
}

.border-yellow2-light {
  border: solid 1px #E8CE4D !important;
}

.border-yellow2-dark {
  border: solid 1px #E0C341 !important;
}

.bg-hover-yellow2-light:hover {
  background-color: #E8CE4D !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-yellow2-dark:hover {
  background-color: #E0C341 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-yellow2-light {
  color: #E8CE4D !important;
}

.color-yellow2-dark {
  color: #E0C341 !important;
}

.bg-orange-light {
  background-color: #FC6E51 !important;
  color: #FFFFFF;
}

.bg-orange-dark {
  background-color: #E9573F !important;
  color: #FFFFFF;
}

.border-orange-light {
  border: solid 1px #FC6E51 !important;
}

.border-orange-dark {
  border: solid 1px #E9573F !important;
}

.bg-hover-orange-light:hover {
  background-color: #FC6E51 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-orange-dark:hover {
  background-color: #E9573F !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-orange-light {
  color: #FC6E51 !important;
}

.color-orange-dark {
  color: #E9573F !important;
}

.bg-red-light {
  background-color: #e74c3c !important;
  color: #FFFFFF;
}

.bg-red-dark {
  background-color: #c0392b !important;
  color: #FFFFFF;
}

.border-red-light {
  border: solid 1px #e74c3c !important;
}

.border-red-dark {
  border: solid 1px #c0392b !important;
}

.bg-hover-red-light:hover {
  background-color: #e74c3c !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-red-dark:hover {
  background-color: #c0392b !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-red-light {
  color: #e74c3c !important;
}

.color-red-dark {
  color: #c0392b !important;
}

.bg-pink-light {
  background-color: #fa6a8e !important;
  color: #FFFFFF;
}

.bg-pink-dark {
  background-color: #FB3365 !important;
  color: #FFFFFF;
}

.border-pink-light {
  border: solid 1px #fa6a8e !important;
}

.border-pink-dark {
  border: solid 1px #FB3365 !important;
}

.bg-hover-pink-light:hover {
  background-color: #f85d84 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-pink-dark:hover {
  background-color: #fa6a8e !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-pink-light {
  color: #fa6a8e !important;
}

.color-pink-dark {
  color: #FB3365 !important;
}

.bg-brown-light {
  background-color: #BAA286 !important;
  color: #FFFFFF;
}

.bg-brown-dark {
  background-color: #AA8E69 !important;
  color: #FFFFFF;
}

.border-brown-light {
  border: solid 1px #BAA286 !important;
}

.border-brown-dark {
  border: solid 1px #AA8E69 !important;
}

.bg-hover-brown-light:hover {
  background-color: #BAA286 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-brown-dark:hover {
  background-color: #AA8E69 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-brown-light {
  color: #BAA286 !important;
}

.color-brown-dark {
  color: #AA8E69 !important;
}

.bg-brown2-light {
  background-color: #8E8271 !important;
  color: #FFFFFF;
}

.bg-brown2-dark {
  background-color: #7B7163 !important;
  color: #FFFFFF;
}

.border-brown2-light {
  border: solid 1px #8E8271 !important;
}

.border-brown2-dark {
  border: solid 1px #7B7163 !important;
}

.bg-hover-brown2-light:hover {
  background-color: #8E8271 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-brown2-dark:hover {
  background-color: #7B7163 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-brown2-light {
  color: #8E8271 !important;
}

.color-brown2-dark {
  color: #7B7163 !important;
}

.bg-gray-light {
  background-color: #bdc3c7 !important;
  color: #FFFFFF;
}

.bg-gray-dark {
  background-color: #95a5a6 !important;
  color: #FFFFFF;
}

.border-gray-light {
  border: solid 1px #bdc3c7 !important;
}

.border-gray-dark {
  border: solid 1px #95a5a6 !important;
}

.bg-hover-gray-light:hover {
  background-color: #bdc3c7 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.bg-hover-gray-dark:hover {
  background-color: #95a5a6 !important;
  color: #FFFFFF !important;
  transition: all 200ms ease;
}

.color-gray-light {
  color: #bdc3c7 !important;
}

.color-gray-dark {
  color: #95a5a6 !important;
}

.bg-white {
  background-color: #FFFFFF !important;
}

.bg-hover-black:hover {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

.color-white {
  color: #FFFFFF !important;
}

.border-white {
  border: solid 1px #FFFFFF !important;
}

.border-light {
  border-color: rgba(255, 255, 255, 0.05) !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-hover-black:hover {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

.color-black {
  color: #000000 !important;
}

.border-black {
  border: solid 1px #000000 !important;
}

.gradient-red-light {
  background-image: linear-gradient(180deg, #ED5565 0%, #DA4453 100%);
}

.gradient-red-dark {
  background-image: linear-gradient(180deg, #D8334A 0%, #BF263C 100%);
}

.gradient-orange-light {
  background-image: linear-gradient(180deg, #f88168 0%, #E9573F 100%);
}

.gradient-orange-dark {
  background-image: linear-gradient(180deg, #FC6E51 0%, #d14b35 100%);
}

.gradient-yellow-light {
  background-image: linear-gradient(180deg, #ffd979 0%, #fac454 100%);
}

.gradient-yellow-dark {
  background-image: linear-gradient(180deg, #fdc435 0%, #e3a526 100%);
}

.gradient-green-light {
  background-image: linear-gradient(180deg, #A0D468 0%, #75a243 100%);
}

.gradient-green-dark {
  background-image: linear-gradient(180deg, #9acb66 0%, #6e9b3d 100%);
}

.gradient-mint-light {
  background-image: linear-gradient(180deg, #4dd9b6 0%, #31a789 100%);
}

.gradient-mint-dark {
  background-image: linear-gradient(180deg, #46d0ad 0%, #1d7c66 100%);
}

.gradient-blue-dark {
  background-image: linear-gradient(180deg, #52bee3 0%, #3291b4 100%);
}

.gradient-blue-light {
  background-image: linear-gradient(180deg, #52bee3 0%, #3291b4 100%);
}

.gradient-sky-light {
  background-image: linear-gradient(180deg, #6ca6ef 0%, #3c77c4 100%);
}

.gradient-sky-dark {
  background-image: linear-gradient(180deg, #4690f0 0%, #2a5da3 100%);
}

.gradient-magenta-light {
  background-image: linear-gradient(180deg, #b49fe6 0%, #7863af 100%);
}

.gradient-magenta-dark {
  background-image: linear-gradient(180deg, #a387e0 0%, #6A50A7 100%);
}

.gradient-brown-light {
  background-image: linear-gradient(180deg, #e2c6a7 0%, #AA8E69 100%);
}

.gradient-brown-dark {
  background-image: linear-gradient(180deg, #bfaf97 0%, #8e8170 100%);
}

.gradient-night-light {
  background-image: linear-gradient(180deg, #656D78 0%, #434A54 100%);
}

.gradient-night-dark {
  background-image: linear-gradient(180deg, #3C3B3D 0%, #323133 100%);
}

.opacity-0 {
  opacity: 0.0;
}

.opacity-05 {
  opacity: 0.05;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.border-round {
  border-radius: 100px;
  overflow: hidden;
}

.bg-green-light i, .bg-green-dark i, .bg-teal-light i, .bg-teal-dark i,
.bg-magenta-light i, .bg-magenta-dark i, .bg-yellow-light i,
.bg-yellow-dark i, .bg-orange-light i, .bg-orange-dark i, .bg-red-dark i,
.bg-red-light i, .bg-gray-light i, .bg-gray-dark i {
  color: #FFFFFF;
}

.bg-facebook {
  background-color: #3b5998;
  color: #FFFFFF;
  border: solid 1px #3b5998;
}

.bg-facebook:hover {
  background-color: #4469b7;
  color: #FFFFFF;
  border: solid 1px #3b5998;
}

.bg-linkedin {
  background-color: #0077B5;
  color: #FFFFFF;
  border: solid 1px #0077B5;
}

.bg-linkedin:hover {
  background-color: #0186cb;
  color: #FFFFFF;
  border: solid 1px #0077B5;
}

.bg-twitter {
  background-color: #4099ff;
  color: #FFFFFF;
  border: solid 1px #4099ff;
}

.bg-twitter:hover {
  background-color: #5fa9fd;
  color: #FFFFFF;
  border: solid 1px #4099ff;
}

.bg-google {
  background-color: #d34836;
  color: #FFFFFF;
  border: solid 1px #d34836;
}

.bg-google:hover {
  background-color: #ea4f3b;
  color: #FFFFFF;
  border: solid 1px #d34836;
}

.bg-whatsapp {
  background-color: #34AF23;
  color: #FFFFFF;
  border: solid 1px #34AF23;
}

.bg-whatsapp:hover {
  background-color: #3cc729;
  color: #FFFFFF;
  border: solid 1px #34AF23;
}

.bg-pinterest {
  background-color: #C92228;
  color: #FFFFFF;
  border: solid 1px #C92228;
}

.bg-pinterest:hover {
  background-color: #e3262c;
  color: #FFFFFF;
  border: solid 1px #C92228;
}

.bg-sms {
  background-color: #27ae60;
  color: #FFFFFF;
  border: solid 1px #27ae60;
}

.bg-sms:hover {
  background-color: #2bbe69;
  color: #FFFFFF;
  border: solid 1px #27ae60;
}

.bg-mail {
  background-color: #3498db;
  color: #FFFFFF;
  border: solid 1px #3498db;
}

.bg-mail:hover {
  background-color: #38a5ed;
  color: #FFFFFF;
  border: solid 1px #3498db;
}

.bg-dribbble {
  background-color: #EA4C89;
  color: #FFFFFF;
  border: solid 1px #EA4C89;
}

.bg-dribbble:hover {
  background-color: #fc5294;
  color: #FFFFFF;
  border: solid 1px #EA4C89;
}

.bg-tumblr {
  background-color: #2C3D52;
  color: #FFFFFF;
  border: solid 1px #2C3D52;
}

.bg-tumblr:hover {
  background-color: #3e5674;
  color: #FFFFFF;
  border: solid 1px #2C3D52;
}

.bg-reddit {
  background-color: #336699;
  color: #FFFFFF;
  border: solid 1px #336699;
}

.bg-reddit:hover {
  background-color: #3b77b4;
  color: #FFFFFF;
  border: solid 1px #336699;
}

.bg-youtube {
  background-color: #D12827;
  color: #FFFFFF;
  border: solid 1px #D12827;
}

.bg-youtube:hover {
  background-color: #ea2e2d;
  color: #FFFFFF;
  border: solid 1px #D12827;
}

.bg-phone {
  background-color: #27ae60;
  color: #FFFFFF;
  border: solid 1px #27ae60;
}

.bg-phone:hover {
  background-color: #2cc76e;
  color: #FFFFFF;
  border: solid 1px #27ae60;
}

.bg-skype {
  background-color: #12A5F4;
  color: #FFFFFF;
  border: solid 1px #27ae60;
}

.bg-skype:hover {
  background-color: #0f95dd;
  color: #FFFFFF;
  border: solid 1px #27ae60;
}

.bg-instagram {
  background-color: #e1306c;
  color: #FFFFFF;
  border: solid 1px #e1306c;
}

.bg-instagram:hover {
  background-color: #c3295d;
  color: #FFFFFF;
  border: solid 1px #c3295d;
}

.color-facebook {
  color: #3b5998 !important;
}

.color-linkedin {
  color: #0077B5 !important;
}

.color-twitter {
  color: #4099ff !important;
}

.color-google {
  color: #d34836 !important;
}

.color-whatsapp {
  color: #34AF23 !important;
}

.color-pinterest {
  color: #C92228 !important;
}

.color-sms {
  color: #27ae60 !important;
}

.color-mail {
  color: #3498db !important;
}

.color-dribbble {
  color: #EA4C89 !important;
}

.color-tumblr {
  color: #2C3D52 !important;
}

.color-reddit {
  color: #336699 !important;
}

.color-youtube {
  color: #D12827 !important;
}

.color-phone {
  color: #27ae60 !important;
}

.color-skype {
  color: #12A5F4 !important;
}

.color-facebook:hover, .color-twitter:hover, .color-google:hover,
.color-pinterest:hover, .color-sms:hover, .color-mail:hover,
.color-dribbble:hover, .color-tumblr:hover, .color-reddit:hover,
.color-youtube:hover, .color-phone:hover {
  color: #FFFFFF;
}

.float-left {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

.float-right {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

.read-more-right {
  float: right;
  display: block;
}

.read-more-right i {
  padding-left: 10px;
}

