
/*---Contact Page---*/
/*------------------*/
.contactForm input {
  padding-left: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.contactForm textarea {
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.field-title {
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.contactField, .contactTextarea {
  font-size: 12px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.contactField:focus, .contactTextarea:focus {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.contactSubmitButton {
  font-family: 'Roboto', sans-serif;
  display: block !important;
  width: 100%;
  font-weight: 700 !important;
}

.container .contact-form {
  margin: 0px;
}

.contact-form {
  margin: 0px 10px 0px 10px;
}

.contactNameField {
  padding-bottom: 5px;
  font-size: 12px;
}

.contactNameField span {
  float: right;
  opacity: 0.2;
}

.contactEmailField {
  padding-bottom: 5px;
  font-size: 12px;
}

.contactEmailField span {
  float: right;
  opacity: 0.2;
}

.contactMessageTextarea {
  padding-bottom: 5px;
  font-size: 12px;
}

.contactMessageTextarea span {
  float: right;
  opacity: 0.2;
}

.formFieldWrap {
  margin-top: -5px;
}

#contactNameField {
  text-transform: capitalize;
}

.contactField {
  min-width: 100%;
  display: block;
  box-sizing: border-box;
}

.contactTextarea {
  min-width: 100%;
  display: block;
  box-sizing: border-box;
}

.buttonWrap {
  -webkit-appearance: none;
  line-height: 20px;
  padding-bottom: 24px;
  min-width: 43%;
  display: inline-block;
  margin-left: -1px;
}

.formSubmitButtonErrorsWrap a {
  width: 25%;
  text-align: center;
  padding: 8px 10px !important;
}

.contactFormButton #contactSubmitButton {
  margin-bottom: 30px;
}

.formValidationError {
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  background-color: #c0392b;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0 10px 47px 0 rgba(0, 0, 0, .05), 0 5px 14px 0
  rgba(0, 0, 0, .1);
}

.formValidationError p {
  line-height: 40px;
}

.contactField {
  height: 40px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}

.contactTextarea {
  margin: 0px 0px 20px 0px;
  padding: 9px 12px 9px 12px;
  margin-bottom: 20px;
  line-height: 18px;
  height: 80px;
}



/*---Contact Icons---*/
.contact-information a i {
  display: inline-block;
  padding-right: 20px;
}

.contact-information a {
  display: block;
  width: 100%;
  line-height: 40px;
  color: #000000;
}

.dark-skin .contact-information a {
  color: #FFFFFF;
}