/*---Dropcaps---*/
/*--------------*/
.dropcaps-1:first-child:first-letter {
  float: left;
  font-size: 60px;
  margin-right: 10px;
  padding: 15px 10px 15px 0px;
  font-family: Georgia;
}

.dropcaps-2:first-child:first-letter {
  float: left;
  font-size: 60px;
  margin-right: 15px;
  padding: 15px 5px 15px 0px;
  font-weight: 800;
}

.dropcaps-3:first-child:first-letter {
  float: left;
  font-size: 60px;
  margin-right: 15px;
  padding: 15px 5px 15px 0px;
  font-weight: 300;
}

.text-highlight {
  margin-bottom: 15px;
}

.text-highlight span {
  display: block;
  float: left;
  padding: 0px 8px;
  margin-right: 5px;
}