
/*---FAQ---*/
/*---------*/
.faq-question {
  line-height: 14px;
  font-size: 14px;
  padding: 23px 0px 21px 50px;
}

.faq-question i {
  position: absolute;
  width: 20px;
  height: 61px;
  line-height: 61px;
  text-align: center;
  left: 13px;
  top: 0px;
  bottom: 0px;
  font-size: 10px;
  transition: all 250ms ease;
}

.faq {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: none;
  margin-bottom: -1px;
}

.faq p {
  margin-bottom: 0px;
  padding: 0px 15px 20px 15px;
}

.faq-answer {
  display: none;
}

.faq-question .rotate-45, .faq-question .rotate-180 {
  color: #BF263C;
}

.faq-wrapper .faq:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.faq-wrapper .faq:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}