
/*---Full Page---*/
/*---------------*/
.full-page {
  position: absolute;
}

.full-page-content {
  position: absolute;
}

.full-page-clear {
  position: relative;
}

.box {
  padding: 30px 30px;
  margin: 30px 25px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
