/*---Typography---*/
/*----------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}

h2 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

h4 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 5px;
}

h5 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.small-heading {
  font-size: 12px;
  margin: -10px 0px 10px 0px;
  display: block;
}

.heading-style h4 {
  text-align: center;
}

.heading-style p {
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

.heading-style .line {
  z-index: 1;
  width: 280px;
  margin: 30px auto 25px auto;
  display: block;
  height: 1px;
}

.heading-style i {
  font-size: 24px;
  height: 40px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
}

.heading-style p {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*Content Title*/
.content-title {
  margin: 0px 20px;
}

.content-title span {
  display: block;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: -12px;
  color: #8e8e8e;
  text-transform: uppercase;
}

.content-title h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1.1px;
}

.content-title a {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -13px;
  font-size: 13px;
}
