
/*---Hover + Rotate Effects---*/
/*----------------------------*/
.rotate-45 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-135 {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-225 {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.rotate-315 {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.rotate-45, .rotate-90, .rotate-135, .rotate-180, .rotate-225,
.rotate-270, .rotate-315 {
  transition: all 250ms ease;
}

.scale-hover:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition: all 250ms ease;
}

.scale-out {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  transition: all 250ms ease;
}

.opacity-out {
  opacity: 0;
  transition: all 250ms ease;
}