
/*---Icon Columns---*/
/*------------------*/
.icon-column img {
  width: 80px;
  position: absolute;
}

.icon-column h1 {
  padding-right: 95px;
  font-weight: 700;
  font-size: 18px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.icon-column p {
  padding-right: 95px;
  line-height: 24px;
}

.icon-with-bg i {
  margin-top: 15px !important;
}

.icon-column i {
  margin-top: 10px;
  font-size: 24px;
  right: 0px;
  width: 65px;
  height: 65px;
  border-radius: 65px;
  line-height: 65px;
  text-align: center;
  position: absolute;
}

.icon-column.icon-large i {
  font-size: 45px;
}

.icon-column-center i {
  position: relative;
  display: block;
  margin: 10px auto 20px auto;
  left: 0px;
  font-size: 40px;
  width: 60px !important;
  height: 60px !important;
  text-align: center;
  line-height: 75px !important;
}

.icon-column-center h3 {
  text-align: center;
  padding: 0px;
  font-size: 22px;
}

.icon-column-center p {
  text-align: center;
  padding: 0px;
  font-size: 13px;
  margin: 10px auto 30px auto;
}