

/*---Image Effects---*/
/*-------------------*/
.polaroid-effect {
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  padding: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.polaroid-effect-small {
  padding: 5px;
}

.polaroid-effect p {
  margin-bottom: -5px !important;
}

.blur-effect-caption, .scale-effect-caption, .grayscale-effect-caption {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  pointer-events: none;
  opacity: 0;
  transition: all 250ms ease;
  padding: 15px;
}

.grayscale-effect strong, .blur-effect-caption strong,
.scale-effect-caption strong {
  z-index: 10;
  position: relative;
  display: block;
}

.grayscale-effect em, .blur-effect-caption em, .scale-effect-caption em {
  z-index: 10;
  position: relative;
  display: block;
  line-height: 24px;
}

.scale-effect {
  overflow: hidden;
  transition: all 500ms ease;
}

.scale-effect img:hover {
  transform: scale(1.2, 1.2) !important;
  transition: all 500ms ease;
}

.scale-effect img:hover ~ .scale-effect-caption {
  opacity: 1 !important;
  transition: all 500ms ease;
  transition-delay: 150ms;
}

.blur-effect {
  overflow: hidden;
  transition: all 250ms ease !important;
}

.blur-effect img {
  transition: all 500ms ease;
}

.blur-effect img:hover {
  filter: blur(2px);
  transition: all 500ms ease;
}

.blur-effect img:hover ~ .blur-effect-caption {
  opacity: 1 !important;
  transition: all 500ms ease;
  transition-delay: 150ms;
}

.grayscale-effect {
  overflow: hidden;
  transition: all 250ms ease;
}

.grayscale-effect img:hover {
  filter: grayscale(100%);
  transition: all 500ms ease;
}

.grayscale-effect img:hover ~ .grayscale-effect-caption {
  opacity: 1 !important;
  transition: all 500ms ease;
  transition-delay: 150ms;
}