
/*Input Style*/
/*-----------*/
.input-simple-1.has-icon i {
  position: absolute;
  z-index: 2;
  right: 0px;
  font-size: 12px;
  height: 40px;
  width: 12px;
  line-height: 41px;
  text-align: center;
  color: #666666;
}

.input-simple-1.textarea.has-icon i {
  margin-top: 28px;
}

.input-simple-1.textarea textarea {
  padding: 5px 30px 10px 0px;
  height: 40px;
  line-height: 28px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: all 250ms ease;
}

.input-simple-1.textarea textarea:focus {
  height: 120px;
}

.input-simple-1 em, .select-box-1 em {
  font-style: normal;
  display: block;
  font-size: 11px;
}

.input-simple-1 strong, .select-box-1 strong {
  position: absolute;
  right: 0px;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  color: #cacaca;
}

.input-simple-1 input {
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  display: block;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  transition: all 250ms ease;
  font-size: 12px;
}

.input-simple-1.has-icon input {
  text-indent: 0px !important;
}

.input-simple-1 input::placeholder, .input-simple-1 textarea::placeholder {
  color: #b7b7b7;
}

.input-simple-1.input-blue input:focus {
  border-bottom: solid 1px #5D9CEC !important;
}

.input-simple-1.input-green input:focus {
  border-bottom: solid 1px #A0D468 !important;
}

.input-simple-1.input-red input:focus {
  border-bottom: solid 1px #D8334A !important;
}

.input-simple-1 .textarea-simple-1 {
  width: 100%;
  display: block;
  padding: 0px;
  text-indent: 0px;
  transition: all 250ms ease;
  font-size: 12px;
}

/*Select Box*/
.select-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF
  url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==")
  no-repeat 95% 50%;
  box-sizing: border-box;
  margin-bottom: 30px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  box-shadow: none;
  -webkit-appearance: none;
  background-color: transparent;
}

.select-box select {
  width: 99.9%;
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.select-box-1 {
  margin-top: 50px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  font-size: 12px;
}

.select-box-1 select {
  padding-left: 0px !important;
  color: #b7b7b7;
}

.select-box-1 {
  background-position: center right;
}

.select-box-1 em {
  position: absolute;
  margin-top: -35px;
}

.select-box-1 strong {
  margin-top: -35px;
}

.select-box select:focus {
  outline: none;
  color: #666666;
}

.select-style select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/*Classic Style*/
.input-simple-2.has-icon i {
  position: absolute;
  z-index: 2;
  right: 0px;
  font-size: 12px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #666666;
}

.input-simple-2 p {
  position: absolute;
  z-index: 2;
  right: 0px;
  font-size: 15px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #222222;
}

.input-simple-2.has-icon img {
  position: absolute;
  z-index: 2;
  right: 0px;
  font-size: 12px;
  height: 22px;
  width: 30px;
  line-height: 50px;
  text-align: center;
  color: #666666;
  margin-top: 13px;
  margin-right: 10px;
}

.input-simple-2 {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.input-simple-2 input {
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  height: 50px;
  line-height: 50px;
  border-radius: 3px !important;
  text-indent: 15px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 12px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  transition: all 250ms ease;
}

.input-simple-2.textarea.has-icon i {
  margin-top: 0px;
}

.input-simple-2.textarea textarea {
  padding-top: 5px;
  padding-right: 30px;
  height: 50px;
  border-radius: 3px !important;
  padding-top: 10px;
  padding-left: 15px;
  line-height: 28px;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.1);
  transition: all 250ms ease;
  font-size: 12px;
}

.input-simple-2.textarea textarea:focus {
  height: 130px;
}

.input-simple-2.has-icon input {
  text-indent: 15px !important;
}

.input-simple-2 input::placeholder, .input-simple-2 textarea::placeholder {
  color: #959595;
}

.input-simple-2.input-blue input:focus {
  border: solid 1px #5D9CEC !important;
}

.input-simple-2.input-green input:focus {
  border: solid 1px #A0D468 !important;
}

.input-simple-2.input-red input:focus {
  border: solid 1px #FC6E51 !important;
}

.select-box-2 {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px !important;
  font-size: 12px;
}

.select-box-2 select {
  padding-left: 15px !important;
  color: #a3a3a3;
}

.select-box-2 {
  background-position: center 10;
}

.textarea-simple-2 {
  width: 100%;
  display: block;
  padding: 0px;
  text-indent: 0px;
  transition: all 250ms ease;
}