
/*---Link List---*/
/*---------------*/
.link-list {
  list-style: none;
  padding-left: 0px;
  display: block;
  position: relative;
}

.link-list a {
  margin-left: 40px;
  line-height: 45px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  border-bottom: solid 1px rgba(0, 0, 0, 0.06);
}

.link-list .link-list {
  display: none;
}

.link-list .link-list a {
  border: none;
  padding-left: 35px;
  line-height: 35px;
}

.link-list .link-list a i {
  padding-left: 0px;
  font-size: 10px;
  line-height: 3px;
}

.link-list .link-list a img {
  padding-left: 0px;
  font-size: 10px;
  line-height: 3px;
}

.link-list .link-list a span {
  line-height: 35px !important;
  font-size: 13px;
  color: #666666;
  font-weight: 400;
}

.link-list li {
  background-color: rgba(255, 255, 255, 0);
  margin: 0px;
  padding-top: 5px;
}

.link-list a i {
  font-size: 16px;
  position: absolute;
  height: 50px;
  width: 25px;
  line-height: 45px;
  left: -45px;
  text-align: center;
}

.link-list a img {
  font-size: 16px;
  position: absolute;
  height: 24px;
  width: 35px;
  line-height: 45px;
  left: -45px;
  text-align: center;
  margin-top: 10px;
}

.link-list .fa-angle-right, .link-list .fa-angle-down {
  right: -3px !important;
  left: auto !important;
  padding: 0px !important;
  font-size: 11px;
}

.link-list-bg a i:first-child {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  margin-top: 8px;
  border-radius: 5px;
}

.nested-link-list .link-list a i {
  line-height: 40px;
}

.nested-link-list .link-list li a {
  padding-left: 0px;
}
