
/*---Lists---*/
/*-----------*/
.font-icon-list li {
  list-style: none;
  padding-left: 0px;
  margin-left: -20px;
  line-height: 30px;
}

.font-icon-list i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
  display: inline-block;
}

.font-icon-list .font-icon-list {
  padding-left: 30px;
}

.icon-list {
  list-style: none;
  padding-left: 0px;
}

.icon-list i {
  width: 20px;
  text-align: center;
  margin-left: -5px;
}

.icon-list ul {
  padding-left: 40px;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
}

ul ul, ol ol {
  padding-top: 10px;
  padding-bottom: 10px;
}

ol {
  padding-left: 20px;
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: disc;
}
