
/*---Media Pages---*/
/*-----------------*/

/*Filter*/
.gallery-filter-all {
  float: left !important;
  padding-left: 0px !important;
}

.gallery-filter-controls {
  padding: 0px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.gallery-filter-controls li {
  list-style: none;
  cursor: pointer;
  float: right;
  padding-left: 15px;
  font-size: 13px;
  transition: all 350ms ease;
}

.gallery-filter-controls li:first-child {
  padding-right: 30px;
  font-weight: 800;
}

.gallery-filter-controls {
  width: 100%;
}

.gallery-filter {
  transition: height 350ms ease;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 30px;
}

.gallery-filter a {
  width: 33.3%;
  padding: 5px;
  display: block;
  transition: height 350ms ease;
}

.gallery-filter a img {
  display: block;
  width: 100%;
}

/*Thumbs*/
.gallery-thumbs {
  margin-bottom: 20px;
}

.gallery-thumbs:after, .gallery-filter-controls, .gallery-collection:after,
.gallery-insta-controls:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-thumbs span {
  color: #1f1f1f;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.gallery-wide a {
  position: relative;
}

.gallery-wide h1, .gallery-wide strong {
  position: absolute;
  bottom: 5px;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
  padding: 0px 15px;
  z-index: 10;
  color: #c9c9c9;
}

.gallery-wide h1 {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 22px;
}

.gallery-wide img {
  margin-bottom: 0px;
}

.gallery-wide-list a {
  margin-bottom: -20px;
  z-index: 10;
}

.gallery-wide-list img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.gallery-wide-list .overlay {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.gallery-wide-list a h1 {
  padding-bottom: 55px !important;
}

.gallery-wide-list a strong {
  padding-bottom: 60px !important;
}

.gallery-thumbs .polaroid-effect {
  padding: 4px;
}

.gallery-thumbs a {
  float: left;
}

.gallery-thumbs a img {
  margin-bottom: 0px;
  box-shadow: 0 10px 47px 0 rgba(0, 0, 0, .05), 0 5px 14px 0
  rgba(0, 0, 0, .3);
}

.gallery-round a img {
  border-radius: 100%;
  overflow: hidden;
}

.gallery-square a img {
  border-radius: 13px;
  overflow: hidden;
}

@media ( min-width :340px) {
  .gallery-thumbs a {
    width: 31.33333333%;
    margin-bottom: 4%;
  }

  .gallery-thumbs a:nth-child(3n+2) {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media ( max-width :340px) {
  .gallery-filter a {
    width: 50%;
  }

  .gallery-thumbs a {
    width: 47% !important;
    margin-bottom: 6%;
  }

  .gallery-thumbs a:nth-child(odd) {
    margin-right: 6%;
  }
}

/*Collection*/
.gallery-collection a {
  width: 48%;
  float: left;
}

.gallery-collection a:nth-child(2n+2) {
  margin-left: 4%;
  margin-bottom: 4%;
}

.gallery-collection a img {
  border-radius: 12px;
  width: 50%;
  float: left;
  padding: 1px;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, .3);
}

.gallery-collection i {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 50%;
  top: 50%;
  z-index: 10;
  margin-top: -25px;
  margin-left: -25px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 50px;
  font-size: 17px;
  color: #1f1f1f;
}

/*---Gallery Albums---*/
/*--------------------*/
.gallery-albums a {
  width: 50%;
  float: left;
  overflow: hidden;
}

.gallery-albums a img {
  display: block;
  width: 100%;
}

.gallery-albums a strong {
  position: absolute;
  color: #FFFFFF;
  z-index: 39;
  bottom: 35px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 18px;
}

.gallery-albums a span {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  z-index: 39;
  color: #bcbcbc;
}

.gallery-albums .overlay {
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -10px;
}