
/*------------------*/
/*Notification Boxes*/
/*------------------*/
.notification-yellow {
  background-color: #F6BB42;
}

.notification-green {
  background-color: #8fbf5b;
}

.notification-blue {
  background-color: #2a87c4;
}

.notification-red {
  background-color: #e05967;
}

.notification-rounded {
  border-radius: 5px;
}

.notification-round {
  border-radius: 250px;
}

.notification-icon-transparent .notification-icon {
  background-color: transparent !important;
  padding-left: 0px;
}

.notification-icon-transparent p {
  margin-left: -10px !important;
}

.notification-has-icon {
  padding: 15px 40px 15px 80px !important;
  padding-left: 80px !important;
}

.notification-has-icon div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.05);
}

.notification-has-icon .notification-icon i {
  position: absolute;
  width: 60px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
}

.notification-large {
  padding: 20px 15px 15px 15px;
  margin: 0px 0px 30px 0px;
  border-radius: 12px;
  overflow: hidden;
}

.notification-large h1 {
  font-size: 16px;
  color: #FFFFFF;
}

.notification-large p {
  opacity: 0.7;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.close-notification, .close-fixed-notification {
  position: absolute;
  height: 50px;
  width: 55px;
  line-height: 43px;
  text-align: center;
  top: 6px;
  right: 0px;
  color: #FFFFFF;
  opacity: 0.6;
}

.notification-small {
  padding: 15px 20px 10px 15px;
  margin: 0px 0px 30px 0px;
  border-radius: 12px;
  overflow: hidden;
}

.notification-small p {
  font-size: 13px;
  color: #FFFFFF;
  margin: 0px;
  margin-top: -4px;
}

.notification-small.notification-has-icon {
  height: 50px;
  padding-left: 65px !important;
}

.notification-small.notification-has-icon .notification-icon {
  height: 50px;
  width: 50px;
}

.notification-small.notification-has-icon i {
  font-size: 14px !important;
}

.notification-small .fa-times {
  margin-top: 13px;
  display: block;
}

.notification-fixed {
  background-color: #e2e2e2;
  opacity: 0.99;
  position: fixed;
  z-index: 99;
  left: 10px;
  right: 10px;
  top: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 47px 0 rgba(0, 0, 0, .05), 0 5px 24px 0
  rgba(0, 0, 0, .2) !important;
  transition: all 300ms ease;
  transform: translateY(-150%);
}

.notification-fixed-active {
  transform: translateY(0%);
}

.notification-fixed .notification-icon {
  background-color: rgba(255, 255, 255, 0.15);
  padding-bottom: 3px;
}

.notification-fixed .notification-icon em {
  position: absolute;
  font-size: 11px;
  left: 15px;
  top: 5px;
}

.notification-fixed .notification-icon span {
  padding-left: 35px;
  font-weight: 500;
  padding-top: 5px;
  display: block;
  font-size: 11px;
}

.notification-fixed a {
  position: absolute;
  right: 0px;
  top: 5px;
  right: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

.notification-fixed h1 {
  font-size: 16px;
  font-weight: 600;
  padding-left: 12px;
  margin-bottom: -10px;
  margin-top: 10px;
}

.notification-fixed p {
  font-size: 12px;
  font-weight: 400;
  padding-left: 12px;
  margin-bottom: 10px;
  color: #FFFFFF;
}
