
/*---Pagination---*/
/*----------------*/
.pagination-round a {
  border-radius: 35px !important;
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.pagination a {
  color: #1f1f1f;
  font-size: 11px;
  display: inline-block;
  width: 35px;
  line-height: 33px;
  height: 35px;
  margin: 0 5px 5px 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}