/*---Page Content Settings---*/
/*---------------------------*/
#page-transitions {
  left: 0px;
  right: 0px;
  display: block;
}

.page-content {
  margin-bottom: 0px;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

.page-content-gray {
  background-color: #ebebeb !important;
}

.transparent-bg {
  background-color: rgba(255, 255, 255, 0) !important;
  transition: all 250ms ease;
}