
/*---Pricing Table---*/
/*-------------------*/
.pricing-1, .pricing-2, .pricing-3, .pricing-4 {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.pricing-single {
  max-width: 280px;
  margin: 0 auto;
}

.pricing-double-1 {
  width: 48%;
  float: left;
  margin-right: 4%;
}

.pricing-double-2 {
  width: 48%;
  float: left;
}

.pricing-1 {
  border: solid 1px rgba(0, 0, 0, 0.06);
  padding: 20px 0px 10px 0px;
}

.pricing-1 * {
  list-style: none;
}

.pricing-1 .pricing-icon {
  font-size: 50px;
}

.pricing-1 .pricing-title {
  font-size: 32px;
  padding: 20px 0px 0px 0px;
}

.pricing-1 .pricing-value {
  font-size: 40px;
  font-weight: 300;
  padding: 20px 0px 0px 0px;
}

.pricing-1 .pricing-value sup {
  font-size: 12px;
  top: -18px;
}

.pricing-1 .pricing-value sup:first-child {
  padding-right: 5px;
  top: -13px;
  font-size: 20px;
}

.pricing-1 .pricing-subtitle {
  opacity: 0.6;
  font-size: 11px;
  line-height: 18px;
  font-weight: 300;
  padding: 0px 0px 10px 0px;
}

.pricing-1 .pricing-list {
  padding: 0px;
}

.pricing-1 .pricing-list li {
  line-height: 40px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
}

.pricing-1 .pricing-list li:last-child {
  border-bottom: none;
  margin-bottom: -20px;
}

.pricing-2 {
  border: solid 1px rgba(0, 0, 0, 0.06);
  padding: 0px 0px 10px 0px;
}

.pricing-2 * {
  list-style: none;
}

.pricing-2 .pricing-icon {
  font-size: 50px;
  padding: 10px 0px 10px 0px;
}

.pricing-2 .pricing-title {
  font-size: 25px;
  padding: 15px 0px 15px 0px;
  margin: -10px 0px 20px 0px;
}

.pricing-2 .pricing-overtitle {
  font-size: 25px;
  padding: 15px 0px 15px 0px;
  margin: -10px 0px 0px 0px;
}

.pricing-2 .pricing-value {
  font-size: 43px;
  padding: 15px 0px 0px 0px;
}

.pricing-2 .pricing-value sup {
  font-size: 12px;
  top: -18px;
}

.pricing-2 .pricing-value sup:first-child {
  padding-right: 5px;
  top: -13px;
  font-size: 20px;
}

.pricing-2 .pricing-subtitle {
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  padding: 0px 0px 0px 0px;
}

.pricing-2 .pricing-list {
  padding: 0px;
}

.pricing-2 .pricing-list li {
  line-height: 40px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.07);
  font-size: 14px;
  font-weight: 500;
}

.pricing-2 .pricing-list li:last-child {
  border-bottom: none;
}

.pricing-3 {
  border: solid 1px rgba(0, 0, 0, 0.05);
  padding: 0px 0px 10px 0px;
}

.pricing-3 * {
  list-style: none;
}

.pricing-3 .button {
  max-width: 90%;
  margin: -10px auto 10px auto;
}

.pricing-3 .pricing-icon {
  font-size: 50px;
}

.pricing-3 .pricing-title {
  font-size: 28px;
  padding: 30px 0px 0px 20px;
}

.pricing-3 .pricing-value {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  padding: 20px 0px 20px 0px;
}

.pricing-3 .pricing-value sup {
  font-size: 12px;
  top: -18px;
}

.pricing-3 .pricing-value sup:first-child {
  padding-right: 5px;
  top: -13px;
  font-size: 20px;
}

.pricing-3 .pricing-subtitle {
  opacity: 0.6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding: 0px 0px 30px 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.pricing-3 .pricing-list {
  padding: 0px;
}

.pricing-3 .pricing-list i {
  padding-right: 20px;
  width: 30px;
}

.pricing-3 .pricing-list li {
  line-height: 50px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-weight: 500;
  padding: 0px 0px 0px 20px;
}

.pricing-4 {
  border: solid 1px rgba(0, 0, 0, 0.05);
  padding: 0px 0px 10px 0px;
}

.pricing-4 * {
  list-style: none;
}

.pricing-4 .pricing-title {
  font-size: 18px;
  padding: 15px 0px 15px 0px;
  margin: 0px 0px 0px 0px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.pricing-4 .pricing-value {
  font-size: 43px;
  padding: 30px 0px 20px 0px;
}

.pricing-4 .pricing-value sup {
  font-size: 12px;
  top: -18px;
}

.pricing-4 .pricing-value sup:first-child {
  padding-right: 5px;
  top: -13px;
  font-size: 20px;
}

.pricing-4 .pricing-subtitle {
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  padding: 0px 0px 20px 0px;
  margin-top: -10px;
}

.pricing-4 .pricing-list {
  padding: 0px;
  margin-bottom: 20px;
}

.pricing-4 .pricing-list li {
  line-height: 40px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.07);
  font-size: 14px;
  font-weight: 500;
}

.pricing-4 .pricing-list li:last-child {
  border-bottom: none;
}
