
/*---Progress Bar---*/
/*------------------*/
.progress-padding {
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar-wrapper {
  display: block;
  overflow: hidden;
}

.progress-bar-wrapper em {
  position: absolute;
  left: 0px;
  right: 0px;
  font-style: normal;
  display: block;
  padding: 0px 15px;
  animation: pbar 1000ms 1;
}

@keyframes pbar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.progress-bar {
  width: 0%;
  position: absolute;
  border-left: solid 0px #FFFFFF;
  border-right: solid 0px #FFFFFF;
  transition: width 500ms ease;
}