
/*---Reading Bar---*/
/*-----------------*/
.reading-bar {
  left: 0;
  width: 100%;
  height: 4px;
  margin-bottom: 0px;
  position: fixed;
  z-index: 998;
  top: 0px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
}

.reading-line {
  width: 0%;
  float: left;
  height: 100%;
  z-index: 99;
  max-width: 100%;
  background-color: #4FC1E9;
  -webkit-transition: width 150ms ease;
}