
p {
  color: #818181;
}

p strong {
  color: #1f1f1f;
}

a {
  color: #2980b9;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  font-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-transform: translate3d(1, 1, 1);
  transform: translate3d(1, 1, 1);
  text-rendering: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  font-weight: 400;
}

::selection {
  background-color: #CCC;
  color: #000;
}

div, a, p, img, blockquote, form, fieldset, textarea, input, label,
iframe, code, pre {
  display: block;
  position: relative;
}

textarea, input {
  outline: none;
}

input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

input {
  border-radius: 0 !important;
  -webkit-border-radius: 0px !important;
  display: inline-block;
}

textarea {
  -webkit-appearance: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0px !important;
}

label a {
  display: inline-block;
}