
/*---Responsive Classes---*/
/*------------------------*/
.top-0 {
  margin-top: 0px !important;
}

.top-5 {
  margin-top: 5px !important;
}

.top-10 {
  margin-top: 10px !important;
}

.top-15 {
  margin-top: 15px !important;
}

.top-20 {
  margin-top: 20px !important;
}

.top-25 {
  margin-top: 25px !important;
}

.top-30 {
  margin-top: 30px !important;
}

.top-40 {
  margin-top: 40px !important;
}

.top-50 {
  margin-top: 50px !important;
}

.bottom-0 {
  margin-bottom: 0px !important;
}

.bottom-5 {
  margin-bottom: 5px !important;
}

.bottom-10 {
  margin-bottom: 10px !important;
}

.bottom-15 {
  margin-bottom: 15px !important;
}

.bottom-20 {
  margin-bottom: 20px !important;
}

.bottom-25 {
  margin-bottom: 25px !important;
}

.bottom-30 {
  margin-bottom: 30px !important;
}

.bottom-40 {
  margin-bottom: 40px !important;
}

.bottom-50 {
  margin-bottom: 50px !important;
}

.left-5 {
  margin-left: 5px;
}

.left-10 {
  margin-left: 10px;
}

.left-15 {
  margin-left: 15px;
}

.left-20 {
  margin-left: 20px;
}

.left-25 {
  margin-left: 25px;
}

.left-30 {
  margin-left: 30px;
}

.right-5 {
  margin-right: 5px;
}

.right-10 {
  margin-right: 10px;
}

.right-15 {
  margin-right: 15px;
}

.right-20 {
  margin-right: 20px;
}

.right-25 {
  margin-right: 25px;
}

.right-30 {
  margin-right: 30px;
}

.clear {
  clear: both !important;
}


.left-padding {
  padding-left: 30px;
}

.right-padding {
  padding-right: 30px;
}

.padding-right {
  padding-right: 20px;
}

.padding-left {
  padding-left: 20px;
}

.no-border {
  border: none !important;
}

.responsive-image {
  display: block;
  width: 100%;
}

.rounded-image {
  border-radius: 5px;
  overflow: hidden;
}

.no-shadow {
  box-shadow: none !important;
}

.center-object {
  margin: auto;
  background-position: center !important;
}

.box-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.shadow-tiny {
  box-shadow: 0 0px 27px 0 rgba(0, 0, 0, .05), 0 0px 14px 0
  rgba(0, 0, 0, .05) !important;
}

.shadow-small {
  box-shadow: 0 10px 47px 0 rgba(0, 0, 0, .05), 0 5px 14px 0
  rgba(0, 0, 0, .1) !important;
}

.shadow-medium {
  box-shadow: 0 15px 47px 0 rgba(0, 0, 0, .12), 0 5px 14px 0
  rgba(0, 0, 0, .15) !important;
}

.shadow-large {
  box-shadow: 0 20px 67px 0 rgba(0, 0, 0, .12), 0 5px 14px 0
  rgba(0, 0, 0, .2) !important;
}

.icon-clear-left {
  padding-left: 15px;
}

.icon-clear-right {
  padding-right: 15px;
}

.maps {
  min-height: 250px;
}

.responsive-video {
  position: relative;
  min-height: 220px;
  width: 100%;
  overflow: hidden;
}

.responsive-video iframe, .responsive-video object, .responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}











.content-padding {
  padding: 15px;
}

.content-round {
  padding: 0px !important;
  margin: 0px 10px 10px 10px;
  border-radius: $global-radius;
  overflow: hidden !important;
}

.content-round .overlay {
  border-radius: 15px;
  overflow: hidden;
}

.content-large {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.content-boxed {
  border-radius: 15px !important;
  overflow: hidden !important;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.content-boxed-padding {
  padding: 15px 20px;
  margin-bottom: 30px;
}

.content-boxed-shadow {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.content-boxed .owl-dots {
  margin-bottom: 0px !important;
}

.content-margins {
  margin-left: 15px;
  margin-right: 15px;
}

.content {
  padding: 0px 15px 0px 15px;
  margin-bottom: 30px;
}

.content-gray {
  background-color: #f0f2f3;
}

.content-fullscreen, .content-full {
  margin-bottom: 30px;
  padding: 0px;
}

.last-column:after, container:after {
  visibility: hidden !important;
  display: block !important;
  content: "" !important;
  clear: both !important;
  height: 0 !important;
}

//.container, .container-fullscreen {
//  margin-bottom: 30px;
//  display: block;
//}

.hide-if-mobile {
  display: none !important;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize !important;
}

.thin {
  font-weight: 300 !important;
}

.ultrathin {
  font-weight: 100 !important;
}

.thiner {
  font-weight: 400 !important;
}

.bold {
  font-weight: 600 !important;
}

.regular {
  font-weight: 400 !important;
}

.regularbold {
  font-weight: 500 !important;
}

.bolder {
  font-weight: 700 !important;
}

.ultrabold {
  font-weight: 900 !important;
}

.justify {
  text-align: justify !important;
}

.italic {
  font-style: italic;
}

.pointer {
  cursor: pointer;
}

.ultrasmall-text {
  font-size: 10px !important;
}

.small-text {
  font-size: 12px !important;
  margin-top: -5px;
  display: block;
  line-height: 24px;
}

.smaller-text {
  font-size: 11px !important;
  margin-top: -5px;
  display: block;
}

.normal-text {
  font-size: 14px !important;
}

.larger-text {
  font-size: 26px !important;
}

.large-text {
  font-size: 28px !important;
}

.huge-text {
  font-size: 30px !important;
}

.boxed-text {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.boxed-text-small {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.boxed-text-large {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.medium-line-height {
  line-height: 30px;
}

.large-line-height {
  line-height: 40px;
}

.small-text-icon i {
  padding-left: 15px;
  width: 25px;
  padding-right: 10px;
}

.small-text-icon i:first-child {
  padding-left: 0px;
}

.border-text {
  border-width: 4px !important;
  padding: 5px 0px 5px 15px;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
}

.center-text {
  text-align: center !important;
  display: block;
}

.left-text {
  text-align: left !important;
  display: block;
}

.right-text {
  text-align: right !important;
  display: block;
}

.center-stars i {
  font-size: 16px;
  padding: 0px 5px 0px 5px;
}

.center-stars {
  width: 140px;
  margin: 0 auto;
}

.space-left {
  padding-left: 10px;
}

.space-right {
  padding-right: 10px;
}

.center-boxed-content {
  max-width: 600px !important;
}

.center-boxed-text, .center-boxed-content {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.center-block{
  margin: 0 auto;
}

