
/*---Reviews---*/
/*-------------*/
.review-1 img {
  width: 60px;
  border-radius: 60px;
  position: absolute;
  top: 0px;
}

.review-1 h1 {
  font-size: 16px;
  padding-left: 80px;
  line-height: 30px;
}

.review-1 .review-stars {
  margin-left: 80px;
  color: #f39c12;
}

.review-1 p {
  padding-top: 20px;
  margin-bottom: 10px;
}

.review-1 em {
  display: block;
  font-size: 12px;
  text-align: right;
}

.review-2 img {
  width: 130px;
  margin: 20px auto;
  border-radius: 120px;
}

.review-2 h1 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.review-2 .review-stars {
  width: 125px;
  margin: 10px auto;
  color: #f39c12;
}

.review-2 .review-stars i {
  font-size: 18px;
}

.review-2 p {
  width: 95%;
  text-align: center;
  margin: 30px auto;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
}

.review-2 em {
  text-align: center;
  display: block;
  font-size: 12px;
}

.review-3 .review-icon {
  text-align: center;
  font-size: 36px;
  width: 100px !important;
  height: 100px !important;
  line-height: 100px;
  text-align: center;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
}

.review-3 p {
  width: 90%;
  margin: 20px auto;
  text-align: center;
  font-size: 17px;
  line-height: 40px;
  font-weight: 300;
}

.review-3 a {
  text-align: center;
  font-weight: 800;
}

.review-3 .review-stars i {
  font-size: 23px;
}

.review-3 .review-stars {
  width: 154px;
  margin: 20px auto;
  color: #f39c12;
}

.review-4 h1 {
  font-size: 30px;
  font-weight: 800;
}

.review-4 h2 {
  font-size: 12px;
  position: absolute;
  top: 7px;
  margin-left: 70px;
}

.review-4 a {
  text-align: right;
}

.review-4 .review-stars {
  color: #f39c12;
}

.review-4 .review-stars i {
  margin-right: 5px;
  font-size: 18px;
  margin-bottom: 20px;
}

.review-4 img {
  width: 50px;
  border-radius: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.review-4 p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 26px;
}

.review-5 h1 {
  font-size: 50px;
  font-weight: 800;
}

.review-5 h2 {
  font-size: 10px;
  position: absolute;
  top: -10px;
  margin-left: 110px;
}

.review-5 .review-stars {
  color: #f39c12;
  margin-left: 110px;
  margin-top: -25px;
}

.review-5 .review-stars i {
  margin-right: 2px;
  font-size: 16px;
  margin-bottom: 20px;
}

.review-5 img {
  width: 55px;
  border-radius: 55px;
  position: absolute;
  top: -15px;
  right: 0px;
}

.review-5 p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 26px;
}

.review-5 a {
  text-align: right;
  font-size: 11px;
}

.review-6 h1 {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: -5px;
}

.review-6 em {
  font-size: 12px;
  padding-bottom: 10px;
  display: block;
}

.review-6 img {
  width: 55px;
  border-radius: 55px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.review-6 h3 {
  float: left;
  font-size: 15px;
  line-height: 30px;
}

.review-6 .review-stars {
  float: right;
  color: #f39c12;
  line-height: 30px;
}

.review-6 .review-stars i {
  padding-left: 5px;
  font-size: 12px;
  margin-top: -3px;
  display: inline-block;
}

/*Instant Article*/
.instant-box-clone {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -15px;
  z-index: 99999;
  overflow: scroll;
  transform: translateX(99.9%);
  transition: all 300ms cubic-bezier(0.1, 0.2, 0.1, 1);
  -webkit-overflow-scrolling: touch;
}

.instant-hidden-small {
  display: none;
}

.instant-box-clone .instant-hidden-small {
  display: block !important;
}

.instant-hidden-large {
  display: block;
}

.instant-box-clone .instant-hidden-large {
  display: none !important;
}

.active-instant {
  transform: translateX(0px) !important;
  transition: all 300ms cubic-bezier(0.1, 0.2, 0.1, 1);
}
