
/*---Search---*/
/*------------*/
.disabled-search {
  display: none;
}

.disabled-search-item {
  display: none;
}

.search-results {
  overflow: visible;
  transition: all 200ms ease;
}

.disabled-search-list {
  max-height: 0px !important;
  overflow: hidden;
  transition: all 200ms ease;
}

.search-icon-list div {
  line-height: 40px;
  transition: all 250ms ease;
}

.search-icon-list i {
  line-height: 40px;
  width: 30px;
  text-align: center;
}

.search-input-square .search input {
  -webkit-appearance: none;
}

.search-input-round .search input {
  border-radius: 15px !important;
  -webkit-appearance: none;
}

.search-input-large input, .search-input-large .search i {
  height: 60px !important;
  line-height: 60px !important;
}

.search [data-search] {
  margin-bottom: 20px !important;
}

.search-input-container .search i {
  position: absolute;
  height: 45px;
  line-height: 45px;
  width: 40px;
  text-align: center;
  font-size: 11px;
  z-index: 2;
}

.search-input-container .search input {
  height: 45px;
  line-height: 45px;
  width: 100%;
  background-color: transparent;
  padding: 0px 0px 0px 40px;
  margin: 0px 0px 0px 0px;
  border: solid 1px rgba(0, 0, 0, 0.15);
}

.search-input-dark .search input::placeholder {
  font-size: 12px;
  color: #cacaca;
}

.search-input-dark .search input {
  background-color: #242631;
  color: #cacaca;
}

.search-input-dark .search i {
  color: #cacaca;
}

.search-input-light .search input::placeholder {
  font-size: 12px;
  color: #888888;
}

.search-input-light .search input {
  background-color: #FFFFFF;
  color: #1f1f1f;
}

.search-input-light .search i {
  color: #1f1f1f;
}

.bg-highlight::placeholder {
  color: #FFFFFF !important;
}

.header-search {
  position: fixed;
  left: 0px;
  right: 0px;
  padding: 8px 10px 0px 10px;
  height: 50px;
  top: 89px;
  z-index: 99;
  background-color: #FFFFFF;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.header-search .fa-search {
  position: absolute;
  z-index: 10;
  font-size: 12px;
  line-height: 27px;
  padding-left: 20px;
  color: #8e8e93;
}

.header-search a {
  position: absolute;
  right: -0px;
  top: 0px;
  width: 43px;
  line-height: 42px;
  color: #8e8e93;
}

.header-search input {
  display: block;
  margin-left: 10px;
  margin-top: -5px;
  padding-left: 30px;
  height: 37px;
  line-height: 37px;
  background-color: #e6e8e9;
  font-size: 12px;
  width: calc(100% - 20px);
  border-radius: 8px !important;
  overflow: hidden;
}

.header-search-effect {
  transform: translateY(-30px);
}