
/*---Snackbar---*/
/*--------------*/
.snackbar {
  position: fixed;
  bottom: 0px;
  z-index: 19;
}

.notification-bar {
  top: 100px;
}

.snackbar p {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 12px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  border-radius: 10px;
  transition: all 250ms cubic-bezier(0.1, 0.2, 0.1, 1);
  background-color: #242631;
  transform: translateY(50px);
  box-shadow: 0 15px 47px 0 rgba(0, 0, 0, .12), 0 5px 14px 0
  rgba(0, 0, 0, .1);
}

.snackbar-boxed {
  left: 10px;
  right: 10px;
}

.snackbar-full {
  left: 0px;
  right: 0px;
  margin-right: 0px;
}

.snackbar-full p {
  border-radius: 0px;
  margin-right: 0px;
}

.snackbar-full .active-snack {
  margin-bottom: 0px !important;
  transform: translateY(0px) !important;
}

.snackbar .bg-white {
  border: solid 1px rgba(0, 0, 0, 0.15);
}

.snackbar .bg-white a {
  color: red !important;
}

.snackbar i {
  width: 35px;
}

.active-snack {
  opacity: 1 !important;
  height: 50px !important;
  transform: translateY(-10px) !important;
  margin-bottom: 15px !important;
  transition: all 250ms cubic-bezier(0.1, 0.2, 0.1, 1);
}

.snackbar a {
  color: #FFFFFF;
  position: absolute;
  right: 0px;
  width: 50px;
  top: 0px;
  text-align: center;
  font-size: 10px;
}

.notification-bar {
  position: fixed;
  transform: translateY(-100px);
  z-index: 9;
  left: 0px;
  right: 0px;
  top: 55px;
  height: 100px;
  transition: all 350ms cubic-bezier(0.1, 0.2, 0.1, 1);
}

.toggle-notification-bar {
  transform: translateY(0px);
}