
/*---Sortable List---*/
/*-------------------*/
.sortable-ghost, .sortable-chosen {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.sortable-list li a {
  border-bottom: none;
}

.sortable-list li {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 20px;
  box-shadow: 0 10px 27px 0 rgba(0, 0, 0, .05), 0 5px 14px 0
  rgba(0, 0, 0, 0.05) !important;
  border: solid 1px rgba(0, 0, 0, 0.05);
}