
/*---Switches---*/
/*--------------*/
.switch-box h5 {
  float: left;
  width: 200px;
  font-weight: 400;
  font-size: 15px;
}

.switch-box div {
  float: right;
}

.switch-box:after {
  content: '';
  display: block;
  clear: both;
}

/*iOS Style*/
.ios-switch {
  position: relative;
  width: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ios-switch-checkbox {
  display: none;
}

.ios-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 27px;
  padding: 0;
  line-height: 20px;
  border: 1px solid #E3E3E3;
  border-radius: 20px;
  background-color: #FFFFFF;
  transition: all 250ms ease;
}

.ios-switch-label:before {
  content: "";
  display: block;
  width: 25px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 19px;
  border: 2px solid #E3E3E3;
  border-radius: 20px;
  transition: all 250ms ease;
}

.ios-switch-checkbox:checked+.ios-switch-label {
  background-color: #A0D468;
}

.ios-switch-checkbox:checked+.ios-switch-label, .ios-switch-checkbox:checked+.ios-switch-label:before {
  border-color: #A0D468;
}

.ios-switch-checkbox:checked+.ios-switch-label:before {
  right: 0px;
}

/*Material Style*/
.material-switch {
  position: relative;
  width: 40px;
  margin-left: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.material-checkbox {
  display: none;
}

.material-label {
  display: block;
  cursor: pointer;
  height: 16px;
  padding: 0;
  line-height: 16px;
  border: 0px solid #FFFFFF;
  border-radius: 22px;
  background-color: #9E9E9E;
}

.material-label:before {
  content: "";
  display: block;
  width: 22px;
  margin: -3px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  border-radius: 22px;
  box-shadow: 0 6px 12px 0px #757575;
  transition: all 250ms ease;
}

.material-checkbox:checked+.material-label {
  background-color: #68A3F0;
}

.material-checkbox:checked+.material-label, .material-checkbox:checked+.material-label:before {
  border-color: #68A3F0;
}

.material-checkbox:checked+.material-label .onoffswitch-inner {
  margin-left: 0;
}

.material-checkbox:checked+.material-label:before {
  right: 0px;
  background-color: #3A76C4;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}