
/*---Tabs---*/
/*----------*/
.tab-item {
  display: none;
}

.active-tab-button {
  background-color: #FFFFFF !important;
  color: #000000 !important;
  border-bottom: solid 1px #A0D468 !important;
  transition: all 500ms ease;
  z-index: 9;
  font-weight: 900 !important;
}

.tab-content {
  border-top-left-radius: 0px !important;
  border-radius: 15px;
}

.tab-titles a {
  display: inline-block;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #666666;
  margin-right: -4px;
  transition: all 500ms ease;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  z-index: 8;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-titles a:last-child {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
}

.tab-content {
  margin-top: -1px;
  padding: 15px 15px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

/*Tabs Pills*/
.tab-pill-titles {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.tab-pill-titles a {
  color: #1f1f1f;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  height: 36px;
  transition: all 250ms ease;
}

.active-tab-pill-button {
  color: #FFFFFF !important;
}

.tab-pill-titles a:last-child {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.tab-pill-titles a:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.header-tabs {
  position: fixed;
  left: 0px;
  right: 0px;
  padding: 8px 10px 0px 10px;
  height: 50px;
  top: 80px;
  z-index: 99;
  background-color: #FFFFFF;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.header-tabs a:first-child {
  border-top-left-radius: 5px;
}

.header-tabs a:first-child {
  border-bottom-left-radius: 5px;
}

.header-tabs a:last-child {
  border-top-right-radius: 5px;
}

.header-tabs a:last-child {
  border-bottom-right-radius: 5px;
}

.header-tabs a {
  float: left;
  font-size: 12px;
  text-align: center;
  border: solid 1px rgba(0, 0, 0, 0.06);
}

.header-tabs a:after {
  content: "";
  display: table;
  clear: both;
}

.header-tabs-effect {
  transform: translateY(-30px);
}