
/*---Toast Box---*/
/*---------------*/
.toast {
  left: 10px;
  right: 10px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  z-index: 99;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 20px 0px 20px;
  pointer-events: none;
  margin-bottom: 0px;
  opacity: 0;
  transition: all 350ms ease;
  border-radius: 10px;
}

.toast-top {
  top: 10px;
}

.toast-bottom {
  bottom: 10px;
}

.toast i {
  position: absolute;
  left: 0px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}

.show-toast {
  opacity: 1 !important;
  transition: all 350ms ease;
}
