
/*---Toggles---*/
/*-------------*/
.read-more-box {
  display: none;
}

.toggle {
  clear: both;
}

.toggle .toggle-content {
  display: none;
}

.toggle-trigger {
  float: right;
  margin-bottom: 15px;
}

.toggle-title {
  float: left;
  cursor: pointer;
  line-height: 30px;
  width: 100%;
  position: absolute;
  font-size: 14px;
}

.toggle-subtitle {
  padding-top: 20px;
  position: absolute;
}

.toggle-content {
  clear: both;
}

.toggle-trigger:after {
  content: "";
  display: table;
  clear: both;
}

.toggle .bg-white {
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6 !important;
}

.toggle span {
  border: solid 1px rgba(0, 0, 0, 0.2) !important;
}

.toggle-1 * {
  transition: all 200ms ease;
  overflow: hidden;
}

.toggle-1 i, .toggle-1 span {
  position: absolute;
}

.toggle-1 i {
  padding: 0px 8px 0px 8px;
  font-size: 10px;
}

.toggle-active .toggle-1 i:last-child {
  opacity: 0 !important;
}

.toggle-active .toggle-1 span {
  transform: translateX(24px) !important;
}

.toggle-1, .toggle-1 i, .toggle-1 span {
  width: 50px;
  height: 27px;
  border-radius: 26px;
  line-height: 26px;
  border: solid 1px rgba(0, 0, 0, 0);
}

.toggle-1 span {
  width: 27px;
  background-color: #FFFFFF;
  border: solid 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0px;
  left: -1px;
}

.toggle-2 * {
  transition: all 200ms ease;
  overflow: hidden;
}

.toggle-2 i, .toggle-2 span {
  position: absolute;
}

.toggle-2 i {
  padding: 0px 10px 0px 10px;
  font-size: 12px;
}

.toggle-active .toggle-2 i:last-child {
  opacity: 0 !important;
}

.toggle-active .toggle-2 span {
  transform: translateX(23px) !important;
}

.toggle-2, .toggle-2 i, .toggle-2 span {
  width: 50px;
  height: 27px;
  border-radius: 26px;
  line-height: 29px;
  border: solid 1px rgba(0, 0, 0, 0);
}

.toggle-2 span {
  width: 23px;
  height: 23px;
  background-color: #FFFFFF;
  border: solid 1px rgba(0, 0, 0, 0.0);
  z-index: 1;
  margin-top: 2px;
  left: 2px;
}

.toggle-3 {
  margin-bottom: 20px;
  margin-top: 5px;
}

.toggle-3 * {
  transition: all 200ms ease;
}

.toggle-3 i, .toggle-3 span {
  position: absolute;
}

.toggle-3 i {
  padding: 0px 13px 0px 13px;
}

.toggle-active .toggle-3 i:last-child {
  opacity: 0 !important;
}

.toggle-active .toggle-3 span {
  transform: translateX(30px) !important;
}

.toggle-3, .toggle-3 i {
  width: 50px;
  height: 15px;
  border-radius: 15px;
  line-height: 13px;
  font-size: 10px;
  border: solid 1px rgba(0, 0, 0, 0);
}

.toggle-3 span {
  width: 22px;
  height: 22px;
  border-radius: 27px;
  background-color: #FFFFFF;
  border: solid 1px rgba(0, 0, 0, 0.15);
  z-index: 1;
  margin-top: -4px;
  left: -1px;
}

.toggle-4 * {
  transition: all 200ms ease;
}

.toggle-4 i, .toggle-4 span {
  position: absolute;
}

.toggle-4 i {
  padding: 0px 8px 0px 8px;
}

.toggle-active .toggle-4 i:last-child {
  opacity: 0;
}

.toggle-active .toggle-4 span {
  transform: translateX(25px);
}

.toggle-4, .toggle-4 i {
  width: 50px;
  height: 25px;
  line-height: 23px;
  font-size: 10px;
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
}

.toggle-4 span {
  border-radius: 3px;
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  z-index: 1;
  left: 2px;
  margin-top: 2px;
}

.toggle-5 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.toggle-5 * {
  transition: all 200ms ease;
}

.toggle-5 i, .toggle-5 span {
  position: absolute;
}

.toggle-5 i {
  padding: 0px 13px 0px 13px;
}

.toggle-active .toggle-5 i:last-child {
  opacity: 0 !important;
}

.toggle-active .toggle-5 span {
  transform: translateX(25px) !important;
}

.toggle-5, .toggle-5 i {
  width: 50px;
  height: 20px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 10px;
  border: solid 1px rgba(0, 0, 0, 0);
}

.toggle-5 span {
  width: 10px;
  height: 30px;
  background-color: #FFFFFF;
  border: solid 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -5px;
  left: 10px;
  border-radius: 3px;
}

.toggle-classic * {
  transition: all 250ms ease;
  overflow: hidden;
}

.toggle-classic {
  width: 50px;
  height: 25px;
}

.toggle-classic i {
  position: absolute;
  right: 0px;
  width: 20px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #1f1f1f;
}

.toggle-classic .fa-plus {
  font-size: 12px;
}

.toggle-classic .fa-chevron-down {
  font-size: 10px;
}

.toggle-classic .fa-circle {
  font-size: 8px;
  color: red;
}

.toggle-active .toggle-classic .fa-plus {
  transform: rotate(45deg) !important;
  color: red;
}

.toggle-active .toggle-classic .fa-chevron-down {
  transform: rotate(180deg) !important;
  color: red;
}

.toggle-active .toggle-classic .fa-circle {
  transform: scale(1.6, 1.6) !important;
  color: limegreen;
}