
/*---Typography---*/
/*----------------*/
p {
  line-height: 28px;
  margin-bottom: 30px;
  font-size: 13px;
}

p>a {
  display: inline;
  text-decoration: none;
}

p>a:hover {
  text-decoration: underline;
}

p>span {
  display: inline;
}

p strong {
  font-size: 13px;
  font-weight: 500;
}

span>a {
  display: inline;
}

a>span {
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

strong a, em a {
  display: inline;
}

h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
  display: inline;
}

table {
  bborder-collapse: separate;
  border-spacing: 0;
  width: 100%;
  clear: both;
  margin-bottom: 27px;
}

th {
  vertical-align: middle;
  font-weight: bold;
}

tr {
  line-height: 18px;
}

td {
  text-align: center;
  padding: 9px 0px 9px 0px;
  line-height: 18px;
  vertical-align: middle;
}

.table tr.even td {
  background: #efefef;
}

.table tr:hover td {
  background: #f8f8f8;
}

tr:hover>td {
  background: #fff;
}

th {
  border-bottom: 1px solid #e9e9e9;
  color: #1f1f1f;
  line-height: 45px;
  background-color: #f6f6f6;
}

td {
  color: #666;
  background-color: #fdfdfd;
}

table {
  background-color: #f6f6f6;
  font-size: 12px;
}

.table-borders-light * {
  border-color: rgba(255, 255, 255, 0.1) !important;
}

ul, ol {
  color: #666666;
  font-size: 13px;
}

ul {
  margin-bottom: 30px;
}

ul ul {
  margin-bottom: 5px;
}

ol ol {
  margin-bottom: 5px;
}

ol {
  margin-bottom: 30px;
}

li {
  line-height: 24px;
  margin-bottom: 5px;
}

ol>li:last-child, ul>li:last-child {
  margin-bottom: 0px;
}

textarea {
  font-family: 'Roboto', sans-serif;
}

sub, sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -15px;
}

sub {
  bottom: 0px;
}

.disabled {
  display: none !important;
}

.center-item {
  margin-left: auto !important;
  margin-right: auto;
}

.font-8 {
  font-size: 8px !important;
}

.font-9 {
  font-size: 9px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-23 {
  font-size: 23px !important;
}

.font-25 {
  font-size: 25px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-27 {
  font-size: 27px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-29 {
  font-size: 29px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-31 {
  font-size: 31px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-33 {
  font-size: 33px !important;
}

.font-34 {
  font-size: 34px !important;
}