 
        <div class="footer">
                <a href="#" class="footer-logo"></a>
                <p class="footer-text">
                  There's nothing that comes close to Apptastic<br />
                  It's the best Mobile Template on Envato
                </p>
                <div class="footer-socials">
                  <a
                    href="#"
                    class="scale-hover icon icon-round no-border icon-xs bg-facebook border-teal-3d"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a
                    href="#"
                    class="scale-hover icon icon-round no-border icon-xs bg-twitter"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a
                    href="#"
                    class="scale-hover icon icon-round no-border icon-xs bg-google"
                    ><i class="fab fa-google-plus-g"></i
                  ></a>
                  <a
                    href="#"
                    class="scale-hover icon icon-round no-border icon-xs bg-phone"
                    ><i class="fa fa-phone"></i
                  ></a>
                  <a
                    href="#"
                    data-menu="menu-share"
                    class="scale-hover icon icon-round no-border icon-xs bg-teal-dark"
                    ><i class="fa fa-retweet font-15"></i
                  ></a>
                  <a
                    href="#"
                    class="scale-hover icon icon-round no-border icon-xs back-to-top bg-blue-dark"
                    ><i class="fa fa-angle-up font-16"></i
                  ></a>
                </div>
                <p class="footer-copyright">
                  Copyright &copy; Enabled <span id="copyright-year">2017</span>. All
                  Rights Reserved.
                </p>
              </div>