<div id="menu-hider"></div>
<div id="menu-list" data-selected="menu-index" data-load="menu-list.html" data-height="415" class="menu-box menu-load menu-bottom"></div>
<div id="menu-demo" data-load="menu-demo.html" data-height="210" class="menu-box menu-load menu-bottom"></div>
<div id="menu-find" data-load="menu-find.html" data-height="420" class="menu-box menu-load menu-bottom"></div>


<div class="header  header-scroll-effect ">
  <div class="header-line-1 header-hidden header-logo-center ">


    <a href="index.html#" class=" header-logo-image">
      <img src="images/momo-logo-mobile-txt.png" width="172" alt="">
    </a>


    <!--<a href="#" class="back-button header-logo-title">Back to Components</a>-->
  <!--  <a href="#" class="back-button header-icon header-icon-1">
      <svg class="svg-inline svg  ">
          <use xlink:href="svg/svg.svg#svg-chevron-left"></use>
      </svg>
    </a>-->

    <a href="index.html#" data-menu="menu-find" class="header-icon header-icon-4">
      <svg class="svg-inline svg  ">
        <use xlink:href="svg/svg.svg#svg-search"></use>
      </svg>
    </a>


    <a href="index.html#" data-menu="sidebar-left-over" class="header-icon header-icon-1">
      <svg class="svg-inline svg  ">
        <use xlink:href="svg/svg.svg#svg-bars"></use>
      </svg>
    </a>


   <!-- <a href="index.html#" data-menu="menu-demo" class="header-icon header-icon-2">
      <svg class="svg-inline svg  ">
        <use xlink:href="svg/svg.svg#svg-cog"></use>
      </svg>
    </a>-->
  </div>


</div>
<div id="sidebar-left-over" data-selected="menu-components" data-title="Sidebar Over" data-subtitle="This Effect Is" data-load="menu-list-2.html" class="menu-box menu-load menu-sidebar-left-over"></div>


<div id="menu-bookmarks" data-height="420" class="menu-box menu-bottom">
  <div class="menu-title">
    <span class="color-highlight">Your read later list</span>
    <h1>Bookmarks</h1>
    <a href="#" class="menu-hide"><i class="fa fa-times"></i></a>
  </div>
  <div class="content bottom-0">
    <div class="menu-bookmark-item">
      <img src="images/empty.png" data-src="images/pictures/8s.jpg" class="preload-image rounded-image shadow-small"
           alt="img">
      <strong>Macbooks are Awesome</strong>
      <span>
                        Typewriters are slowly coming back to style.
                    </span>
    </div>
    <div class="menu-bookmark-item">
      <img src="images/empty.png" data-src="images/pictures/7s.jpg" class="preload-image rounded-image shadow-small"
           alt="img">
      <strong>Coffee is a Must</strong>
      <span>
                        A great way to start a day, is a with a coffee!
                    </span>
    </div>
    <div class="menu-bookmark-item">
      <img src="images/empty.png" data-src="images/pictures/9s.jpg" class="preload-image rounded-image shadow-small"
           alt="img">
      <strong>The Most Beautiful Camera</strong>
      <span>
                        The most elegant design a camera has ever had..
                    </span>
    </div>
    <a href="#" class="button bg-highlight button-s shadow-small uppercase ultrabold button-full button-rounded top-15">View
      More Bookmarks</a>
  </div>
</div>